<div *ngFor="let alert of alerts" class="alert-fixed-div">
  <ngb-alert *ngIf="alert" type="{{cssAlertType(alert)}}" (close)="removeAlert(alert)">{{ alert.message }}</ngb-alert>
</div>
<div>
  <div class="container-appointment-input">
    <div class="filter-box">
      <span class="foot-note">Appointment date</span>
      <div class="date-picker-element">
        <my-date-range-picker name="mydaterange" [options]="myDateRangePickerOptions" [(ngModel)]="datePickerModel"
          (dateRangeChanged)="changeDateRange($event)" #date>
        </my-date-range-picker>
      </div>
    </div>
  </div>

  <div class="ms_container ms_shadow_4" id="tutorial_reschedule_table">
    <table class="table">
      <thead>
        <tr>
          <th class="header-2" colspan="11" style="padding: 0.5vw 1.5vw">Appointment BPJS</th>
        </tr>
        <tr>
          <th><input type="checkbox" (click)="CheckAllOptions()" [(ngModel)]="checkAll"></th>
          <th>Booking Date</th>
          <th width="100px">BPJS Number</th>
          <th>reference Number</th>
          <th width="100px" style="white-space: nowrap">Speciality</th>
          <th>Phone Number</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let r of bpjsAppointments; let i = index">
          <td><input *ngIf="r.hideChecked === false" type="checkbox" style="margin-top: 0.7vw" [(ngModel)]="r.checked" [value]="r.checked"></td>
          <td>{{ r.appointment_date }}</td>
          <td>{{ r.identity_number }}</td>
          <td>{{ r.reference_no }}</td>
          <td style="white-space: nowrap">{{ r.poly_code }}</td>
          <td>{{ r.phone_number_1 }}</td>
          <td *ngIf="r.appointment_id">Complete</td>
          <td *ngIf="!r.appointment_id">Request</td>
          <td><button *ngIf="!r.appointment_id" class="btn fo_btn_green" (click)="openModal(r, searchPatientBpjs)">create apppointment</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  

  <div class="row">
    <div class="col-md-6">
      <div class="pagination-bottom">
        <button *ngIf="isCanPrevPage" (click)="prevPage()" class="btn ms_btn_blue">
          <img src="{{assetPath}}icons/ic_ArrowRight_White.png"> Prev
        </button>
        <span style="width:10px">&nbsp;</span>
        <button *ngIf="isCanNextPage" (click)="nextPage()" class="btn ms_btn_blue">
          Next <img src="{{assetPath}}icons/ic_ArrowLeft_White.png">
        </button>
      </div>
    </div>
    <div class="col-md-6">
      <button class="btn fo_btn_green" style="float: right; margin-right: 1vw; margin-bottom: 1vw;" (click)="checkboxBpjs(notifyBpjs)">
        Update to BPJS
      </button>
    </div>
  </div>

  <ng-template #searchPatientBpjs let-c="close" let-x="dismiss" let-modal>
  <div class="modal-header">
    <div class="header-2 modal-padding">Search Patient Data</div>
  </div>
  <div class="verifyFilter modal-body d-flex justify-content-start">
    <div class="body-text">
      <div>Search name</div>
      <div [ngClass]="{'warningLength': searchPatientModel.patientName && (searchPatientModel.patientName.length < 4)}">
        <input class="form-control" [(ngModel)]="searchPatientModel.patientName">
      </div>
    </div>
    <div class="body-text">
      <div>Search date of birth</div>
      <div class="input-group">
        <input [textMask]="{mask: maskBirth}" type="text" class="form-control" name="birth" [(ngModel)]="searchPatientModel.patientBirth" placeholder="dd-mm-yyyy"/>
      </div>
    </div>
    <div class="verifySearch" (click)="searchPatient()">
      <img src="../../../../assets/icons/ic_Search_white.png">
    </div>
  </div>
  <div style="margin: 15px">
      <strong>Name: </strong>{{patientDetail.name}}<br>
      <strong>Birth date: </strong>{{searchPatientModel.patientBirth}}<br>
      <strong>Phone number: </strong>{{patientDetail.phone_number_1}}<br>
      <strong>Speciality: </strong>{{patientDetail.speciality_name_en}}<br>
      <strong>Appointment date: </strong>{{dateConvert}}<br>
  </div>
  <div *ngIf="(!searchLoader)" class="scrollTable verifyTable">
    <table>
      <thead>
        <tr>
          <th>Patient</th>
          <th>Central</th>
          <th>Local</th>
          <th>Dob</th>
          <th>Mobile</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of patientHope" [ngClass]="{'selectedVerify': patientSelected && (p.name == patientSelected.name && p.mrNo == patientSelected.mrNo)}" (click)="setVerifyPatient(p)">
          <td>{{p.name}}</td>
          <td>{{p.mrNo}}</td>
          <td>{{p.mrNoUnit}}</td>
          <td>{{p.birthDate}}</td>
          <td>{{p.mobileNo1}} <span *ngIf="p.mobileNo2"></span> {{p.mobileNo2}}</td>
          <td>{{p.address}}</td>
        </tr>
      </tbody>
      <tbody *ngIf="!patientHope">
        <tr>
          <td colspan="6" style="text-align: center;">result not found</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="patientHope" style="margin-top: 2vw;"><span style="color: red;">*if you don't choose one of the patients, then will create a new patient</span></div>
  <div class="modal-footer d-flex justify-content-start">
    you want create appointment ?
      <button class="btn ms_btn_blue" (click)="openAppBpjsModal()"
      style="padding: 0.3vw 0vw; width: 10vw; margin-left: 1vw">
        Create Appointment
      </button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn ms_btn_black" data-dismiss="modal" #close_bpjs (click)="modal.close()">Close</button>
  </div>
  </ng-template>

  <ng-template #notifyBpjs let-c="close" let-x="dismiss" let-modal>
    <div class="modal-header" style="padding-bottom: 0px">
      <h4 class="modal-title" style="padding: 4px">Confirmation !</h4>
    </div>
    <div class="modal-body">
      <p style="padding: 1vw 4vw">Are you sure for update to BPJS?</p>
      <div style="text-align: center">
        <button class="ms_btn_border ms_btn_black" style="padding: 0.3vw 0vw; width: 5vw" (click)="modal.close()">Cancel</button>
        <button class="ms_btn_border ms_btn_red" style="padding: 0.3vw 0vw; width: 5vw" (click)="updateBpjs()" (click)="modal.close()">Yes</button>
      </div>
  </div>
  </ng-template>