<!-- Modal -->
<div class="modal-header">
  <div class="header-2 modal-padding">Search Patient Data</div>
</div>
<div class="verifyFilter modal-body d-flex justify-content-start">
  <div class="body-text">
    <div>Search name</div>
    <div [ngClass]="{'warningLength': searchPatientModel.patientName && (searchPatientModel.patientName.length < 4)}">
      <input class="form-control" [(ngModel)]="searchPatientModel.patientName">
    </div>
  </div>
  <div class="body-text">
    <div>Search date of birth</div>
    <div class="input-group">
      <input [textMask]="{mask: maskBirth}" type="text" class="form-control" name="birth"
        [(ngModel)]="searchPatientModel.patientBirth" placeholder="dd-mm-yyyy" />
    </div>
  </div>
  <div class="verifySearch" (click)="searchPatient()">
    <img src="{{assetPath}}icons/ic_Search_white.png">
  </div>
</div>

<div style="margin: 15px" *ngIf="specialist">
  <strong>Doctor Name: </strong>{{appointmentAidoSelected.doctor_name}}<br>
  <strong>Specialty: </strong>{{specialist}}<br>
  <strong>Appointment Date: </strong>{{appointmentAidoSelected.appointment_date}}<br>
  <strong>Appointment Time: </strong>{{appointmentAidoSelected.appointment_from_time}} -
  {{appointmentAidoSelected.appointment_to_time}}<br>
</div>

<div *ngIf="(patientHope && !searchLoader)" class="scrollTable verifyTable">
  <table>
    <thead>
      <tr>
        <th>Patient</th>
        <th>Central</th>
        <th>Local</th>
        <th>Dob</th>
        <th>Mobile</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of patientHope"
        [ngClass]="{'selectedVerify': patientSelected && (p.name == patientSelected.name && p.mrNo == patientSelected.mrNo)}"
        (click)="setVerifyPatient(p)">
        <td>{{p.name}}</td>
        <td>{{p.mrNo}}</td>
        <td>{{p.mrNoUnit}}</td>
        <td>{{p.birthDate}}</td>
        <td>{{p.mobileNo1}} <span *ngIf="p.mobileNo2"></span> {{p.mobileNo2}}</td>
        <td>{{p.address}}</td>
      </tr>
      <tr *ngIf="patientHope?.length === 0">
        <td colspan="10" style="text-align: center;">result not found</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal-footer">
  <button type="button" class="btn ms_btn_black" data-dismiss="modal" (click)="close()">Close</button>
  <button [ngClass]="{'disable': !patientSelected && !contactId}" type="button" class="btn ms_btn_green"
    data-toggle="modal" data-target="#confirming" data-dismiss="modal"
    (click)="openConfirmationModal(verify_patient_modal)">Verify Appointment</button>
  <button [ngClass]="{'disable': patientSelected }" type="button" class="btn ms_btn_red"
  data-toggle="modal" data-target="#confirming" data-dismiss="modal"
  (click)="openConfirmationModal(create_patient_modal)">Create Patient</button>
</div>

<ng-template #create_contact let-modal>
  <div class="modal-dialog" role="document" style="margin-top: 10%">
    <div class="modal-content">
      <div class="modal-header">
        <div class="header-2 modal-padding">Create Contact Confirmation</div>
      </div>
      <div class="modal-body">
        Are you sure to create New Contact?
      </div>
      <div *ngIf="createContactLoader" class="loading-div">
        <img src="{{assetPath}}icons/Logo-Animation---S(FAST).gif">
      </div>

      <div *ngIf="!isSuccessCreateContact" class="modal-footer">
        <p *ngIf="createContactMsg">{{createContactMsg}}</p>
        <button type="button" class="btn ms_btn_black" (click)="modal.close()">Cancel</button>
        <button class="btn ms_btn_green" [ngClass]="{'disable': createContactLoader}"
          (click)="createContact()">Confirm</button>
      </div>
      <div *ngIf="isSuccessCreateContact" class="modal-footer">
        <p>New contact created.</p>
        <button class="btn ms_btn_black" (click)="modal.close()">Close</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #move_to_appointment let-modal>
  <div class="modal-dialog" role="document" style="margin-top: 10%">
    <div class="modal-content">
      <div class="modal-header">
        <div class="header-2 modal-padding">Create Contact Confirmation</div>
      </div>
      <div *ngIf="!isSuccessVerifyApp" class="modal-body">
        Are you sure?
      </div>
      <div *ngIf="isSuccessVerifyApp" class="modal-body">
        <p>Verification Appointment Successfully</p>
      </div>

      <div *ngIf="!isSuccessVerifyApp" class="modal-footer">
        <button type="button" class="btn ms_btn_black" (click)="modal.close()">Cancel</button>
        <button class="btn ms_btn_green" (click)="verifyTempAppointmentTwo()">Confirm</button>
      </div>

      <div *ngIf="isSuccessVerifyApp" class="modal-footer">
        <button class="btn ms_btn_black" (click)="closeAll()">Close</button>
      </div>
    </div>
  </div>
</ng-template>

<!-- Modal -->
<ng-template #verify_patient_modal let-modal>
  <div class="modal-header">
    <div class="header-2 modal-padding">Verify Appointment Confirmation</div>
  </div>
  <div class="modal-body">
    <strong>Name:</strong> {{patientSelected.name}}<br>
    <strong>Birth Date:</strong> {{patientSelected.birthDate}}<br>
    <strong>Mobile No:</strong> {{patientSelected.mobileNo1}} <span *ngIf="patientSelected.mobileNo2">,</span>
    {{patientSelected.mobileNo2}}<br>
    <strong>MR No:</strong> {{patientSelected.mrNo}}<br>
    <strong>MR No Unit:</strong> {{patientSelected.mrNoUnit}}<br>
    Are you sure ? This action can't be changed.
  </div>
  <div *ngFor="let alert of alerts">
    <ngb-alert *ngIf="alert" type="{{cssAlertType(alert)}}" (close)="removeAlert(alert)">{{ alert.message }}</ngb-alert>
  </div>
  <div *ngIf="!isSuccessVerifyApp" class="modal-footer">
    <button type="button" class="btn ms_btn_black" (click)="modal.close()">Cancel</button>
    <button class="btn ms_btn_green" [ngClass]="{'disable': flagConfirm}"
      (click)="verifyPatient()">Confirm</button>
  </div>
  <div *ngIf="isSuccessVerifyApp" class="modal-footer">
    <button class="btn ms_btn_black" (click)="closeAll()">Close</button>
  </div>
</ng-template>

<ng-template #create_patient_modal let-modal>
  <div class="modal-header">
    <div class="header-2 modal-padding">Create Patient Confirmation</div>
  </div>
  <div class="modal-body">
    <strong>Name:</strong> {{appointmentAidoSelected.contact_name}}<br>
    <strong>Birth Date:</strong> {{appointmentAidoSelected.date_of_birth}}<br>
    <strong>Mobile No:</strong> {{appointmentAidoSelected.phone_number}}<br>
    Are you sure to create patient ? This action can't be changed.
  </div>
  <div *ngFor="let alert of alerts">
    <ngb-alert *ngIf="alert" type="{{cssAlertType(alert)}}" (close)="removeAlert(alert)">{{ alert.message }}</ngb-alert>
  </div>
  <div *ngIf="!isSuccessVerifyApp" class="modal-footer">
    <button type="button" class="btn ms_btn_black" (click)="modal.close()">Cancel</button>
    <button class="btn ms_btn_green" [ngClass]="{'disable': flagConfirm}"
      (click)="createPatient()">Confirm</button>
  </div>
  <div *ngIf="isSuccessVerifyApp" class="modal-footer">
    <button class="btn ms_btn_black" (click)="closeAll()">Close</button>
  </div>
</ng-template>