<div class="modal-header" style="padding-bottom: 0px">
    <h4 class="modal-title" style="padding: 4px">Confirmation !</h4>
  </div>
  <div class="modal-body">
    <p style="padding: 1vw 4vw">Are you sure to cancel this appointment?</p>
    <div style="text-align: center">
      <button class="ms_btn_border ms_btn_black" style="padding: 0.3vw 0vw; width: 5vw" (click)="close()">Cancel</button>
      <button class="ms_btn_border ms_btn_red" style="padding: 0.3vw 0vw; width: 5vw" (click)="deleteAppointment()">Yes</button>
    </div>
  </div>