<!-- Modal -->
<div class="modal-header">
  <div class="header-2 modal-padding">Search Patient Data</div>
</div>
<div class="verifyFilter modal-body d-flex justify-content-start">
  <div class="body-text">
    <div>Search name</div>
    <div [ngClass]="{'warningLength': searchPatientModel.patientName && (searchPatientModel.patientName.length < 4)}">
      <input class="form-control" [(ngModel)]="searchPatientModel.patientName">
    </div>
  </div>
  <div class="body-text">
    <div>Search date of birth</div>
    <div class="input-group">
      <input [textMask]="{mask: maskBirth}" type="text" class="form-control" name="birth"
        [(ngModel)]="searchPatientModel.patientBirth" placeholder="dd-mm-yyyy" />
    </div>
  </div>
  <div class="verifySearch" (click)="searchPatient()">
    <img src="{{assetPath}}icons/ic_Search_white.png">
  </div>
</div>

<div *ngIf="searchLoader" class="loading-div">
  <img src="{{assetPath}}icons/Logo-Animation---S(FAST).gif">
</div>

<div *ngIf="(patientHope && !searchLoader)" class="scrollTable verifyTable">
  <table>
    <thead>
      <tr>
        <th>Patient</th>
        <th>Central</th>
        <th>Local</th>
        <th>Dob</th>
        <th>Mobile</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody [ngClass]="{'disable': confirmReschedule}">
      <tr *ngFor="let p of patientHope"
        [ngClass]="{'selectedVerify': patientSelected && (p.name == patientSelected.name && p.mrNo == patientSelected.mrNo)}"
        (click)="setVerifyPatient(p)">
        <td>{{p.name}}</td>
        <td>{{p.mrNo}}</td>
        <td>{{p.mrNoUnit}}</td>
        <td>{{p.birthDate}}</td>
        <td>{{p.mobileNo1}} <span *ngIf="p.mobileNo2"></span> {{p.mobileNo2}}</td>
        <td>{{p.address}}</td>
      </tr>
    </tbody>
  </table>

  <div>
  </div>
</div>

<div *ngIf="(!patientHope && !searchLoader)" style="text-align: center; height: 3rem; margin-top: 1rem;">
  Result not found
</div>

<div class="modal-footer d-flex justify-content-start">
  do you want create a patient ?
  <button class="btn ms_btn_blue" (click)="createPatient()" [disabled]="flagDis"
    style="padding: 0.3vw 0vw; width: 7vw; margin-left: 1vw">
    Create Patient
  </button>
</div>

<div class="modal-footer">
  <button type="button" class="btn ms_btn_black" data-dismiss="modal" (click)="close()">Close</button>
  <button [ngClass]="{'disable': !patientSelected && !contactId}" type="button" class="btn ms_btn_green"
    data-toggle="modal" data-target="#confirming" [disabled]="flagDis" data-dismiss="modal" (click)="createApp()">Create Appointment</button>
</div>