<div>
  <h3>This is Car Page</h3>
  <div>
    <h4>Add Car</h4>
    <label>id:
      <input [(ngModel)]="car.id" name="id" placeholder="id"/>
    </label>
    <label>name:
      <input [(ngModel)]="car.name" name="name" placeholder="name"/>
    </label>
    <label>color:
      <input [(ngModel)]="car.color" name="color" placeholder="color"/>
    </label>
    <label>price:
      <input [(ngModel)]="car.price" name="price" placeholder="price"/>
    </label>
    <button (click)="addCar()">Add</button>
    <p>{{formHandlerMessage.message}}</p>
  </div>
</div>
<div>
    <h3>Car List</h3>
    <ul>
        <li *ngFor="let car of carList">{{car.name}} <button (click)="deleteCar(car.id)">x</button></li>
    </ul>
    <button (click)="getCars()">Refresh Data</button>
</div>