<div class="shadow-4 fo_container" style="width: 100%; padding-bottom: 12px">
  <table class="" style="width: 100%">
    <thead>
      <tr>
        <th width="300px">Doctor</th>
        <th>Quota / Hour</th>
        <th>Reservation</th>
        <th>Walk In</th>
      </tr>
    </thead>
    <tbody>
      <tr class="fo_table_body_header">
        <td>
          <input id="myInput" class="form-control" placeholder="Filter by doctor name" (change)="searchDoctor(strName)"
            #strName ngbTooltip="Press 'Enter' to Search">
        </td>
        <td>
        </td>
        <td></td>
        <td></td>
      </tr>
    </tbody>

    <tbody id="quota-list-1" class="quota-list">
      <tr *ngFor="let item of pagedItems">
        <td>{{item.name}}</td>
        <td>{{item.quota}}</td>
        <td>{{item.reservation}}</td>
        <td>{{item.walkin}}</td>
      </tr>
      <tr>
        <td *ngIf="showNotFoundMsg" colspan="4">Displaying no data</td>
        <td *ngIf="showWaitMsg" colspan="4">
          <ngb-progressbar value="1000">Loading...</ngb-progressbar>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div class="fo_view_quota_pagination" style="margin-top: 2rem; text-align:right">
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
    <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
      <a class="page-link" (click)="setPage(1)">
        <img src="{{assetPath}}icons/ic_ArrowFirst@2x.png">
      </a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
      <a class="page-link" (click)="setPage(pager.currentPage - 1)">
        <img class="fo_arrow_big" src="{{assetPath}}icons/ic_ArrowLeft@2x.png">
      </a>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
      <a class="page-link" (click)="setPage(page)">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
      <a class="page-link" (click)="setPage(pager.currentPage + 1)">
        <img class="fo_arrow_big" src="{{assetPath}}icons/ic_ArrowRight@2x.png">
      </a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
      <a class="page-link" (click)="setPage(pager.totalPages)">
        <img src="{{assetPath}}icons/ic_ArrowLast@2x.png">
      </a>
    </li>
  </ul>
</div>