<div>
  <div class="container-appointment-input">
    <div class="filter-box">
      <span class="foot-note">Appointment date</span>
      <div class="date-picker-element">
        <my-date-range-picker name="mydaterange" [options]="myDateRangePickerOptions" [(ngModel)]="datePickerModel"
          (dateRangeChanged)="changeDateRange($event)" #date>
        </my-date-range-picker>
      </div>
    </div>
  </div>

  <div class="ms_container ms_shadow_4" id="tutorial_reschedule_table">
    <table class="table">
      <thead>
        <tr>
          <th class="header-2" colspan="10" style="padding: 0.5vw 1.5vw">TeleConsultation Worklist</th>
        </tr>
        <tr>
          <th>Patient Name</th>
          <th>Date of Birth</th>
          <th>Phone Number</th>
          <th>Address</th>
          <th width="100px" style="white-space: nowrap">App Date</th>
          <th>Appointment Time</th>
          <th>Doctor</th>
          <th>Modified By</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>

        <tr>
          <td>
            <div class="inner-addon right-addon">
              <input type="text" class="form-control filter-input filter" placeholder="Filter by name"
                [(ngModel)]="keywordsModel.patientName" (change)="getAidoWorklist()" />
            </div>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td style="white-space: nowrap">
            <div class="tab-pane fade show active" id="doctor-pane" role="tabpanel" aria-labelledby="home-tab">
              <div class="form-group">
                <div class="ng-autocomplete" class="angular-autocomplete">
                  <ng-autocomplete placeHolder="Search Doctor..." [data]="doctors" searchKeyword="name"
                    (selected)='getAidoWorklist($event)' [itemTemplate]="itemTemplateDoctor"
                    [notFoundTemplate]="notFoundTemplate">
                  </ng-autocomplete>

                  <ng-template #itemTemplateDoctor let-item>
                    <a [innerHTML]="item.name"></a>
                  </ng-template>

                  <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                  </ng-template>
                </div>
              </div>
            </div>
          </td>
          <td></td>
          <td></td>
        </tr>

        <tr *ngFor="let r of aidoAppointments; let i = index">
          <td>{{r.contact_name != null ? r.contact_name.substr(0,30) : ''}}</td>
          <td>{{ r.date_of_birth }}</td>
          <td>{{ r.phone_number }}</td>
          <td>{{r.delivery_address}}</td>
          <td style="white-space: nowrap">{{ r.appointment_date }}</td>
          <td>{{ r.appointment_from_time }} - {{ r.appointment_to_time }}</td>
          <td>{{ r.doctor_name }}</td>
          <td>{{r.modified_by}}</td>
          <td>
            <div>
              <button (click)="verifyAppointment(r)" class="btn ms_btn_green">Check</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="pagination-bottom">
    <button *ngIf="isCanPrevPage" (click)="prevPage()" class="btn ms_btn_blue">
      <img src="{{assetPath}}icons/ic_ArrowRight_White.png"> Prev
    </button>
    <span style="width:10px">&nbsp;</span>
    <button *ngIf="isCanNextPage" (click)="nextPage()" class="btn ms_btn_blue">
      Next <img src="{{assetPath}}icons/ic_ArrowLeft_White.png">
    </button>
  </div>