::ng-deep .modal_verification .modal-dialog { 
  max-width: 40%;
  width: 40%;
  margin-top: 7vw;
}

.content-appointment-04-group-row {
    padding: 15px;
  }
  
  .content-appointment-04-group-row h3 {
    color:#717171;
  }
  
  .filter-box {
    text-align: right;
    margin-bottom: 15px;
    padding: 0 5px 0 0;
  }
  
  .filter-box select {
    font-size: 14px;
    height: 35px;
  }
  
  .content-appointment-04-group-col {
    /*height: 435px;*/
    min-height:435px;
    padding: 5px;
    background: white;
    border-radius:5px;
  }
  
  .content-appointment-04-group-col table thead th {
    text-align: center;
    vertical-align: middle;
  }
  
  .content-appointment-04-group-col table tbody tr td {
    padding: 4px 5px;
    vertical-align: middle;
  }
  
  
  .ms_container{
    background: white;
    border-radius: 4px;
  }
  .ms_shadow_4{
    box-shadow: 0 1px 4px #d9d9d9;
  }
  
  table th, table td{
    padding: 0.5vw 1.5vw;
  }
  table tr:last-child th{
    background: #F4F4F4;
    color: #1A2269;
  }
  table th, table td{ border: none}
  table th:not(:last-child), table td:not(:last-child){
    border-right: 0.5px solid #C1C1C1;
  }
  table tbody tr:not(:last-child){ border-bottom: 0.5px solid #C1C1C1}
  table thead tr{ border-bottom: #C1C1C1 0.5px solid}
  
  ::ng-deep.page-link, ::ng-deep.page-link:hover{
    color: #4D9B35;
  }
  
  ::ng-deep .page-item.active .page-link{
    background: #4D9B35;
    border-color: #4D9B35;
  }
  
  ::ng-deep .cc_modal_confirmation .modal-dialog{
    max-width: min-content !important;
  }
  ::ng-deep .modal-open {
    overflow-y: hidden !important ;
  }
  
  ::ng-deep .introjs-nextgreybutton {
    color: white !important;
    background: #d9d9d9 !important;
    padding: 0.5em 1em !important;
    text-align: center;
  }
  
  .container-appointment-input{
    display: flex;
    justify-content: flex-start;
  }
  .date-picker-element{
    width: 186px;
  }
  .choose-hospital-element{
    width: 262px;
  }
  .filter-box {
    margin-bottom: 15px;
    padding: 0 5px 0 0;
    text-align: left;
  }
  
  .filter-box select {
    font-size: 14px;
    height: 35px;
  }
  
  ::ng-deep th {
    vertical-align: middle;
  }
  #modalReschedule .modal-dialog {
    max-width: min-content;
    margin: 10% auto;
  }
  
  /*IntroJs*/
  .introjs-fixParent.modal{
    z-index: 9999999!important;
  }
  ::ng-deep .tooltip-top-right-position {
    left: unset !important;
    right: 15px !important;
  }