<div class="fo_container_input_date">
  <label class="foot-note" for="doctor_name">Appointment Date</label>
  <div class="date-picker-element">
      <my-date-range-picker name="mydaterange" [options]="myDateRangePickerOptions" [(ngModel)]="datePickerModel"
        (dateRangeChanged)="changeDateRange($event)" #date>
      </my-date-range-picker>
    </div>
  <div *ngFor="let alert of alerts">
    <ngb-alert *ngIf="alert" type="{{cssAlertType(alert)}}" (close)="removeAlert(alert)">{{ alert.message }}</ngb-alert>
  </div>
</div>

<div class="fo_container_list shadow-4">
  <table class="table table-bordered">
    <thead class="fo_color_blue foot-note">
      <th style="min-width: 14em">
        Patient Name
      </th>
      <th style="white-space: nowrap; text-align: center; min-width: 10em">Date of Birth</th>
      <th style="min-width: 8em">Multiple MR</th>
      <th>Phone No.</th>
      <th>Address</th>
      <th width="100px">App. Date</th>
      <th>App. Time</th>
      <th style="min-width: 13em">
        Doctor
      </th>
      <th>Admission Status</th>
      <th style="min-width: 9em">Modified By</th>
      <th width="90px" style="text-align: center">Action</th>
    </thead>

    <tbody>
      <tr class="fo_header_grey filter-row">
        <td>
          <div class="inner-addon right-addon">
            <i class="glyphicon fa fa-search"></i>
            <input type="text" class="form-control" placeholder="Search name" [(ngModel)]="keywordsModel.patientName"
              (change)="getAidoWorklist()" />
          </div>
        </td>
        <td></td>
        <td>
          <div class="inner-addon right-addon">
            <select id="title" class="form-control" (change)="getAidoWorklist()" [(ngModel)]="keywordsModel.isDoubleMr"
                name="dropDownIsWaitingList">
                <option [ngValue]=undefined [selected]="keywordsModel.isDoubleMr === undefined">ALL</option>
                <option value=false>NO</option>
                <option value=true>YES</option>
              </select>
          </div>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <div class="inner-addon right-addon">
            <i class="glyphicon fa fa-search"></i>
            <div class="ng-autocomplete" class="angular-autocomplete">
              <ng-autocomplete placeHolder="Search Doctor..." [data]="doctors" searchKeyword="name"
                (selected)='getAidoWorklist($event)' (inputCleared)='getAidoWorklist()' [itemTemplate]="itemTemplateDoctor"
                [notFoundTemplate]="notFoundTemplate">
              </ng-autocomplete>

              <ng-template #itemTemplateDoctor let-item>
                <a [innerHTML]="item.name"></a>
              </ng-template>

              <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
            </div>
          </div>
        </td>
        <td>
          <div class="inner-addon right-addon">
            <select id="title" class="form-control" (change)="getAidoWorklist()" [(ngModel)]="keywordsModel.admStatus"
                name="dropDownIsWaitingList">
                <option [ngValue]=undefined [selected]="keywordsModel.admStatus === undefined">ALL</option>
                <option value=1>Not Processed</option>
                <option value=2>Success</option>
                <option value=3>Failed</option>
              </select>
          </div>
        </td>
        <td></td>
        <td></td>
      </tr>

      <tr *ngFor="let r of aidoAppointments; let i = index">
        <td style="text-transform: uppercase">
          {{ r.contact_name }}
        </td>
        <td style="width: 1%;">{{ r.date_of_birth }}</td>
        <td style="text-align: center; white-space: nowrap; width: 1%">
          <div>
            <div *ngIf="r.is_double_mr == true">
              <span>YES</span>
            </div>
            <div *ngIf="r.is_double_mr == false">
              <span>NO</span>
            </div>
          </div>
        </td>
        <td style="text-align: center">{{ r.phone_number }}</td>
        <td style="text-align: center; white-space: nowrap;">{{r.delivery_address}}</td>
        <td style="text-align: center; white-space: nowrap;">{{ r.appointment_date }}</td>
        <td style="min-width: 8em">{{ r.appointment_from_time }} - {{ r.appointment_to_time }}</td>
        <td class="kolom-type">{{ r.doctor_name }}</td>
        <td style="text-align: center">
          <div style="color: white;">
            <div style="background: yellow; border-radius: 2em;" *ngIf="r.admission_status_id == 1">
              <span>Not Processed</span>
            </div>
            <div style="background: green; border-radius: 2em;" *ngIf="r.admission_status_id == 2">
              <span>Success</span>
            </div>
            <div style="background: red; border-radius: 2em;" *ngIf="r.admission_status_id == 3">
              <span>Failed</span>
            </div>
          </div>
        </td>
        <td style="text-align: center; font-size: 11px;">{{r.modified_by}}</td>
        <td style="text-align: center; width: 4vw">
        <div *ngIf="r.admission_status_id != 2">
          <div *ngIf="r.is_double_mr === true">
            <button (click)="verifyAppointment(r)" class="btn ms_btn_blue" style="font-size: 10px;">Verify MR</button>
          </div>
          <div *ngIf="r.is_double_mr === false">
            <button (click)="createAdmModal(r, confirmAdmission)" class="btn ms_btn_green" style="font-size: 11px;">Create</button>
          </div>
        </div>
        </td>
      </tr>

      <tr>
        <td *ngIf="showNotFoundMsg" colspan="11" style="text-align: center;">Displaying no data</td>
        <td *ngIf="showWaitMsg" colspan="11">
          <ngb-progressbar value="1000">Loading...</ngb-progressbar>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<section class="full-width" id="group-list-appointment">
  <button *ngIf="isCanPrevPage" (click)="prevPage()" class="btn ms_btn_blue">
    <img src="{{assetPath}}icons/ic_ArrowRight_White.png"> Prev
  </button>
  <span style="width:10px">&nbsp;</span>
  <button *ngIf="isCanNextPage" (click)="nextPage()" class="btn ms_btn_blue">
    Next <img src="{{assetPath}}icons/ic_ArrowLeft_White.png">
  </button>

  <ng-template #confirmAdmission let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Confirmation</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Are you sure to create admission ?</p>
      <div class="fo_confirmation_button d-flex justify-content-center">
        <button type="button" class="btn fo_btn_green"
          (click)="createAdm()"
          (click)="c('Cross click')">Ok</button>
        <button type="button" class="btn fo_btn_black" (click)="c('Cross click')">Cancel</button>
      </div>
    </div>
  </ng-template>
</section>