.content-appointment-05-group-row {
  padding: 15px;
}

.content-appointment-05-group-row h3 {
  color:hsl(0, 0%, 44%);
}

.custom-message {
  display: inline; /* the default for span */
  width: 200px;
  height: 30px;
  padding: 5px;
  border: 0px;  
  background-color: crimson;
  color: white;
  border-radius: 3px;
}

.filter-box {
  text-align: right;
  margin-bottom: 15px;
  padding: 0 5px 0 0;
}

.filter-box select {
  font-size: 14px;
  height: 35px;
}

.content-appointment-05-group-col {
  /*height: 435px;*/
  min-height:435px;
  padding: 5px;
  background: white;
  border-radius:5px;
}

.content-appointment-05-group-col table thead th {
  text-align: center;
  vertical-align: middle;
}

.content-appointment-05-group-col table tbody tr td {
  padding: 4px 5px;
  vertical-align: middle;
}


.ms_container{
  background: white;
  border-radius: 4px;
}
.ms_shadow_4{
  box-shadow: 0 1px 4px #d9d9d9;
}

.ms_container {
  margin-bottom: 2em;
}
table {
  font-size: 1em;
  width: 100%;
}
table th, table td{
  padding: 1em 1em;
}
table tr:last-child th{
  background: #F4F4F4;
  color: #1A2269;
}
table th, table td{ border: none}
table th:not(:last-child), table td:not(:last-child){
  border-right: 0.5px solid #C1C1C1;
}
table tbody tr:not(:last-child){ border-bottom: 0.5px solid #C1C1C1}
table thead tr{ border-bottom: #C1C1C1 0.5px solid}

.dateCol {
  white-space: nowrap;
}

::ng-deep.page-link, ::ng-deep.page-link:hover{
  color: #4D9B35;
}

::ng-deep .page-item.active .page-link{
  background: #4D9B35;
  border-color: #4D9B35;
}

::ng-deep .cc_modal_confirmation .modal-dialog{
  max-width: min-content !important;
}
::ng-deep .modal-open {
  overflow-y: hidden !important ;
}

::ng-deep .introjs-nextgreybutton {
  color: white !important;
  background: #d9d9d9 !important;
  padding: 0.5em 1em !important;
  text-align: center;
}

.container-appointment-input{
  display: flex;
  justify-content: flex-start;
}
.date-picker-element{
  width: 186px;
}
.choose-hospital-element{
  width: 262px;
}
.filter-box {
  margin-bottom: 15px;
  padding: 0 5px 0 0;
  text-align: left;
}

.filter-box select {
  font-size: 14px;
  height: 35px;
}

::ng-deep th {
  vertical-align: middle;
}
#modalReschedule .modal-dialog {
  max-width: min-content;
  margin: 10% auto;
}

.filler-05 {
  width: 0.5em;
}
.verifyFilter > div {
  margin-right: 1em;
}
.verifySearch {
  background: #1A2269;
  border-radius: 0.3em;
  padding: 0.42em 1em;
  margin-bottom: 0.1em;
  margin-top: auto;
}
.verifySearch > img{
  width: 1.5em;
  height: 1.5em;
}
.verifyTable table {
  width: 100%;
}
.verifyTable table tr th {
  background: white;
}
.verifyTable table tbody tr:hover {
  background: #4D9B35;
  color: white;
}
.selectedVerify {
  background: #4D9B35;
  color: white;
}

.warningLength {
  position: relative;
}

.warningLength > input {
  border: #F2C22C 0.2em solid;
  box-shadow: none;
}
.warningLength:after {
  position: absolute;
  top: -5em;
  right: 0;
  content: 'Name length must be more than 3';
  padding: 0.5em 1em;
  background: white;
  box-shadow: 0.1em 0.1em 0.3em #c1c1c1;
  animation: opacity 0.2s ease-in;
}

@keyframes opacity {
  from { opacity: 0}
  to { opacity: 1}
}

tbody tr:last-child {
  border-bottom:  #C1C1C1 0.5px solid;
}

.createContactContainer {
  font-size: 1.4em;
  text-align: center;
  margin: 1em;
}
.createContactContainer > div {
  margin: 1em;
}
.bookingSuccess {
  text-align: center;
  font-size: 1.2em;
  color: #4D9B35;
}
.confirmVerify-body {
  display: flex; justify-content: space-between;
  padding: 1em 1em;
  font-size: 1em;
}
.confirmVerify-body > div { margin: auto}
.confirmVerify-body .comparison{
  border-radius: 0.3em;
  border: 0.05em solid #d9d9d9;
  padding: 0.5em 1em;
  width: 100%;
  min-width: 30em;
}

.modal-dialog {
  max-width: 100em;
  width: fit-content;
  margin: 5% auto;
}

#confirming .modal-dialog {
  max-width: 100em;
  width: fit-content;
  margin: 15% auto;
}
.confirmVerify-body .comparison > div {
  padding: 0.5em 0em;
  font-weight: 600;
}
.confirmVerify-body .comparison > div > div{
  font-size: 1.2em;
  font-weight: 400;
}
.confirmVerify-body > div > img {
  width: 3em;
  padding: 0em 1em;
}


#cancelTempModal { text-align: center}
#cancelTempModal .modal-footer { justify-content: center}
.cancelBookConfirmation { padding: 1em 2em}
.cancelBookConfirmation > span{
  font-weight: 600;
}
.scrollTable {
  position: relative;
  overflow-y: auto;
}
.scrollTable tr:first-child th {
  position: sticky;
  top: 0;
  background: white;
}
.scrollTable tr:first-child th:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 0.1em solid #c1c1c1;
}
.scrollTable thead tr:first-child{
  border-bottom: none;
}

.verifyTable {
  max-height: 30em;
}

::ng-deep .page-item.active .page-link {
  z-index: 0;
}


/*IntroJs*/
.introjs-fixParent.modal{
  z-index: 9999999!important;
}
::ng-deep .tooltip-top-right-position {
  left: unset !important;
  right: 15px !important;
}