.select-time {
    width: 55px;
    display: inline;
  }

.select-schedule {
  width: 115px;
  display: inline;
}

.custom-text {
  font-size: 10px; 
  color: red;
}
  
  .block-error-msg {
    color: red;
    min-height: 25px;
    font-weight: bold;
    padding: 0;
  }