.custom-checkbox {
  height: 17px; 
  margin-top: 12px;
}

.select-time {
    width: 55px;
    display: inline;
  }

.select-schedule {
  width: 115px;
  display: inline;
}

.custom-text {
  font-size: 10px; 
  color: red;
}
  
  .block-error-msg {
    color: red;
    min-height: 25px;
    font-weight: bold;
    padding: 0;
  }

  .flag-tele {
    background-color: #6767ff; 
    color: white; 
    border-radius: 5px; 
    padding: 0.2em; 
    font-weight: bold; 
    font-size: 9px; 
    padding-left: 1em; 
    padding-right: 1em;
    margin-left: 2em;
    margin-right: 2em;
  }