/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 15px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: lime;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.fixed_header tbody{
    display:block;
    width: 100%;
    overflow: auto;
    height: 340px;
  }
  
  .fixed_header thead tr {
    border: solid 0.5px #C1C1C1;
    display: block;
  }
  
  .fixed_header th, .fixed_header td {
    padding: 5px;
    text-align: left;
  }
  
  ::ng-deep .modal-header{
    padding: 16px;
  }
  
  .confirmation_button.justify-content-center button{
    margin: 2rem 1rem;
    width: 9rem; height: 2.7rem;
  }
  
  section#doctor-notes {
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 300;
    position: absolute;
    top: 100px;
    width: 1000px;
  }
  
  section#doctor-notes div.row{
    padding:5px;
  }
  
  h4 {
    font-weight: bold;
  }
  
  .table-my-siloam {
    background: white;
  }
  
  .table-my-siloam th h4 {
    color: #171717;
  }
  
  .table-my-siloam th {
    color: #1A2269;
  }
  
  .table-my-siloam th, .table-my-siloam td {
    padding: 5px 25px;
    border: solid 0.5px #C1C1C1;
  }