<div>
  <h3>This is Food Page</h3>
  <div>
    <h4>Add Food</h4>
    <label>id:
      <input [(ngModel)]="food.id" name="id" placeholder="id"/>
    </label>
    <label>name:
      <input [(ngModel)]="food.name" name="name" placeholder="name"/>
    </label>
    <label>price:
      <input [(ngModel)]="food.price" name="price" placeholder="price"/>
    </label>
    <button (click)="addFood()">Add</button>
    <p>{{formHandlerMessage.message}}</p>
  </div>
</div>
<app-widget-foods-detail [food]="foodData"></app-widget-foods-detail>