<div class="fo_create_appointment_container shadow-4">
    <ngb-tabset>
        <ngb-tab title="By Doctor">
          <ng-template ngbTabContent>
              <div class="fo_create_input_panel">
                  <div class="fo_create_input d-flex justify-content-start">
                    <div class="ng-autocomplete" class="angular-autocomplete">
                      <ng-autocomplete
                        placeHolder="Doctor name ..."
                        [(ngModel)]="model.doctor"
                        [data]="doctorList"
                        searchKeyword="name"
                        (selected)='searchSchedule1($event)'
                        [itemTemplate]="itemTemplateDoctor"
                        [notFoundTemplate]="notFoundTemplate"> 
                      </ng-autocomplete>
                      
                      <ng-template #itemTemplateDoctor let-item>
                        <a [innerHTML]="item.name"></a>
                      </ng-template>
                      
                      <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]="notFound"></div>
                      </ng-template>
                    </div>
                  </div>
                  <div class="">
                    <div class="alert alert-warning alert-msg-wait" *ngIf="showWaitMsg">
                      Please wait...
                    </div>
                    <div class="alert alert-danger" *ngIf="showNotFoundMsg">
                      Schedule not found
                    </div>
                  </div>
                </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab title="By Specialist">
            <ng-template ngbTabContent>
                <div class="fo_create_input_panel">
                    <div class=" fo_create_input d-flex justify-content-start">
                      <div class=" form-group">
                        <select class="form-control" [(ngModel)]="model.speciality" name="speciality" (change)="searchSchedule2()" >
                          <option>-----</option>
                          <option *ngFor="let sp of specialities" [ngValue]="sp">{{sp.speciality_name}}</option>
                          <!-- <option *ngFor="let sp of specialities" [ngValue]="sp" [selected] = "sp.specialtyId == spesialist.specialtyId">{{sp.name}}</option> -->
                        </select>
                      </div>
                    </div>
                    <div class="">
                      <div class="alert alert-warning alert-msg-wait" *ngIf="showWaitMsg">
                        Please wait...
                      </div>
                      <div class="alert alert-danger" *ngIf="showNotFoundMsg">
                        Schedule not found
                      </div>
                    </div>
                  </div>
            </ng-template>
          </ngb-tab>
      </ngb-tabset>
      
</div>

<app-widget-doctor-schedule *ngIf="showSchedule"></app-widget-doctor-schedule>



