<div class="" style="width: 100%">
  <div *ngFor="let alert of alerts">
    <ngb-alert *ngIf="alert" type="{{cssAlertType(alert)}}" (close)="removeAlert(alert)">{{ alert.message }}</ngb-alert>
  </div>
  <form style="" #f="ngForm" novalidate>
    <div class="fo_personal_detail_container shadow-4">
      <div class="fo_personal_detail_title header-2">
        <div>Personal Detail</div>
        <button class="btn ms_btn_yellow" type="button" (click)="printForm()">
          <img class="icon" src="{{assetPath}}icons/ic_Print@2x.png">
        </button>
      </div>
      <div class="fo_personal_detail form-group">
        <label for="mrNo" class="font-weight-bold">MR No: &nbsp;</label>{{model.mrlocal}}
        <label for="mrStatus" class="font-weight-bold">MR Status: &nbsp;</label>{{model.mrlocalStatus}}
        <label for="centralMrNo" class="font-weight-bold">Registration Date: &nbsp;</label>{{model.registerDate}}
        <label for="centralMrNo" class="font-weight-bold">Central MR No: &nbsp;</label>{{model.mrCentral}}
        <label for="centralMrNo" class="font-weight-bold">Patient Status: &nbsp;</label>{{model.patientStatusVal}}
        <label for="centralMrNo" class="font-weight-bold">Central Reg. Date: &nbsp;</label>{{model.CentralRegDate}}
        <label for="centralMrNo" class="font-weight-bold">Central Mr Status: &nbsp;</label>{{model.mrStatusVal}}
        <label for="merged" class="font-weight-bold">Merged to Central Mr No: &nbsp;</label>Data Missing
        <label for="deceasedDate" class="font-weight-bold">Deceased Date: &nbsp;</label>Data Missing
      </div>

      <div class="fo_personal_form d-flex justify-content-start">
        <div class="form-group fo_personal_form_left">
          <div class="form-group d-flex justify-content-between">
            <div class="form-pr-name">
              <label for="patientName" class="fo_requirement">Name *</label>
              <input type="text" class="form-control" id="patientName" [(ngModel)]="model.patientName"
                name="patientName" required>
              <span *ngIf="validName" style="color: red; font-size: 9px;">
                *Sorry, only letters (a-z), numbers (0-9), (.), and (,) Are allowed.
              </span>
            </div>
            <div class="form-pr-bdate">
              <label for="birthDate" class="fo_requirement">Birth Date *</label>
              <div class="input-group">
                <input [textMask]="{mask: mask_birth}" type="text" name="birth" placeholder="Search dob"
                  class="form-control" [(ngModel)]="model.birth" placeholder="dd-mm-yyyy" />
                <button type="button" class="fo_btn_search" (click)="findMatchPatient(comparePatient, false)">
                  <img src="{{assetPath}}icons/ic_Search_white@2x.png">
                </button>
              </div>

            </div>
          </div>
          <div class="">
            <label for="spouseName" class="">Spouse Name</label>
            <div class="form-group">
              <input type="text" class="form-control" id="spouseName" [(ngModel)]="model.spouseName" name="spouseName"
                placeholder="(Optional)">
            </div>
            <label for="fatherName" class="">Father Name</label>
            <div class="form-group">
              <input type="text" class="form-control" id="fatherName" [(ngModel)]="model.fatherName" name="fatherName"
                placeholder="(Optional)">
            </div>
            <label for="motherName" class="">Mother Name</label>
            <div class="form-group">
              <input type="text" class="form-control" id="motherName" [(ngModel)]="model.motherName" name="motherName"
                placeholder="(Optional)">
            </div>
          </div>
        </div>
        <div class="fo_personal_form_middle">
          <div class="form-group">
            <div class="form-group">
              <label for="centralMrNo" class="">Title</label>
              <div>
                <select class="form-control" [(ngModel)]="model.title" name="title">
                  <option selected>Optional</option>
                  <option *ngFor="let itr of listTitle" [ngValue]="itr">{{itr.description}}</option>
                </select>
              </div>
            </div>
            <div class="form-pr-sex form-group">
              <label for="centralMrNo" class="">Sex *</label>
              <div>
                <select id="sex" class="form-control" [(ngModel)]="model.sex" name="sex" required>
                  <option *ngFor="let itr of listSex" [ngValue]="itr" [selected]="itr.value == model.sex.value">
                    {{itr.description}}
                  </option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="centralMrNo" class="">Blood Type</label>
              <div>
                <select id="bloodType" class="form-control" [(ngModel)]="model.bloodType" name="bloodType">
                  <option *ngFor="let itr of listBloodType" [ngValue]="itr">{{itr.description}}</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="religion" class="">Religion</label>
              <div>
                <select id="religion" class="form-control" [(ngModel)]="model.religion" name="religion">
                  <option *ngFor="let itr of listReligion" [ngValue]="itr" [selected]="itr.value == model.religion.value">{{itr.description}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="fo_personal_form_right">
          <div class="form-group">
            <label for="marital" class="">Marital Status</label>
            <div class="form-group" style="width: 40%">
              <select id="marital" class="form-control" [(ngModel)]="model.maritalStatus" name="marital">
                <option *ngFor="let itr of listMarital" [ngValue]="itr" [selected]="itr.value == model.maritalStatus.value">{{itr.description}}</option>
              </select>
            </div>
            <div class="form-group form-pr-birth-place">
              <label for="birthPlace" class="">Birth Place *</label>
              <div>
                <input class="form-control" ngui-auto-complete auto-select-first-item="true" max-num-list="10"
                  placeholder="(Required)" value-formatter="name" list-formatter="name" [match-formatted]="true"
                  min-chars="3" [source]="listCity" name="birthPlace" [(ngModel)]="model.birthPlace">
              </div>
            </div>
            <label for="notes" class="">Notes</label>
            <div class="form-group">
              <textarea type="text" class="form-control" id="notes" [(ngModel)]="model.notes" name="notes"
                placeholder="(Optional)"></textarea>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="fo_personal_detail_container shadow-4">
      <ngb-tabset>
        <ngb-tab>
          <ng-template ngbTabTitle><b>Contact Detail</b></ng-template>
          <ng-template ngbTabContent>
            <div id="fo_id_contact_detail">
              <div class="fo_contact_detail fo_personal_form d-flex justify-content-start ">
                <div class="fo_contact_detail_left">
                  <div class="form-group">
                    <div class="form-pr-address">
                      <label for="address" class="">Address *</label>
                      <div class="">
                        <textarea class="form-control" id="comment" [(ngModel)]="model.address" name="address"
                          id="address" required></textarea>
                      </div>
                    </div>
                    <div class="form-pr-city">
                      <label for="city" class="">City *</label>

                      <div class="">
                        <input class="form-control" ngui-auto-complete auto-select-first-item="true" max-num-list="10"
                          placeholder="City" value-formatter="name" list-formatter="name" [match-formatted]="true"
                          min-chars="3" [source]="listCity" name="city" [(ngModel)]="model.city"
                          (change)="getDetailAddress()">
                      </div>
                    </div>

                    <div class="form-pr-district">
                      <label for="city" class="">District *</label>
                      <div class="">
                        <select id="district" class="form-control" (change)="findSubdistrict($event)" name="district"
                          required>
                          <option *ngFor="let itr of listDistrict" [ngValue]="itr"
                            [selected]="itr.district_id == model.district.district_id">{{itr.name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <div class="form-pr-subdistrict" style="width: 60%">
                      <label for="city" class="">Sub District *</label>
                      <div class="">
                        <select id="subdistrict" class="form-control" name="subdistrict"
                          (change)="selectSubdistrict($event)" required>
                          <option *ngFor="let itr of listSubdistrict" [ngValue]="itr"
                            [selected]="itr.sub_district_id == model.subdistrict.sub_district_id">{{itr.name}}</option>
                        </select>
                      </div>
                    </div>
                    <div>
                      <label for="postCode" class="">Post Code</label>
                      <div class="">
                        <input type="text" class="form-control" id="postCode" [(ngModel)]="model.postCode"
                          name="postCode" placeholder="(Optional)">
                      </div>
                    </div>
                  </div>
                  <div class="form-pr-nationality">
                    <label for="nationality" class="">Nationality *</label>
                    <div class="">
                      <input class="form-control" ngui-auto-complete auto-select-first-item="true" max-num-list="10"
                        placeholder="Nationality" value-formatter="name" list-formatter="name" [match-formatted]="true"
                        min-chars="3" [source]="listCountry" name="nationality" [(ngModel)]="model.nationality">
                    </div>
                  </div>
                </div>
                <div class="fo_contact_detail_middle">
                  <div class="form-pr-mobile1no">
                    <label for="postCode" class="">Mobile No 1 *</label>
                    <div class="">
                      <input type="text" [textMask]="{mask: mask}" class="form-control" id="mobileNo1"
                        [(ngModel)]="model.mobileNo1" name="mobileNo1" placeholder="(Required)">
                    </div>
                    <span class="error-text" *ngIf="flagErrorMobile1">*You must enter 8-15 digits</span>
                  </div>
                  <div class="form-pr-mobile2no">
                    <label for="postCode" class="">Mobile No 2</label>
                    <div class="">
                      <input type="text" [textMask]="{mask: mask}" class="form-control" id="mobileNo2"
                        [(ngModel)]="model.mobileNo2" name="mobileNo2" placeholder="(Optional)">
                    </div>
                    <span class="error-text" *ngIf="flagErrorMobile4">*You must enter 8-15 digits</span>
                  </div>

                  <div class="d-flex justify-content-between">
                    <div class="form-pr-homeno">
                      <label for="postCode" class="">Home Phone No</label>
                      <div class="">
                        <input type="text" [textMask]="{mask: mask}" class="form-control" id="homePhone"
                          [(ngModel)]="model.homePhone" name="homePhone" placeholder="(Optional)">
                      </div>
                      <span class="error-text" *ngIf="flagErrorMobile5">*You must enter 8-15 digits</span>
                    </div>

                    <div class="form-pr-officeno">
                      <label for="postCode" class="">Office Phone No</label>
                      <div class="">
                        <input type="text" class="form-control" [textMask]="{mask: mask}" id="officePhone"
                          [(ngModel)]="model.officePhone" name="officePhone" placeholder="(Optional)">
                      </div>
                      <span class="error-text" *ngIf="flagErrorMobile6">*You must enter 8-15 digits</span>
                    </div>
                  </div>
                  <div class="form-pr-email">
                    <label for="postCode" class="">Email Address *</label>
                    <div>
                      <input type="email" class="form-control" id="email" [(ngModel)]="model.email" name="email" placeholder="(Required)">
                      <span *ngIf="validEmail" style="color: red; font-size: 9px;">*You must enter a valid email address</span>
                    </div>
                  </div>
                  <label for="postCode" class="">Allergy</label>
                  <div class="">
                    <input type="text" class="form-control" [(ngModel)]="model.allergy" name="allergy" id="allergy"
                      placeholder="(Optional)">
                  </div>
                  <div class="d-flex justify-content-between">
                    <div>
                      <label for="city" class="">Payer</label>
                      <div class="">
                        <input class="form-control" ngui-auto-complete auto-select-first-item="true" max-num-list="10"
                          placeholder="Payer Name" value-formatter="name" list-formatter="name" [match-formatted]="true"
                          min-chars="3" [source]="listPayer" name="payer" [(ngModel)]="model.payer"
                          placeholder="(Optional)">
                      </div>
                    </div>
                    <div>
                      <label for="postCode" class="">Payer Id No</label>
                      <div class="">
                        <input type="text" class="form-control" [(ngModel)]="model.payerIdNo" name="payerIdNo"
                          id="payerIdNo" placeholder="(Optional)">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="fo_contact_detail_right">
                  <div class="d-flex justify-content-between">
                    <div class="form-pr-nationalidtype">
                      <label for="city" class="">National Id Type *</label>
                      <div class="">
                        <select id="subdistrict" class="form-control" [(ngModel)]="model.nationalidType"
                          name="nationalidType">
                          <option *ngFor="let itr of listNationalIdType" [ngValue]="itr" [selected]="itr.value == model.nationalidType.value">{{itr.description}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-pr-nationalidno">
                      <label for="postCode" class="">National Id No *</label>
                      <div class="">
                        <input type="text" class="form-control" id="nationalIdNo" [(ngModel)]="model.nationalIdNo"
                          name="nationalIdNo" placeholder="(Required)">
                        <span *ngIf="validInputNo" style="color: red; font-size: 9px;">*You must enter 16 digit ID number</span>
                        <span *ngIf="validInputNoSim" style="color: red; font-size: 9px;">*You must enter 12-14 digit number</span>
                      </div>
                    </div>
                  </div>
                  <label for="scanKTP" class="">Scan KTP</label>
                  <div class="">
                    <input type="file" accept="image/*" class="form-control-file" id="scanKTP"
                      (change)="readUrl($event)">
                    <!-- <img [src]="url" > -->
                  </div>

                  <div class="">
                    <img *ngIf="url" [src]="url" height="100px" width="100px">
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle><b>Permanent Address</b></ng-template>
          <ng-template ngbTabContent>
            <div id="fo_id_permanent_address">
              <div class="fo_permanent_address fo_personal_form">
                <div class="form-group ">
                  <label for="address" class="">Permanent Address</label>
                  <div class="">
                    <textarea class="form-control" s="2" id="comment" [(ngModel)]="model.permanentAddress"
                      name="permanentAddress" id="permanentAddress" placeholder="(Optional)"></textarea>
                  </div>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="form-group ">
                    <label for="city" class="">Permanent City</label>
                    <div class="">
                      <input class="form-control" ngui-auto-complete auto-select-first-item="true" max-num-list="10"
                        placeholder="(Optional)" value-formatter="name" list-formatter="name" [match-formatted]="true"
                        min-chars="3" z-index="2" [source]="listCity" name="permanentCity"
                        [(ngModel)]="model.permanentCity">
                    </div>
                  </div>
                  <div class="form-group ">
                    <label for="postCode" class="">Permanent Post Code</label>
                    <div class="">
                      <input type="text" class="form-control" [(ngModel)]="model.permanentPostCode"
                        name="permanentPostCode" id="permanentPostCode" placeholder="(Optional)">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle><b>Emergency Contact Detail</b></ng-template>
          <ng-template ngbTabContent>
            <div id="fo_id_emergency_contact">
              <div class="form-group fo_emergency_contact fo_personal_form d-flex justify-content-start">
                <div class="fo_emergency_contact_left">
                  <div class="form-pr-contactname">
                    <label for="postCode" class="">Contact Name *</label>
                    <div class="">
                      <input type="text" class="form-control" [(ngModel)]="model.contactName" name="contactName"
                        id="contactName" required>
                    </div>
                  </div>
                  <label for="address" class="">Contact Address</label>
                  <div class="">
                    <textarea class="form-control" s="2" placeholder="(Optional)" [(ngModel)]="model.contactAddress"
                      name="contactAddress" id="contactAddress"></textarea>
                  </div>
                  <label for="city" class="">Contact City</label>
                  <div class="" style="width: 50%">
                    <input class="form-control" ngui-auto-complete auto-select-first-item="true" max-num-list="10"
                      placeholder="(Optional)" value-formatter="name" list-formatter="name" [match-formatted]="true"
                      min-chars="3" [source]="listCity" name="contactCity" [(ngModel)]="model.contactCity">
                  </div>
                </div>


                <div class="fo_emergency_contact_right">
                  <div class="form-pr-contactphoneno">
                    <label for="postCode" class="">Contact Phone No</label>
                    <div class="number">
                      <input type="text" class="form-control" [textMask]="{mask: mask}" [(ngModel)]="model.contactPhone"
                        name="model.contactPhone" id="model.contactPhone" placeholder="(Optional)">
                    </div>
                    <span class="error-text" *ngIf="flagErrorMobile2">*You must enter 8-15 digits</span>
                  </div>
                  <div class="form-pr-contactmobileno">
                    <label for="postCode" class="">Contact Mobile No</label>
                    <div class="number">
                      <input type="text" class="form-control" [textMask]="{mask: mask}"
                        [(ngModel)]="model.contactMobile" name="contactMobile" id="contactMobile"
                        placeholder="(Optional)">
                    </div>
                    <span class="error-text" *ngIf="flagErrorMobile3">*You must enter 8-15 digits</span>
                  </div>
                  <label for="postCode" class="">Contact Email</label>
                  <div class="">
                    <input type="text" class="form-control" id="contactEmail" placeholder="(Optional)"
                      [(ngModel)]="model.contactEmail" name="contactEmail">
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>

    <div class="col-md-12" style="text-align: left">
      <div *ngFor="let alert of alerts">
        <ngb-alert *ngIf="alert" type="{{cssAlertType(alert)}}" (close)="removeAlert(alert)">{{ alert.message }}
        </ngb-alert>
      </div>
    </div>

    <div class="">
      <div class="form-group d-flex justify-content-end">
        <button *ngIf="!isSuccessCreatePatient" type="submit" class="fo_btn_registration fo_btn_save"
          [disabled]="f.submitted && isButtonSave"
          [ngStyle]="{ background: f.submitted && isButtonSave ? '#A5C39F' : '#4D9B35'}"
          (click)="checkSearchPatientHope(comparePatient, true)">Save</button>

        <!-- false if patient failed to saved or not saved yet -->
        <button *ngIf="isSuccessCreatePatient && isFromAppointmentList && !fromBpjs" type="button" [disabled]="buttonCreateAdmission"
          class="fo_btn_registration fo_btn_disabled" [ngClass]="{'fo_btn_create_admission': isFromAppointmentList}"
          (click)="createAdmission(checkInOldPatient)">
          Create Admission
        </button>
        <button *ngIf="isSuccessCreatePatient && isFromVaccineList && !fromBpjs" type="button"
          [disabled]="buttonCreateAdmission" class="fo_btn_registration fo_btn_disabled"
          [ngClass]="{'fo_btn_create_admission': isFromVaccineList}" (click)="createVaccineAdmission()">
          Create Admission
        </button>
        <button *ngIf="isSuccessCreatePatient && isFromAppointmentList && fromBpjs" type="button" [disabled]="buttonCreateAdmission"
          class="fo_btn_registration fo_btn_disabled" [ngClass]="{'fo_btn_create_admission': isFromAppointmentList}"
          (click)="createAdmission(confirmDocument)">
          Create Admission
        </button>

        <!-- false if patient failed to create admission or not created admission yet -->
        <button *ngIf="isSuccessCreatePatient && isSuccessCreateAdmission" type="button" [disabled]="buttonPrintLabel"
          [ngClass]="{'fo_btn_black': !buttonPrintLabel}" class="fo_btn_registration fo_btn_disabled"
          (click)="printPatientLabel(patientLabel)">
          Print Folder <Label></Label>
        </button>
        <!--*ngIf = "isFromAppointmentList"-->

        <button type="button" class="fo_btn_registration fo_btn_reset" (click)="reset()">
          Reset
        </button>
      </div>
    </div>
  </form>
</div>

<ng-template #confirmDocument let-modal let-c="close">
  <div class="modal-header">
    <div class="header-2 modal-padding" *ngIf="selectedCheckIn?.contact_name">{{selectedCheckIn.contact_name}} {{selectedCheckIn.custome_birth_date}} | Document uploads</div>
    <button #cls_confirm_document type="button" class="close" aria-label="Close" (click)="c('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-ca-phoneno form-group row" style="font-weight: bold; margin-top: 1em;">
      <div class="col-md-5">
        <div class="row space-text-two">
          <div class="col-md-12">
            Kartu BPJS*
          </div>
        </div>
        <div class="row space-text-two">
          <div class="col-md-12">
            KTP
          </div>
        </div>
        <div class="row space-text-two">
          <div class="col-md-12">
            Kartu Keluarga
          </div>
        </div>
        <div class="row space-text-two">
          <div class="col-md-12">
            Surat Rujukan/Surat Keterangan*
          </div>
        </div>
        <div class="row space-text-two">
          <div class="col-md-12">
            Surat kontrol
          </div>
        </div>
      </div>
      <div class="col-md-5" style="padding-left: 0;">
        <div class="row space-text">
          <div class="col-md-5" style="padding-left: 0" *ngIf="selectedCheckIn?.bpjs_card_file">
            <span style="margin-left: 2.5em;">
              <a href=":javascript"
              (click)="getImage(selectedCheckIn.bpjs_card_file)"
              target="_blank">View<br></a>
            </span>
          </div>
          <div class="col-md-4" style="padding-left: 0">
            <button type="button" class="btn ms_btn_blue_module" [disabled]="flagFile1 || checkListModel.checkOne === true" (click)="fileInputOne.click()">
              <span *ngIf="!selectedCheckIn?.bpjs_card_file">Upload</span>
              <span *ngIf="selectedCheckIn?.bpjs_card_file">Re-upload</span>
              <input #fileInputOne type="file" (change)="upload($event, 'bpjsCard')" style="display:none;" accept="application/pdf, .jpg, .jpeg"/>
            </button>
          </div>
          <div class="col-md-3">
            <span *ngIf="flagFile1">
              <ngb-progressbar type="success" value="500" [striped]="true" height="2.3rem" [animated]="true">Loading...</ngb-progressbar>
            </span>
          </div>
          <div class="col-md-4" style="padding-left: 0" *ngIf="!selectedCheckIn?.bpjs_card_file">
            <input class="form-control checkbox-upload" type="checkbox" (change)="changeCheckbox('1')" [(ngModel)]="checkListModel.checkOne">
          </div>
        </div>
        <div class="row space-text">
          <div class="col-md-5" style="padding-left: 0" *ngIf="selectedCheckIn?.identity_card_file">
            <span style="margin-left: 2.5em;">
              <a href=":javascript"
              (click)="getImage(selectedCheckIn.identity_card_file)"
              target="_blank">View<br></a>
            </span>
          </div>
          <div class="col-md-4" style="padding-left: 0">
            <button type="button" class="btn ms_btn_blue_module" [disabled]="flagFile2 || checkListModel.checkTwo === true" (click)="fileInputTwo.click()">
              <span *ngIf="!selectedCheckIn?.identity_card_file">Upload</span>
              <span *ngIf="selectedCheckIn?.identity_card_file">Re-upload</span>
              <input #fileInputTwo type="file" (change)="upload($event, 'identityCard')" style="display:none;" accept="application/pdf, .jpg, .jpeg"/>
            </button>
          </div>
          <div class="col-md-3">
            <span *ngIf="flagFile2">
              <ngb-progressbar type="success" value="1000" [striped]="true" height="2.3rem" [animated]="true">Loading...</ngb-progressbar>
            </span>
          </div>
          <div class="col-md-4" style="padding-left: 0" *ngIf="!selectedCheckIn?.identity_card_file">
            <input class="form-control checkbox-upload" type="checkbox" (change)="changeCheckbox('2')" [(ngModel)]="checkListModel.checkTwo">
          </div>
        </div>
        <div class="row space-text">
          <div class="col-md-5" style="padding-left: 0" *ngIf="selectedCheckIn?.family_card_file">
            <span style="margin-left: 2.5em;">
              <a href=":javascript"
              (click)="getImage(selectedCheckIn.family_card_file)"
              target="_blank">View<br></a>
            </span>
          </div>
          <div class="col-md-4" style="padding-left: 0">
            <button type="button" class="btn ms_btn_blue_module" [disabled]="flagFile3 || checkListModel.checkThree === true" (click)="fileInputThree.click()">
              <span *ngIf="!selectedCheckIn?.family_card_file">Upload</span>
              <span *ngIf="selectedCheckIn?.family_card_file">Re-upload</span>
              <input #fileInputThree type="file" (change)="upload($event, 'familyCard')" style="display:none;" accept="application/pdf, .jpg, .jpeg"/>
            </button>
          </div>
          <div class="col-md-3">
            <span *ngIf="flagFile3">
              <ngb-progressbar type="success" value="1000" [striped]="true" height="2.3rem" [animated]="true">Loading...</ngb-progressbar>
            </span>
          </div>
          <div class="col-md-4" style="padding-left: 0" *ngIf="!selectedCheckIn?.family_card_file">
            <input class="form-control checkbox-upload" type="checkbox" (change)="changeCheckbox('3')" [(ngModel)]="checkListModel.checkThree">
          </div>
        </div>
        <div class="row space-text">
          <div class="col-md-5" style="padding-left: 0" *ngIf="selectedCheckIn?.refference_letter_file">
            <span style="margin-left: 2.5em;">
              <a href=":javascript"
              (click)="getImage(selectedCheckIn.refference_letter_file)"
              target="_blank">View<br></a>
            </span>
          </div>
          <div class="col-md-4" style="padding-left: 0">
            <button type="button" class="btn ms_btn_blue_module" [disabled]="flagFile4 || checkListModel.checkFour === true" (click)="fileInputFour.click()">
              <span *ngIf="!selectedCheckIn?.refference_letter_file">Upload</span>
              <span *ngIf="selectedCheckIn?.refference_letter_file">Re-upload</span>
              <input #fileInputFour type="file" (change)="upload($event, 'referenceLetter')" style="display:none;" accept="application/pdf, .jpg, .jpeg"/>
            </button>
          </div>
          <div class="col-md-3">
            <span *ngIf="flagFile4">
              <ngb-progressbar type="success" value="1000" [striped]="true" height="2.3rem" [animated]="true">Loading...</ngb-progressbar>
            </span>
          </div>
          <div class="col-md-4" style="padding-left: 0" *ngIf="!selectedCheckIn?.refference_letter_file">
            <input class="form-control checkbox-upload" type="checkbox" (change)="changeCheckbox('4')" [(ngModel)]="checkListModel.checkFour">
          </div>
        </div>
        <div class="row space-text">
          <div class="col-md-5" style="padding-left: 0" *ngIf="selectedCheckIn?.control_letter_file">
            <span style="margin-left: 2.5em;">
              <a href=":javascript"
              (click)="getImage(selectedCheckIn.control_letter_file)"
              target="_blank">View<br></a>
            </span>
          </div>
          <div class="col-md-4" style="padding-left: 0">
            <button type="button" class="btn ms_btn_blue_module" [disabled]="flagFile5 || checkListModel.checkFive === true" (click)="fileInputFive.click()">
              <span *ngIf="!selectedCheckIn?.control_letter_file">Upload</span>
              <span *ngIf="selectedCheckIn?.control_letter_file">Re-upload</span>
              <input #fileInputFive type="file" (change)="upload($event, 'controlLetter')" style="display:none;" accept="application/pdf, .jpg, .jpeg"/>
            </button>
          </div>
          <div class="col-md-3">
            <span *ngIf="flagFile5">
              <ngb-progressbar type="success" value="1000" [striped]="true" height="2.3rem" [animated]="true">Loading...</ngb-progressbar>
            </span>
          </div>
          <div class="col-md-4" style="padding-left: 0" *ngIf="!selectedCheckIn?.control_letter_file">
            <input class="form-control checkbox-upload" type="checkbox" (change)="changeCheckbox('5')" [(ngModel)]="checkListModel.checkFive">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn ms_btn_green" 
    [disabled]="!(selectedCheckIn.bpjs_card_file && selectedCheckIn.refference_letter_file) && !(checkListModel.checkOne === true && checkListModel.checkFour === true)" 
    (click)="afterUploadCheckIn(checkInOldPatient, cls_confirm_document)">Continue</button>
    <button type="button" class="btn ms_btn_red" (click)="c('Cross click')">Cancel</button>
  </div>
</ng-template>

<ng-template #comparePatient let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="header-2" style="margin-left: 16px; margin-top: 9px">Compare Patient Data</div>
    <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
      <span aria-hidden="true">
        <img src="{{assetPath}}icons/ic_Cross@2x.png">
      </span>
    </button>
  </div>

  <div class="modal-body search-patient-modal">
    <div class="">
      <div class="fo_search_table_header fo_search_table_name">
        <div class="header-3 bold">Patient From Your Input</div>
      </div>

      <div class="">
        <table class="table table-bordered">
          <thead class="fo_search_table_header">
            <th>Name</th>
            <th>Date of Birth</th>
            <th>MR No</th>
            <th>MR Central No.</th>
            <th>Sex</th>
            <th>Address</th>
            <th>City</th>
            <th>Home Phone</th>
            <th>Office Phone</th>
            <th>Mobile No. 1</th>
            <th>Mobile No. 2</th>
            <th>Nationality</th>
            <th>Religion</th>
            <th>BloodType</th>
          </thead>

          <tbody>

            <tr *ngFor="let p of listInputUser; let i=index" (click)="choosePatient(p, false, confirmPick)"
              (click)="c('Cross click')">
              <td> {{ p.patientName }} </td>
              <td> {{ p.viewedBirthDate }} </td>
              <td> {{ p.mrlocal }}</td>
              <td> {{ p.mrCentral }} </td>
              <td>
                <div *ngIf="p.sex">
                  <span>{{p.sex.description}}</span>
                </div>
              </td>

              <td> {{ p.address }} </td>
              <td>
                <div *ngIf="p.city">
                  <span>{{p.city.name}}</span>
                </div>
              </td>
              <td> {{ p.homePhone }} </td>
              <td> {{ p.officePhone }} </td>
              <td> {{ p.mobileNo1 }} </td>
              <td> {{ p.mobileNo2 }} </td>
              <td>
                <div *ngIf="p.nationality">
                  <span>{{p.nationality.name}}</span>
                </div>
              </td>
              <td>
                <div *ngIf="p.religion">
                  <span>{{p.religion.description}}</span>
                </div>
              </td>
              <td>
                <div *ngIf="p.bloodType">
                  <span>{{p.bloodType.description}}</span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="spacer_patient_modal">
      <!--Spacer-->
    </div>
    <div class="">
      <div class="fo_search_table_header fo_search_table_name">
        <div class="header-3 bold">Patient To Compare With</div>
      </div>
      <div class="">
        <table class="table table-bordered">
          <thead class="fo_search_table_header">
            <th>Name</th>
            <th>BirthDate</th>
            <th>Mr No</th>
            <th>CentralMrNo</th>
            <th>Sex</th>
            <th>Address</th>
            <th>City</th>
            <th>HomePhoneNo</th>
            <th>OfficePhoneNo</th>
            <th>Mobile No 1</th>
            <th>Mobile No 2</th>
            <th>Nationality</th>
            <th>Religion</th>
            <th>BloodType</th>
          </thead>

          <tbody>

            <tr *ngFor="let p of listSuggestionPatient; let i=index" (click)="choosePatient(p, true, confirmPick)">
              <td> {{p.name}} </td>
              <td> {{ p.viewedBirthDate }} </td>
              <td>
                <span>{{p.localMrNo}}</span>
              </td>
              <td> {{ p.mrNo }} </td>

              <td>
                <div *ngIf="p.str_sex">
                  <span>{{p.str_sex.description}}</span>
                </div>
              </td>
              <td> {{ p.address }} </td>
              <td>
                <div *ngIf="p.str_city">
                  <span>{{p.str_city.name}}</span>
                </div>
              </td>
              <td> {{ p.homePhoneNo }} </td>
              <td> {{ p.officePhoneNo }} </td>
              <td> {{ p.mobileNo1 }} </td>
              <td> {{ p.mobileNo2 }} </td>
              <td>
                <div *ngIf="p.str_nationality">
                  <span>{{p.str_nationality.name}}</span>
                </div>
              </td>
              <td>
                <div *ngIf="p.str_religion">
                  <span>{{p.str_religion.description}}</span>
                </div>
              </td>
              <td>
                <div *ngIf="p.str_bloodType">
                  <span>{{p.str_bloodType.description}}</span>
                </div>
              </td>
            </tr>
            <tr>
              <td style="text-align: center" colspan="14">
                <div *ngIf="showNotFoundMsg">
                  Displaying no data
                </div>
                <div *ngIf="showWaitMsg">
                  <ngb-progressbar value="1000">Loading...</ngb-progressbar>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div>
          <button type="button" *ngIf="flagPoint" style="float: right; margin-right: 2em; height: 3em; width: 12em" class="btn fo_btn_green" (click)="open(confirmNewPatient)">Create new patient</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #checkInOldPatient let-c="close" let-d="dismiss">
  <div *ngIf="isLoadingCheckEligible" class="spinner"></div>
  <div class="modal-header">
    <span class="modal-title header-2"> {{ selectedCheckIn.contact_name }}&nbsp;|&nbsp;Create Admission</span>
    <button #close_adm type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><img style="width: 1rem;height: 1rem" src="{{assetPath}}icons/ic_Cross@2x.png"></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <div *ngFor="let alert of alerts">
        <ngb-alert *ngIf="alert" type="{{cssAlertType(alert)}}" (close)="removeAlert(alert)">{{ alert.message }}
        </ngb-alert>
      </div>
    </div>
    <div class="fo_create_admission_body ">
      <div class="" style="width: 100%">
        <div class="d-flex justify-content-start">
          <div class="" style="width: 10%; min-width: 60px">
            <label class="">MR No.</label>
            <div class="">
              <input type="text" class="form-control" name="mr_no" [(ngModel)]="selectedCheckIn.medical_record_number"
                readonly>
            </div>
          </div>
          <div style="width: 10%; min-width: 120px">
            <label class="" style="white-space: nowrap;">Reg. admission date</label>
            <div class="input-group">
              <input type="text" class="form-control" name="admission_date" [(ngModel)]="dateAdmission" readonly>
            </div>
          </div>
          <div style="width: -webkit-fill-available;">
            <label class="">Name</label>
            <div class="">
              <input type="text" class="form-control" name="patient" [(ngModel)]="selectedCheckIn.contact_name"
                readonly>
            </div>
          </div>
          <div style="width: 10%; min-width: 100px">
            <label class="">Birth Date</label>
            <div class="input-group">
              <input type="text" class="form-control" name="birthDate" [(ngModel)]="selectedCheckIn.custome_birth_date"
                readonly>
            </div>
          </div>
          <div class="form-group" style="width: -webkit-fill-available">
            <label class="">Address</label>
            <div class="">
              <input type="text" class="form-control" name="address" [(ngModel)]="selectedCheckIn.current_address"
                readonly>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-start">
          <div class="" style="width: 15%; min-width: 100px">
            <label class="">Referal Type</label>
            <div class="">
              <input type="text" class="form-control" name="selfReferal" [(ngModel)]="selectedReferral.description"
                readonly>
            </div>
          </div>
          <div style="width: 15%; min-width: 100px">
            <label class="">Mobile Phone</label>
            <div class="input-group">
              <input type="text" class="form-control" name="phone" [(ngModel)]="selectedCheckIn.phone_number" readonly>
            </div>
          </div>
          <div class="">
            <label class="">Admission Type</label>
            <div class="input-group">
              <input type="text" class="form-control" name="admission_type"
                [(ngModel)]="selectedAdmissionType.description" readonly>
            </div>
          </div>
          <div class="form-group" style="width: 50%">
            <label class="">Doctor</label>
            <div class="input-group">
              <input type="text" class="form-control" name="doctor_name" [(ngModel)]="selectedCheckIn.doctor_name"
                readonly>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-start">
          <div class="" style="width: 50%; min-width: 100px">
            <label class="">Payer Name</label>
            <div class="">
              <input type="text" class="form-control" name="payer_name" [(ngModel)]="patDetail.payerName"
                readonly>
            </div>
          </div>
          <div style="width: 50%; min-width: 100px">
            <label class="">Payer No</label>
            <div class="input-group">
              <input type="text" class="form-control" name="payer_no" [(ngModel)]="patDetail.payerIdNo" readonly>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!selectedCheckIn.admission_id" style="border-top: 0.5px solid #C1C1C1">
        <div class="d-flex justify-content-between">
            <div style="width: 20%">
                <label class="">Patient Type</label>
                <div class="">
                  <select *ngIf="!selectedCheckIn.payer_eligibility" id="title" class="form-control" required (change)="changeCondition($event)"
                    name="dropDownPatientType">
                    <option *ngFor="let itr of patientTypeList" [ngValue]="itr" [disabled]="itr.description == 'EMPLOYEE'"
                      [selected]="(itr.description == patientType.description && nationalIdTypeId == 4) 
                      || (itr.description == patientType.description && nationalIdTypeId == 3)
                      || (itr.description == patientType.description && nationalIdTypeId == 1)
                      || (itr.description == patientType.description && nationalIdTypeId == 2)
                      || (itr.description == patientType.description && nationalIdTypeId == 5)
                      || (itr.description == patientType.description && nationalIdTypeId == '')">
                      {{itr.description}}</option>
                  </select>

                  <select *ngIf="selectedCheckIn.payer_eligibility" id="title" class="form-control"
                  name="dropDownPatientType" [disabled]="true">
                    <option *ngFor="let itr of patientTypeList" [ngValue]="itr" [selected] = "(itr.value == selectedCheckIn.patient_type_id)" > {{ itr.description }}</option>
                  </select>
                  
                  <input type="hidden" name="patientType" [(ngModel)]="patientType">
                </div>
            </div>
            <div style="width: 40%">
              <label class="">Room / Location</label>
              <div class="input-group">
                <select class="form-control" [(ngModel)]="roomHope" name="dropDownRoom">
                  <option *ngFor="let itr of listRoomHope" [ngValue]="itr">
                    {{itr.name}} - {{itr.code}}
                  </option>
                </select>
              </div>
            </div>
            <div style="width: 40%">
            </div>
          </div>
          <div class="payer-wrap" *ngIf="!txtPayer">
            <div class="d-flex justify-content-between">
              <div style="width: 40%; margin-top: 5px;">
                <label class="">Payer</label>
                <div class="" *ngIf = "!selectedCheckIn.payer_eligibility">
                  <input class="form-control" ngui-auto-complete auto-select-first-item="true" max-num-list="20"
                    value-formatter="name" list-formatter="name" [match-formatted]="true" min-chars="3"
                    [source]="listPayer" name="payer" [(ngModel)]="payer" [disabled]="isCreatedEligibility">
                </div>
                <div class="" *ngIf = "selectedCheckIn.payer_eligibility">
                  <input class="form-control" name="payer" [disabled]="isCreatedEligibility" [value]="selectedCheckIn.payer_name ? selectedCheckIn.payer_name : payer.name">
                </div>
              </div>
              <div style="width: 30%; margin-top: 5px;">
                <label class="">Payer No</label>
                <div class="input-group">
                  <input type="text" class="form-control" name="payerNo" [(ngModel)]="payerNo" [disabled]="isCreatedEligibility">
                </div>
              </div>
              <div style="width: 30%; margin-top: 5px;">
                <label class="">Payer Eligibility No</label>
                <div class="input-group">
                  <input type="text" class="form-control" name="payerEligibility" [(ngModel)]="payerEligibility" [value]="payerEligibility"
                    [disabled]="isCreatedEligibility">
                </div>
              </div>
            </div>
            <!-- check if bridging -->
            <div *ngIf="isBridging"> 
              <div class="d-flex justify-content-between">
                <div style="width: 40%; margin-top: 5px;">
                  <label class="">Referral Source</label>
                  <div class="">
                       <input class="form-control"  type="text" name="referralSource" [disabled]="(payer == null || payer == '') || isCreatedEligibility " 
                       placeholder="Click to search" (click)="searchReferralSource()" [value]="referralSource ? referralSource.referralName : ''">
                  </div>
                </div>
                <div style="width: 30%; margin-top: 5px;">
                  <label class="">Referral No</label>
                  <div class="input-group">
                    <input type="text"  class="form-control" name="referralNo" [(ngModel)]="referralNo" [disabled]="isCreatedEligibility">
                  </div>
                </div>
                <div style="width: 30%; margin-top: 5px;">
                  <label class="">Referral Date</label>
                  <div class="input-group">
                    <input class="form-control"
                      name="referralDate"
                      [(ngModel)]="referralDateModel"
                      [maxDate]="getMaxDate()"
                      ngbDatepicker #d="ngbDatepicker"
                      [disabled] = "isCreatedEligibility"
                    >
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div> 
              </div>
            <div class="d-flex justify-content-start">
              <!-- <div style="width: 8%; margin-top: 5px; margin-right: 2px;">
                <label class="">Diagnose</label>
                <div class="">
                  <input class="form-control"  [value]="diagnose ? diagnose.code  ? diagnose.code : '' : ''" readonly>
                </div>
              </div> -->
              <div style="width: 40%; margin-top: 5px;">
                <label class="">Diagnose</label>
                <div class="input-group">
                  <input class="form-control"  placeholder="Click to search"
                  (click)="searchDiagnose()"
                   name="diagnose"  [value]="diagnose ? diagnose.code  + ' - ' + diagnose.name : ''"
                   [disabled]="isCreatedEligibility" >
                </div>
              </div>
              <div style="width: 30%; margin-top: 5px; margin-left: 20px;">
                <label class="">Payer Notes</label>
                <div class="input-group">
                  <input type="text" class="form-control" name="registNotes" [(ngModel)]="registNotes" [disabled]="isCreatedEligibility">
                </div>
              </div>
            </div> 
          </div>
          </div>
          <br>
        <div class="d-flex">
          <div style="width: 10%; margin-top: 5px;">
            <label class="">Form Signed</label>
            <div class="">
              <input class="form-control checkbox-upload" style="margin-left: 1.8em;" type="checkbox" [(ngModel)]="isSigned">
            </div>
          </div>
          <div style="width: 40%; margin-top: 5px;">
            <label class="">Email</label>
            <div class="">
              <input type="text" class="form-control" name="email" [(ngModel)]="email">
            </div>
          </div>
          <div style="width: 30%; margin-top: 5px;">
            <label class="">Notes</label>
            <div class="input-group">
              <input type="text" class="form-control" name="notes" [(ngModel)]="notes">
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="d-flex justify-content-end">
          <button *ngIf="isBridging" style="width: 120px;" type="button" class="fo_btn_admission button btn-primary"
          [disabled]="checkIfBridging()"
          (click)="checkEligible()"
        > Create Eligibility </button>
        <button *ngIf="isBridging" style="width: 120px;" type="button" class="fo_btn_admission button btn-warning"
        [disabled]="txtPayerEligibility"
        (click)="printSjp()"
        > Print Eligibility </button>
          <button *ngIf="!selectedCheckIn.admission_id" class="fo_btn_admission fo_btn_save"
            [disabled]="buttonCreateAdmission || isLoadingCreateAdmission"
            (click)="actionAdmission(confirmCreateAdmissionProcess)">Create Admission</button>
          <button style="width: 120px;" class="fo_btn_admission fo_btn_blue" [disabled]="buttonPatientLabel && !selectedCheckIn.admission_id"
            (click)="printPatientLabel(selectedCheckIn)">Print Patient</button>
          <button class="fo_btn_admission fo_btn_black" [disabled]="buttonPrintQueue && !selectedCheckIn.admission_id"
            (click)="printQueue(queueNumber, close_adm)">Print Queue Number</button>
        </div>
        <div class="modal-message">
          <img *ngIf="isLoadingCreateAdmission"
            src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          <span *ngIf="isLoadingCreateAdmission">Loading... Please wait, we are creating the admission now...</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #confirmCreateAdmissionProcess let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Confirmation</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Patient has outstanding registrations / admissions. Do you want to register / admit patient ?</p>
    <p>Outstanding registration / admission :</p>
    <br>
    <div *ngFor="let itr of listActiveAdmission">
      {{itr.admissionNo}}
    </div>
    <div class="fo_confirmation_button d-flex justify-content-center">
      <button type="button" class="btn fo_btn_green" (click)="processCreateAdmission(selectedCheckIn)"
        (click)="c('Cross click')">Yes</button>
      <button type="button" class="btn fo_btn_black" (click)="c('Cross click')">No</button>
    </div>
  </div>
</ng-template>

<ng-template #queueNumber let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title">Admission <small>| Print Queue Number</small></h3>
    <button #close_button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="!resQueue" class="form-group" [ngStyle]="{'text-align': 'center'}">
      <button class="btn btn-primary col-md-2" [disabled]="buttonReguler"
        (click)="printQueueAction(selectedCheckIn, true, close_button)">Reguler
      </button>
      <button class="btn btn-success col-md-2" [disabled]="buttonVIP"
        (click)="printQueueAction(selectedCheckIn, false, close_button)">VIP
      </button>
    </div>
    <div *ngIf="resQueue" class="form-group" [ngStyle]="{'text-align': 'center'}">
      <button class="btn btn-success" (click)="printQueueTicket(selectedCheckIn)">Print Queue Ticket</button>
    </div>
  </div>
  <div class="modal-footer">
    <div class="form-group">
      <div *ngFor="let alert of alerts">
        <ngb-alert *ngIf="alert" type="{{cssAlertType(alert)}}" (close)="removeAlert(alert)">{{ alert.message }}
        </ngb-alert>
      </div>
    </div>
    <h3 *ngIf="resQueue"> {{ resQueue.name }}</h3>
  </div>
</ng-template>

<ng-template #confirmPick let-modal let-c="close">
  <div class="modal-header">
    <div class="header-2 modal-padding">Confirmation Pick Patient</div>
  </div>
  <div class="modal-body">
    Are you sure?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn ms_btn_black" (click)="c('Cross click')">Cancel</button>
    <button class="btn ms_btn_green" (click)="confirmPatient()">Confirm</button>
  </div>
</ng-template>

<ng-template #confirmNewPatient let-modal let-c="close">
  <div class="modal-header">
    <div class="header-2 modal-padding">Confirmation Create New Patient</div>
  </div>
  <div class="modal-body">
    Are you sure?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn ms_btn_black" (click)="c('Cross click')">Cancel</button>
    <button class="btn ms_btn_green" (click)="newPatient()">Confirm</button>
  </div>
</ng-template>
