<div>
  <div class="container-appointment-input">
    <div class="filter-box">
      <span class="foot-note">Appointment date</span>
      <div class="date-picker-element">
        <my-date-range-picker name="mydaterange" [options]="myDateRangePickerOptions" [(ngModel)]="datePickerModel"
          (dateRangeChanged)="changeDateRange($event)" #date>
        </my-date-range-picker>
      </div>
    </div>
  </div>

  <div style="margin-bottom: 1em;">
    <div class="container-appointment-input">
      <button class="btn fo_btn_white" [ngClass]="{'fo_btn_active': isWorklist}"
      (click)="rescheduleWorklistButton('worklist')" style="margin-right: 2em;">Reschedule Worklist <span class="roundNumber">{{countAppRes}}</span></button>
      <button class="btn fo_btn_white tele-count-button" [ngClass]="{'fo_btn_active': isAido}"
      (click)="rescheduleWorklistButton('aido')" style="margin-right: 2em;">Reschedule Worklist - Tele <span class="roundNumber">{{countAppResAido}}</span></button>
      <button class="btn fo_btn_white" [ngClass]="{'fo_btn_active': isBpjs}"
      (click)="rescheduleWorklistButton('bpjs')">Reschedule Worklist - BPJS <span class="roundNumber">{{countAppResBpjs}}</span></button>
    </div>
  </div>

  <div class="reschedule-worklist" *ngIf="isWorklist">
    <div class="ms_container ms_shadow_4" id="tutorial_reschedule_table">
      <table class="table">
        <thead>
          <tr>
            <th class="header-2" colspan="9" style="padding: 0.5vw 1.5vw">Reschedule Worklist</th>
          </tr>
          <tr>
            <th>Patient Name</th>
            <th width="100px">MR No.</th>
            <th>Date of Birth</th>
            <th width="100px" style="white-space: nowrap">App Date</th>
            <th>Time Slot</th>
            <th>Doctor</th>
            <th>Hospital</th>
            <th>Phone Number</th>
            <th>Note</th>
          </tr>
        </thead>

        <tbody>

          <tr>
            <td>
              <div class="inner-addon right-addon">
                <input type="text" class="form-control filter-input filter" placeholder="Filter by name"
                  [(ngModel)]="keywordsModel.patientName" (change)="getRescheduleWorklist()" />
              </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="white-space: nowrap">
              <div class="tab-pane fade show active" id="doctor-pane" role="tabpanel" aria-labelledby="home-tab">
                <div class="form-group">
                  <div class="ng-autocomplete" class="angular-autocomplete">
                    <ng-autocomplete placeHolder="Search Doctor..." [data]="doctors" searchKeyword="name"
                      (selected)='getRescheduleWorklist($event)' [itemTemplate]="itemTemplateDoctor"
                      [notFoundTemplate]="notFoundTemplate">
                    </ng-autocomplete>

                    <ng-template #itemTemplateDoctor let-item>
                      <a [innerHTML]="item.name"></a>
                    </ng-template>

                    <ng-template #notFoundTemplate let-notFound>
                      <div [innerHTML]="notFound"></div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr *ngFor="let r of rescheduledAppointments; let i = index">
            <td>
              <a href="javascript:void(0)" (click)="openRescheduleModal(r)">
                {{r.patient_name != null ? r.patient_name.substr(0,30) : ''}}</a>
            </td>
            <td>{{ r.medical_record_number }}</td>
            <td>{{ r.birth_date }}</td>
            <td style="white-space: nowrap">{{ r.appointment_date }}</td>
            <td>{{ r.appointment_from_time }} - {{ r.appointment_to_time }}</td>
            <td>{{ r.doctor_name }}</td>
            <td>{{ r.hospital_alias }}</td>
            <td>{{ r.phone_number_1 }}</td>
            <td><a ngbPopover="{{r.note}}" popoverTitle=""
                triggers="mouseenter:mouseleave">{{r.note && r.note.length > 30 ? r.note.substr(0,30)+"..." : r.note}}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="pagination-bottom">
      <button *ngIf="isCanPrevPage" (click)="prevPage()" class="btn ms_btn_blue">
        <img src="{{assetPath}}icons/ic_ArrowRight_White.png"> Prev
      </button>
      <span style="width:10px">&nbsp;</span>
      <button *ngIf="isCanNextPage" (click)="nextPage()" class="btn ms_btn_blue">
        Next <img src="{{assetPath}}icons/ic_ArrowLeft_White.png">
      </button>
    </div>
  </div>

  <div *ngIf="isAido">
    <div class="fo_container_list shadow-4">
      <table class="table table-bordered tele-table">
        <thead class="fo_color_blue foot-note" style="text-align: center;">
          <th style="min-width: 14em">
            Patient Name
          </th>
          <th style="white-space: nowrap; text-align: center; min-width: 11em">Date of Birth</th>
          <th style="min-width: 8em">Multiple MR</th>
          <th>Phone No.</th>
          <th>Address</th>
          <th width="100px">App. Date</th>
          <th style="min-width: 12em;">App. Time</th>
          <th style="min-width: 13em">
            Doctor
          </th>
          <th>Payment Status</th>
          <th>Admission Status</th>
          <th>Channel</th>
          <th>Verify MR</th>
          <th style="min-width: 9em">Modified By</th>
          <th>Action</th>
        </thead>

        <tbody>
          <tr class="fo_header_grey filter-row">
            <td>
              <div class="inner-addon right-addon">
                <i class="glyphicon fa fa-search"></i>
                <input type="text" class="form-control" placeholder="Search name" [(ngModel)]="keywordsModelTwo.patientName"
                  (change)="getAidoWorklist()" />
              </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <div class="inner-addon right-addon">
                <i class="glyphicon fa fa-search"></i>
                <div class="ng-autocomplete" class="angular-autocomplete">
                  <ng-autocomplete placeHolder="Search Doctor..." [data]="doctors" searchKeyword="name" [(ngModel)]="keywordsModelTwo.doctorId"
                    (selected)='getAidoWorklist()' (inputCleared)='getAidoWorklist()' [itemTemplate]="itemTemplateDoctor"
                    [notFoundTemplate]="notFoundTemplate">
                  </ng-autocomplete>

                  <ng-template #itemTemplateDoctor let-item>
                    <a [innerHTML]="item.name"></a>
                  </ng-template>

                  <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                  </ng-template>
                </div>
              </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr class="tele-item" *ngFor="let r of aidoAppointments; let i = index" [ngClass]="{
            'row-pink' : r.appointment_status_id === appStatusId.INACTIVE}">
            <td style="text-transform: uppercase">
              <a ngbPopover="{{r.contact_name}}" popoverTitle=""
                triggers="mouseenter:mouseleave">{{r.patient_name && r.patient_name.length > 30 ?
                   r.patient_name.substr(0,30)+"..." : r.patient_name}}</a>
            </td>
            <td style="width: 1%;">{{ r.birth_date | date: 'dd-MM-yyyy' }}</td>
            <td style="text-align: center; white-space: nowrap; width: 1%">
              <div>
                <div *ngIf="r.is_double_mr == true">
                  <span>YES</span>
                </div>
                <div *ngIf="r.is_double_mr == false">
                  <span>NO</span>
                </div>
              </div>
            </td>
            <td style="text-align: center">{{ r.phone_number }}</td>
            <td style="text-align: center; white-space: nowrap;">
              <a ngbPopover="{{r.delivery_address}}" popoverTitle=""
                triggers="mouseenter:mouseleave">{{r.delivery_address && r.delivery_address.length > 10 ?
                   r.delivery_address.substr(0,10)+"..." : r.delivery_address}}</a>
            </td>
            <td style="text-align: center; white-space: nowrap;">{{ r.appointment_date | date: 'dd-MM-yyyy' }}</td>
            <td style="min-width: 8em">{{ r.appointment_from_time | slice: 0:5 }} - {{ r.appointment_to_time | slice: 0:5 }}</td>
            <td class="kolom-type">
              <a ngbPopover="{{r.doctor_name}}" popoverTitle=""
                triggers="mouseenter:mouseleave">{{r.doctor_name && r.doctor_name.length > 30 ?
                   r.doctor_name.substr(0,30)+"..." : r.doctor_name}}</a>
            </td>
            <td style="text-align: center">
              <div style="color: white;">
                <div style="background:green; border-radius: 1em; padding: 0.2em" *ngIf="r.payment_status_id === payStatus.PAID">
                  <span>Paid</span>
                </div>
                <div style="background: black; border-radius: 1em;" *ngIf="r.payment_status_id === payStatus.UNPAID">
                  <span>Waiting</span>
                </div>
                <div style="background: red; border-radius: 1em;" *ngIf="r.payment_status_id === payStatus.NOTPAID">
                  <span>Cancelled By System</span>
                </div>
              </div>
            </td>
            <td style="text-align: center">
              <div style="color: white;">
                <div style="background: #CFC900; border-radius: 1em; padding: 0.2em" *ngIf="r.admission_status_id == 1">
                  <span>Not Processed</span>
                </div>
                <div style="background: green; border-radius: 1em;" *ngIf="r.admission_status_id == 2">
                  <span>Success</span>
                </div>
                <div style="background: red; border-radius: 1em;" *ngIf="r.admission_status_id == 3">
                  <span>Failed</span>
                </div>
              </div>
            </td>
            <td>
              <div *ngIf="r.channel_id == arrChannel.AIDO">
                <span>AIDO</span>
              </div>
            </td>
            <td>
              <div *ngIf="r.patient_hope_id !== 0 && r.patient_organization_id !== 0 && r.is_double_mr === false">
                <span>Verified</span>
              </div>
            </td>
            <td style="text-align: center; font-size: 11px;">
              <a ngbPopover="{{r.modified_by}}" popoverTitle=""
                triggers="mouseenter:mouseleave">{{r.modified_by && r.modified_by.length > 15 ?
                   r.modified_by.substr(0,15)+"..." : r.modified_by}}</a>
            </td>
            <td>
              <div *ngIf="r.appointment_status_id !== appStatusId.INACTIVE && r.admission_status_id != 2">
                <div class="cell-img-nav d-flex justify-content-center">
                  <div *ngIf="r.appointment_status_id !== appStatusId.INACTIVE
                  && r.eligible_status_id !== eligibleVal.NOT_ELIGIBLE
                  && (r.channel_id === arrChannel.MOBILE_OTHER || r.channel_id === arrChannel.MOBILE)">
                    <button (click)="rescheduleAppointment(r)" class="btn ms_btn_black reschedule-button">Reschedule</button>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td *ngIf="showNotFoundMsg" colspan="15" style="text-align: center;">Displaying no data</td>
            <td *ngIf="showWaitMsg" colspan="15">
              <ngb-progressbar value="1000">Loading...</ngb-progressbar>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <section class="full-width" id="group-list-appointment">
      <button *ngIf="isCanPrevPageTwo" (click)="prevPageAido()" class="btn ms_btn_blue">
        <img src="{{assetPath}}icons/ic_ArrowRight_White.png"> Prev
      </button>
      <span style="width:10px">&nbsp;</span>
      <button *ngIf="isCanNextPageTwo" (click)="nextPageAido()" class="btn ms_btn_blue">
        Next <img src="{{assetPath}}icons/ic_ArrowLeft_White.png">
      </button>
    </section>
  </div>

  <div class="reschedule-worklist" *ngIf="isBpjs">
    <div class="ms_container ms_shadow_4" id="tutorial_reschedule_table">
      <table class="table">
        <thead>
          <tr>
            <th class="header-2" colspan="9" style="padding: 0.5vw 1.5vw">Reschedule Worklist</th>
          </tr>
          <tr>
            <th>Patient Name</th>
            <th width="100px">MR No.</th>
            <th>Date of Birth</th>
            <th width="100px" style="white-space: nowrap">App Date</th>
            <th>Time Slot</th>
            <th>Doctor</th>
            <th>Hospital</th>
            <th>Phone Number</th>
            <th>Note</th>
          </tr>
        </thead>

        <tbody>

          <tr>
            <td>
              <div class="inner-addon right-addon">
                <input type="text" class="form-control filter-input filter" placeholder="Filter by name"
                  [(ngModel)]="keywordsModel.patientName" (change)="getRescheduleWorklistBpjs()" />
              </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="white-space: nowrap">
              <div class="tab-pane fade show active" id="doctor-pane" role="tabpanel" aria-labelledby="home-tab">
                <div class="form-group">
                  <div class="ng-autocomplete" class="angular-autocomplete">
                    <ng-autocomplete placeHolder="Search Doctor..." [data]="doctors" searchKeyword="name"
                      (selected)='getRescheduleWorklistBpjs($event)' [itemTemplate]="itemTemplateDoctor"
                      [notFoundTemplate]="notFoundTemplate">
                    </ng-autocomplete>

                    <ng-template #itemTemplateDoctor let-item>
                      <a [innerHTML]="item.name"></a>
                    </ng-template>

                    <ng-template #notFoundTemplate let-notFound>
                      <div [innerHTML]="notFound"></div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr *ngFor="let r of rescheduledAppointmentsBpjs; let i = index">
            <td>
              <a href="javascript:void(0)" (click)="openRescheduleBpjsModal(r)">
                {{r.patient_name != null ? r.patient_name.substr(0,30) : ''}}</a>
            </td>
            <td>{{ r.medical_record_number }}</td>
            <td>{{ r.birth_date }}</td>
            <td style="white-space: nowrap">{{ r.appointment_date }}</td>
            <td>{{ r.appointment_from_time }} - {{ r.appointment_to_time }}</td>
            <td>{{ r.doctor_name }}</td>
            <td>{{ r.hospital_alias }}</td>
            <td>{{ r.phone_number_1 }}</td>
            <td><a ngbPopover="{{r.note}}" popoverTitle=""
                triggers="mouseenter:mouseleave">{{r.note && r.note.length > 30 ? r.note.substr(0,30)+"..." : r.note}}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="pagination-bottom">
      <button *ngIf="isCanPrevPageBpjs" (click)="prevPageBpjs()" class="btn ms_btn_blue">
        <img src="{{assetPath}}icons/ic_ArrowRight_White.png"> Prev
      </button>
      <span style="width:10px">&nbsp;</span>
      <button *ngIf="isCanNextPageBpjs" (click)="nextPageBpjs()" class="btn ms_btn_blue">
        Next <img src="{{assetPath}}icons/ic_ArrowLeft_White.png">
      </button>
    </div>
  </div>

</div>
