tr th,
tr td {
  padding: 10px 20px;
}
th:not(:last-child),
td:not(:last-child) {
  border-right: 0.5px solid #c1c1c1;
}
tbody tr:not(:last-child) {
  border-bottom: 0.5px solid #c1c1c1;
}
thead tr {
  font-size: 10px;
  color: #1a2269;
}
.fo_table_body_header {
  background: #f4f4f4;
}
.fo_table_body_header td {
  padding: 5px 1rem;
}
.fo_table_body_header td {
  font-size: 10px;
}
.page-item img {
  width: 1rem;
}
.page-item img.fo_arrow_big {
  width: 0.5rem;
}
:host(app-widget-view-quota) {
  width: 50%;
}
::ng-deep .fo_view_quota_pagination .page-item.active .page-link {
  background: #4d9b35;
  color: white;
  border-color: #4d9b35;
}
::ng-deep ngb-progressbar .progress .progress-bar {
  background-color: #4d9b35 !important;
  color: white !important;
}

.btn {
  background-color: #1a2269;
  color: wheat;
  margin: 0;
}

.search-form {
  margin-bottom: 12px;
}

@media only screen and (max-width: 940px) and (min-width: 320px) {
  section#group-doctor-quota {
    zoom: 0.6;
    left: -50px;
    overflow: auto;
    font-size: 22px;
    height: 50%;
  }

  input,
  select {
    font-size: 22px;
  }
}
