<div class="fo_vaccine_container d-print-none">
  <div class="row">
    <div class="col-3">
      <div class="search-form shadow-sm">
        <ngb-tabset type="pills">
          <ngb-tab title="By Code">
            <ng-template ngbTabContent>
              <form (ngSubmit)="searchByCode()" class="mt-2">
                <label for="unique-code">Patient unique code</label>
                <input id="unique-code" name="unique-code" class="form-control" placeholder="Enter patient unique code"
                  [(ngModel)]="uniqueCode" autocomplete="off" />
                <input type="submit" value="Search" class="btn btn-primary mt-2" />
              </form>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="By Name">
            <ng-template ngbTabContent>
              <form (ngSubmit)="searchByNameDob()" class="mt-2">
                <label for="patient-name">Patient name</label>
                <input id="patient-name" name="patient-name" class="form-control" placeholder="Enter patient name"
                  [(ngModel)]="patientName" autocomplete="off" />
                <label for="dob">Date of birth</label>
                <input id="dob" name="dob" class="form-control" placeholder="dd-mm-yyyy" [(ngModel)]="dob"
                  autocomplete="off" [textMask]="{ mask: maskBirth }" />
                <input type="submit" value="Search" class="btn btn-primary mt-2" />
              </form>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
      <div class="consent-result mt-4">
        <div *ngIf="consents.length > 0">
          <div *ngFor="let consent of consents">
            <div class="card shadow-sm" (click)="goToDetail(consent)">
              <div class="card-body">
                <h5 class="card-title">{{ consent.patient_name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                  {{ consent.date_of_birth | date }}
                </h6>
                <h6 class="card-subtitle mb-2 text-muted">
                  {{ consent.mobile_no }}
                </h6>
                <h6 class="card-subtitle mb-2 text-muted" style="font-weight: 700;">
                  {{consent.unique_code}}
                </h6>
              </div>
              <div *ngIf="consent.checkin_date" class="card-footer bg-warning">
                Checked-in
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="showWaitMsg" class="alert alert-warning" role="alert">
          Please wait ...
        </div>
        <div *ngIf="showNotFoundMsg" class="alert alert-danger" role="alert">
          No data found
        </div>
      </div>
    </div>
    <div class="col-9" *ngIf="showDetailConsent && consentInfo.detail.length > 0">
      <div class="consent-detail">
        <div class="consent-detail-header">
          <div>
            <h2 style="text-align: center; margin-bottom: 12px">
              PERSETUJUAN VAKSINASI COVID-19
            </h2>
            <button *ngIf="consentInfo.checkin_date" type="button" disabled class="btn btn-sm btn-warning">Checked-in at
              {{consentInfo.checkin_date}}</button>
          </div>
          <button class="btn ms_btn_yellow" type="button" (click)="printForm()" style="height: fit-content;">
            <img class="icon" src="{{ assetPath }}icons/ic_Print@2x.png" />
          </button>
        </div>
        <hr />
        <form class="" (ngSubmit)="updateConsent()">
          <div class="row">
            <div class="col-6">
              <label for="patient-name">Name</label>
              <input [disabled]="consentInfo.checkin_date !== null" id="patient-name" name="patient-name"
                class="form-control" [(ngModel)]="consentInfo.patient_name" autocomplete="off" />
            </div>
            <div class="col-6">
              <label for="patient-dob">Date of birth</label>
              <input [disabled]="consentInfo.checkin_date !== null" id="patient-dob" name="patient-dob"
                class="form-control" [textMask]="{ mask: maskBirth }" [(ngModel)]="consentInfo.date_of_birth"
                autocomplete="off" />
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label for="patient-mobile">Phone</label>
              <input [disabled]="consentInfo.checkin_date !== null" id="patient-mobile" name="patient-mobile"
                class="form-control" [(ngModel)]="consentInfo.mobile_no" autocomplete="off" />
            </div>
            <div class="col-6">
              <label for="patient-email">Email</label>
              <input [disabled]="consentInfo.checkin_date !== null" id="patient-email" name="patient-email"
                class="form-control" [(ngModel)]="consentInfo.email_address" autocomplete="off" />
            </div>
          </div>
          <div *ngFor="let q of consentInfo.detail" class="mt-2">
            <div class="mb-4">
              <label for="question">{{
                q.is_remarks
                ? q.consent_question_name.split("?")[0] + "?"
                : q.consent_question_name
                }}</label>
              <div *ngIf="
                  (q.is_remarks && q.answer_value === 'Ya') ||
                  q.answer_value === 'yes'
                " class="form-inline">
                <label>{{
                  q.consent_question_name.split("?")[1].split(separator)[0]
                  }}</label><input [disabled]="consentInfo.checkin_date !== null" style="
                    width: 64px;
                    margin-left: 4px;
                    margin-right: 4px;
                    text-align: center;
                  " [(ngModel)]="q.answer_remarks" autocomplete="off" name="answer-remarks"
                  class="form-control" /><label>{{
                  q.consent_question_name.split("?")[1].split(separator)[1]
                  }}</label>
              </div>
              <div>
                <div class="form-check form-check-inline">
                  <input [disabled]="consentInfo.checkin_date !== null" class="form-check-input" type="checkbox"
                    [id]="'checkbox-yes-' + q.consent_question_id" value="Ya" name="checkbox-answer-yes" [checked]="
                      q.answer_value === 'Ya' || q.answer_value === 'yes'
                    " (change)="fieldsChange($event, q.consent_detail_id)" />
                  <label class="form-check-label" for="checkbox-yes">Ya</label>
                </div>
                <div class="form-check form-check-inline">
                  <input [disabled]="consentInfo.checkin_date !== null" class="form-check-input" type="checkbox"
                    [id]="'checkbox-no-' + q.consent_question_id" value="Tidak" name="checkbox-answer-no" [checked]="
                      q.answer_value === 'Tidak' || q.answer_value === 'no'
                    " (change)="fieldsChange($event, q.consent_detail_id)" />
                  <label class="form-check-label" for="checkbox-no">Tidak</label>
                </div>
              </div>
            </div>
          </div>
          <div style="display: flex; justify-content: space-around">
            <input [disabled]="consentInfo.checkin_date !== null" type="submit" value="Save"
              class="btn btn-primary mt-2" />
            <button [disabled]="consentInfo.checkin_date !== null" type="button" class="btn btn-primary mt-2"
              (click)="searchPatientHOPE($event)">
              Search patient data
              <img class="icon" src="{{ assetPath }}icons/ic_Search_white.png" style="width: 1.2em; height: 1.2em" />
            </button>
            <button [disabled]="consentInfo.checkin_date !== null" type="button" class="btn btn-secondary mt-2"
              (click)="goToPatientData()">
              New patient
              <img class="icon" src="../../../../assets/icons/question-sign.svg" style="width: 1.2em; height: 1.2em" />
            </button>
          </div>
        </form>
      </div>
      <div *ngIf="updateStatus !== 'Initial'" [ngClass]="getAlertClass()" role="alert">
        {{ updateStatus }}
      </div>
    </div>
  </div>
</div>

<div class="fo_vaccine_container_print d-none d-print-block" *ngIf="showDetailConsent && consentInfo.detail.length > 0">
  <div class="row">
    <div style="border: 1px solid black; padding: 8px">
      <p style="font-size: 20px; font-weight: 700; margin: 0">
        Code: {{ consentInfo.unique_code }}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-print-12 header-print">
      <img src="../../../../assets/icons/logoSiloam.png" alt="logo" style="max-width: 40%" />
    </div>
  </div>
  <div class="row" style="margin-top: 8px">
    <div class="col-print-6">
      <div class="bordered-box-left">
        <p class="p-hospital-name">{{ key.hospital.name }}</p>
        <p class="p-title-1">PERSETUJUAN VAKSINASI COVID-19</p>
        <p class="p-title-2">COVID-19 VACCINATION CONSENT FORM</p>
      </div>
    </div>
    <div class="col-print-6">
      <div class="bordered-box-right">
        <div class="row" style="margin: 0">
          <div class="col-print-4">
            <p class="p-subtitle">Nama</p>
          </div>
          <div class="col-print-8">
            <p class="p-subtitle">: {{ consentInfo.patient_name }}</p>
          </div>
        </div>
        <div class="row" style="margin: 0">
          <div class="col-print-4">
            <p class="p-subtitle">Tanggal lahir</p>
          </div>
          <div class="col-print-8">
            <p class="p-subtitle">: {{ consentInfo.date_of_birth }}</p>
          </div>
        </div>
        <div class="row" style="margin: 0">
          <div class="col-print-4">
            <p class="p-subtitle">Telepon</p>
          </div>
          <div class="col-print-8">
            <p class="p-subtitle">: {{ consentInfo.mobile_no }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 20px">
    <div class="col-print-12 bordered-content">
      <div class="row" style="margin-top: 8px; margin-left: 0; margin-right: 0">
        <div class="col-print-12">
          <table>
            <thead>
              <tr>
                <th>No</th>
                <th>Pertanyaan</th>
                <th colspan="2">Jawaban</th>
              </tr>
            </thead>
            <tbody *ngFor="let q of consentInfo.detail">
              <tr>
                <td style="text-align: center">{{ q.consent_question_id }}</td>
                <td>
                  {{
                  !q.is_remarks
                  ? q.consent_question_name
                  : q.consent_question_name.replace(
                  separator,
                  q.answer_remarks !== "" ? q.answer_remarks : "..."
                  )
                  }}
                </td>
                <td>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="checkbox-yes" value="Ya"
                      name="checkbox-answer-yes" [checked]="
                        q.answer_value === 'Ya' || q.answer_value === 'yes'
                      " />
                    <label class="form-check-label" for="checkbox-yes">Ya</label>
                  </div>
                </td>
                <td>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="checkbox-yes" value="Tidak"
                      name="checkbox-answer-yes" [checked]="
                        q.answer_value === 'Tidak' || q.answer_value === 'no'
                      " />
                    <label class="form-check-label" for="checkbox-yes">Tidak</label>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="tnc" style="margin-top: 8px">
        <p>
          Yang bertanda tangan di bawah ini menyatakan memahami dan menyetujui bahwa:
        </p>
        <ol>
          <li>
            Bersedia untuk dilakukan vaksinasi COVID-19 yang terdiri dari dua dosis. Dosis kedua vaksin akan diberikan
            di fasilitas kesehatan yang sama dengan pemberian vaksin dosis pertama.</li>
          <li>
            Pemberian vaksin saat ini diprioritaskan untuk individu berusia 18-59 tahun.
          </li>
          <li>
            Risiko yang dapat terjadi sehubungan dengan Vaksinasi COVID-19 antara lain: nyeri dan/atau kemerahan di area
            suntikan, lemah badan, nyeri kepala, nyeri otot, demam ringan, reaksi alergi, dan risiko lainnya yang
            mungkin dapat timbul bergantung pada kondisi tubuh masing-masing.
          </li>
          <li>
            Setelah pemberian vaksin, perlu dilakukan observasi selama 30 menit di fasilitas kesehatan.
          </li>
          <li>
            Pemberian vaksin tidak memberikan kepastian terbebas dari COVID-19. Seseorang yang telah menerima vaksin
            tetap dapat terinfeksi COVID-19, namun dengan derajat penyakit yang lebih ringan.
          </li>
        </ol>
        <p>
          Dengan ini saya menyatakan telah memahami dan menyetujui sepenuhnya pernyataan di atas maupun penjelasan yang
          diberikan. Saya juga menyatakan bahwa informasi yang saya berikan terkait riwayat penyakit saya diatas benar
          adanya dan bertanggung jawab penuh atas informasi riwayat penyakit yang saya berikan diatas.
        </p>
      </div>
      <div class="signature">
        <p>.............., .........................20..........</p>
        <br /><br /><br /><br /><br />
        <p>......................................................</p>
        <p>Nama jelas dan tanda tangan</p>
      </div>
    </div>
  </div>
</div>