<div *ngFor="let alert of alerts">
    <ngb-alert *ngIf="alert" type="{{cssAlertType(alert)}}" (close)="removeAlert(alert)">{{ alert.message }}</ngb-alert>
  </div>
  
  <div class="d-flex justify-content-start fo_container_container_list">
    <div class="fo_validation_list fo_container_list shadow-3">
      <div class="">
        <table class="table">
          <thead>
            <tr>
              <th class="fo_list_header">Mobile Account</th>
            </tr>
          </thead>
          <tbody>
            <tr id="filter-quota" class="fo_grey">
              <td class="fo_validation_filter">
                <div class="input-group">
                  <input class="form-control input-patient" placeholder="Filter by Phone Number" name="searchString"
                    [(ngModel)]="keywords.searchString" (change)="getListAccount()" ngbTooltip="Press 'Enter' to Search">
                </div>
              </td>
            </tr>
            <tr>
              <td *ngIf="showNotFoundMsg" colspan="1">Displaying no data</td>
              <td *ngIf="showWaitMsg" colspan="1">
                <ngb-progressbar value="1000">Loading...</ngb-progressbar>
              </td>
            </tr>
          </tbody>
  
          <tbody class="quota-list">
              <tr *ngFor="let itr of accountList" 
              [ngClass]="{'selectedPatient': selectedAccount && itr.contact_id == selectedAccount.contact_id}" (click)="choosedAccount(itr)">
                <td>
                  <div class="fo_validation_list_name">{{itr.name}}</div>
                  <div class="fo_validation_list_date">{{itr.birth_date}}</div>
                  <div class="fo_validation_list_name">
                    <span>{{itr.phone_number_1}}</span>
                    <span style="float: right;">
                      <span class="mobile-status-1" *ngIf="itr.mobile_status === mobileStatus.ACTIVE && itr.contact_status_id === contactStatus.VERIFIED">
                        <img style="width: 30px; height: 30px" src="../../../../assets/icons/ic_mobile_linked_mr.svg">
                      </span>
                      <span class="mobile-status-2" *ngIf="itr.mobile_status === mobileStatus.ACCESSED">
                        <img style="width: 30px; height: 30px" src="../../../../assets/icons/ic_access_opened.svg">
                      </span>
                    </span>
                  </div>
                </td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
  
    <div class="fo_container_list_2" *ngIf="selectedAccount">
      <div class="row">
        <div class="col-md-12">
          <div style="background-color: white;">
            <div class="progressbar-wrapper" style="height: 7em;">
              <ul class="progressbar" style="margin-left: -21em; margin-right: -18em">
                <li [ngClass]="{'active': (selectedAccount.mobile_status === mobileStatus.ACTIVE 
                && selectedAccount.contact_status_id === contactStatus.VERIFIED) || (selectedAccount.mobile_status === mobileStatus.ACCESSED 
                && selectedAccount.contact_status_id === contactStatus.VERIFIED)}">Mobile Account Linked to MR</li>
                <li [ngClass]="{'active': (selectedAccount.mobile_status === mobileStatus.ACTIVE 
                && selectedAccount.contact_status_id === contactStatus.ACCESSED) || (selectedAccount.mobile_status === mobileStatus.ACCESSED 
                && selectedAccount.contact_status_id === contactStatus.VERIFIED)}">Patient Portal Registered</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div style="background-color: white; margin-top: 1em">
          <div *ngIf="loadingBar" style="text-align: center;">
            <img src="../../../../assets/icons/Logo-Animation---S(FAST).gif" width="200px" height="200px">
          </div>
          <div *ngIf="selectedAccount.mobile_status === mobileStatus.ACTIVE 
              && selectedAccount.contact_status_id === contactStatus.MOBILE_ACTIVE" style="min-height: 19em;">
            <table>
              <thead>
                <th style="width: 19em; padding-left: 1.2em">Date of birth</th>
                <th style="width: 19em; padding-left: 1.2em">Name</th>
                <th></th>
                <th style="width: 4em"></th>
                <th style="width: 18em; padding-left: 0.2em">Local MR</th>
                <th style="width: 4em"></th>
              </thead>
              <tbody>
                <td>
                  <input 
                    style="width: 17em; margin-left: 1em"
                    [textMask]="{mask: mask_birth}"
                    type="text"
                    [(ngModel)]="selectedAccount.birth_date"
                    class="form-control"
                    placeholder="dd-mm-yyyy"/>
                </td>
                <td>
                  <input 
                    style="width: 17em; margin-left: 1em" 
                    class="form-control" 
                    placeholder="Name" 
                    type="text"
                    [(ngModel)]="selectedAccount.name"/>
                </td>
                <td>
                  <button class="btn-grey" type="button" (click)="getSearchedPatient1()">
                    <i style="width: 1em; height: 1.5em" class="fa fa-search"></i>
                  </button>
                </td>
                <td style="text-align: center;">or</td>
                <td>
                  <input 
                  style="width: 17em;" 
                  class="form-control" 
                  placeholder="Local MR" 
                  type="text"
                  [(ngModel)]="mrLocal"></td>
                <td>
                  <button class="btn-grey" type="button" (click)="getSearchedPatient2()">
                    <i style="width: 1em; height: 1.5em" class="fa fa-search"></i>
                  </button>
                </td>
              </tbody>
            </table>
            <table class="table table-bordered" style="margin-top: 1em">
              <thead class="fo_color_blue foot-note">
                <th style="min-width: 14em">Name</th>
                <th style="min-width: 8em">Date of birth</th>
                <th style="white-space: nowrap; text-align: center; min-width: 10em">Central MR</th>
                <th>Hospital</th>
                <th width="100px">Local MR</th>
                <th>Mobile Number</th>
                <th style="min-width: 13em">Address</th>
              </thead>
              <tbody class="quota-list">
                <tr *ngFor="let itr of patientHope"
                [ngClass]="{'selectedPatient': selectPatient 
                && itr.patientId == selectPatient.patientId 
                && itr.patientOrganizationId == selectPatient.patientOrganizationId}" (click)="choosedSearchPatient(itr)">
                  <td>{{itr.name}}</td>
                  <td>{{itr.newBirthDate}}</td>
                  <td>{{itr.mrNo}}</td>
                  <td>{{itr.hospitalAlias}}</td>
                  <td>{{itr.mrNoUnit}}</td>
                  <td>{{itr.mobileNo1}}</td>
                  <td>{{itr.address}}</td>
                </tr>
              </tbody>
              <tbody *ngIf="loadingBarTwo">
                <tr>
                  <td colspan="4" style="text-align: right">
                    <img src="../../../../assets/icons/Logo-Animation---S(FAST).gif" width="200px" height="200px">
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="!patientHope && flagSearch && !loadingBarTwo">
                <tr>
                  <td colspan="7" style="text-align: center;">result not found</td>
                </tr>
              </tbody>
              <tbody *ngIf="patientHope && flagSearch && !loadingBarTwo">
                <tr>
                  <td colspan="7" style="text-align: right">
                    <button type="submit" class="fo_btn_registration fo_btn_save"
                      [disabled]="!selectPatient"
                      [ngStyle]="{ background: !selectPatient ? '#A5C39F' : '#4D9B35'}"
                      data-toggle="modal" 
                      data-target="#confirming" 
                      data-dismiss="modal"
                      (click)="openConfirmationModal(verify_patient)">Verify</button>
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="selectedAccount.mobile_status === mobileStatus.ACTIVE 
            && selectedAccount.contact_status_id === contactStatus.VERIFIED
            && dataContact && dataPatientHope && !loadingBar">
            <div class="row">
              <div class="col-md-9 mob_valid_1" style="margin-top: 1em">
                1. PATIENT DATA FOR DISCLAIMER
              </div>
              <div class="col-md-3 mob_valid_1" style="margin-top: 1em">
                <button class="fo_btn_registration_2 fo_btn_blue" (click)="dataContact.email_address ? print() : ''" style="margin-left: -3em">Print</button>
                <i *ngIf="!dataContact.email_address" class="error-msg-2">* Email is required</i>
                <div id="print-section">
                  <table class="table table-bordered" style="margin-top: 10em; margin-left: 4.5em; 
                    margin-right: 5em; margin-bottom: 5em; width: 80%">
                    <tr>
                      <td style="font-weight: bold; text-align: center" colspan="3">Ijin Pembukaan Akses Data Medis / Authorization to Medical Records</td>
                    </tr>
                    <tr>
                      <td style="padding-top: 2.5em" colspan="3">
                        Yang bertandatangan di bawah ini saya : / The Undersigned below :
                      </td>
                    </tr>
                    <tr>
                      <td style="height: 2em; width: 50%; padding-left: 1em">Nama / Name</td>
                      <td style="height: 2em; width: 2%">:</td>
                      <td style="height: 2em;">{{dataContact.name}}</td>
                    </tr>
                    <tr>
                      <td style="height: 2em; padding-left: 1em">No. MR Central / Central MR. Number</td>
                      <td style="height: 2em;">:</td>
                      <td style="height: 2em;">{{dataPatientHope.mrNo}}</td>
                    </tr>
                    <tr>
                      <td style="height: 2em; padding-left: 1em">Tanggal Lahir/ DOB</td>
                      <td style="height: 2em;">:</td>
                      <td style="height: 2em;">{{selectedAccount.birth_date}}</td>
                    </tr>
                    <tr>
                      <td style="height: 2em; padding-left: 1em">Nomor HP/ Mobile Number</td>
                      <td style="height: 2em;">:</td>
                      <td style="height: 2em;">{{dataContact.phone_number_1}}</td>
                    </tr>
                    <tr>
                      <td style="height: 2em; padding-left: 1em">Email</td>
                      <td style="height: 2em;">:</td>
                      <td style="height: 2em;">{{dataContact.email_address}}</td>
                    </tr>
                    <tr>
                      <td colspan="3" style="padding-top: 1.7em">
                        <p style="text-align: justify; line-height: 1.5em;">Dengan ini mengizinkan Siloam Hospitals untuk membuka akses data medis saya di 
                          seluruh Unit Siloam Hospitals untuk ditampilkan pada Mobile Application MySiloam
                          /Hereby give permission to Siloam Hospitals to release my medical record data at all 
                          Siloam Hospitals Unit to be displayed at MySiloam Mobile Application.</p>
                      </td>
                    </tr>
                      <tr>
                        <td colspan="3" style="padding-top: 1.7em">
                          Persetujuan dan otorisasi ini berlaku untuk / This consent and authorization applies to
                        </td>
                      </tr>
                      <tr>
                        <td colspan="3">
                          <div class="row">
                            <div style="margin-left: 0.5em; margin-right: 0.5em; margin-top: 0.3em; float: left;">
                              <img src="../../../../assets/icons/ic_dot.png" width="7px" height="7px">
                            </div>
                            <div>Hasil Laboratorium / Lab Result</div>
                            <div class="clear: left;"></div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="3">
                          <div class="row">
                            <div style="margin-left: 0.5em; margin-right: 0.5em; margin-top: 0.3em; float: left;">
                              <img src="../../../../assets/icons/ic_dot.png" width="7px" height="7px">
                            </div>
                            <div>Hasil Radiologi / Radiology Result</div>
                            <div class="clear: left;"></div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="3" style="padding-top: 1.7em;">
                          Yang bertandatangan / The Undersigned
                        </td>
                      </tr>
                      <tr>
                        <td style="padding-top: 5em;">
                          <hr>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Tanggal / date :
                        </td>
                      </tr>
                      <tr>
                        <td colspan="3" style="padding-top: 8.5em;">
                          <hr style="margin-top: 0.01em; margin-bottom: 0.01em;">
                          <hr style="margin-top: 0.01em; margin-bottom: 0.01em;">
                        </td>
                      </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="row">
                  <div class="col-md-12 mob_valid_2">
                    Name
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 mob_valid_2">
                    Date of Birth
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 mob_valid_2">
                    No. MR Central
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 mob_valid_2">
                    Mobile Number
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 mob_valid_2">
                    Email
                  </div>
                </div>
              </div>
              <div class="mob_valid_5">
                <div class="row">
                  <div class="col-md-12 mob_valid_3">
                    :
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 mob_valid_3">
                    :
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 mob_valid_3">
                    :
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 mob_valid_3">
                    :
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 mob_valid_3">
                    :
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-12 mob_valid_4">
                      <input class="form-control mob_valid_6" type="text" [(ngModel)]="dataContact.name" disabled>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 mob_valid_4">
                    <input class="form-control mob_valid_6" type="text" [(ngModel)]="selectedAccount.birth_date" disabled>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 mob_valid_4">
                    <input class="form-control mob_valid_6" type="text" [(ngModel)]="dataPatientHope.mrNo" disabled>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 mob_valid_4">
                    <input class="form-control mob_valid_6" type="text" [(ngModel)]="dataContact.phone_number_1" disabled>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 mob_valid_4">
                    <input class="form-control mob_valid_6" type="text" [(ngModel)]="dataContact.email_address" #emailAddress="ngModel" required>
                    <i *ngIf="f.submitted && !emailAddress.valid" class="error-msg">* Email is required</i>
                  </div>
                </div>
              </div>
            </div>
            <form [formGroup] = "uploadForm" (ngSubmit)="onSubmitUpload()" #f="ngForm" enctype="multipart/form-data">
            <div class="row">
              <div class="col-md-10 mob_valid_1">
                <div class="image-upload">
                    2. 
                  <label for="file-input">
                    <img style="height: 3rem; width: 4rem; margin-left: 0.5em;margin-right: 0.5rem" src="../../../../assets/icons/ic_folder.png">
                  </label>
                    <input id="file-input" type="file" (change)="uploadDisclaimer($event)" accept="application/pdf"/> UPLOAD DISCLAIMER
                    <i *ngIf="f.submitted && !this.uploadForm.get('disclaimer').value" class="error-msg">* Disclaimer is required</i>
                    <img *ngIf="flagFile1" src="../../../../assets/icons/ic_checklist.png" style="width: 3em; height: 3em;">
                    <div style="float: right;">
                      <img *ngIf="flagFile1" src="../../../../assets/icons/ic_delete.svg" (click)="deleteDisclaimer()" style="width: 3em; height: 3em;">
                    </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10 mob_valid_1">
                <div class="image-upload">
                    3. 
                  <label for="file-input-2">
                    <img style="height: 3rem; width: 4rem; margin-left: 0.5em;margin-right: 0.5rem" src="../../../../assets/icons/ic_folder.png">
                  </label>
                  <input id="file-input-2" type="file" (change)="uploadKtp($event)" accept="application/pdf"/> UPLOAD IDENTITY DOCUMENT
                  <i *ngIf="f.submitted && !this.uploadForm.get('ktp').value" class="error-msg">* KTP is required</i>
                  <img *ngIf="flagFile2" src="../../../../assets/icons/ic_checklist.png" style="width: 3em; height: 3em;">
                  <div style="float: right;">
                    <img *ngIf="flagFile2" src="../../../../assets/icons/ic_delete.svg" (click)="deleteKtp()" style="width: 3em; height: 3em;">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="tar">
                  <button type="submit" class="fo_btn_registration fo_btn_save">Save</button>
                </div>
              </div>
            </div>
            </form>
          </div>
          <div *ngIf="selectedAccount.mobile_status === mobileStatus.ACCESSED 
            && selectedAccount.contact_status_id === contactStatus.VERIFIED
            && dataContact && dataPatientHope && !loadingBar">
            <div class="row">
                <div class="col-md-9 mob_valid_1" style="margin-top: 1em">
                  1. PATIENT DATA FOR DISCLAIMER
                </div>
                <div class="col-md-3 mob_valid_1" style="margin-top: 1em">
                  <button class="fo_btn_registration_2 fo_btn_blue" (click)="dataContact.email_address ? print() : ''" style="margin-left: -3em">Print</button>
                  <i *ngIf="!dataContact.email_address" class="error-msg-2">* Email is required</i>
                  <div id="print-section">
                    <table class="table table-bordered" style="margin-top: 10em; margin-left: 4.5em; 
                      margin-right: 5em; margin-bottom: 5em; width: 80%">
                      <tr>
                        <td style="font-weight: bold; text-align: center" colspan="3">Ijin Pembukaan Akses Data Medis / Authorization to Medical Records</td>
                      </tr>
                      <tr>
                        <td style="padding-top: 2.5em" colspan="3">
                          Yang bertandatangan di bawah ini saya : / The Undersigned below :
                        </td>
                      </tr>
                      <tr>
                        <td style="height: 2em; width: 50%; padding-left: 1em">Nama / Name</td>
                        <td style="height: 2em; width: 2%">:</td>
                        <td style="height: 2em;">{{dataContact.name}}</td>
                      </tr>
                      <tr>
                        <td style="height: 2em; padding-left: 1em">No. MR Central / Central MR. Number</td>
                        <td style="height: 2em;">:</td>
                        <td style="height: 2em;">{{dataPatientHope.mrNo}}</td>
                      </tr>
                      <tr>
                        <td style="height: 2em; padding-left: 1em">Tanggal Lahir/ DOB</td>
                        <td style="height: 2em;">:</td>
                        <td style="height: 2em;">{{selectedAccount.birth_date}}</td>
                      </tr>
                      <tr>
                        <td style="height: 2em; padding-left: 1em">Nomor HP/ Mobile Number</td>
                        <td style="height: 2em;">:</td>
                        <td style="height: 2em;">{{dataContact.phone_number_1}}</td>
                      </tr>
                      <tr>
                        <td style="height: 2em; padding-left: 1em">Email</td>
                        <td style="height: 2em;">:</td>
                        <td style="height: 2em;">{{dataContact.email_address}}</td>
                      </tr>
                      <tr>
                        <td colspan="3" style="padding-top: 1.7em">
                          <p style="text-align: justify; line-height: 1.5em;">Dengan ini mengizinkan Siloam Hospitals untuk membuka akses data medis saya di 
                            seluruh Unit Siloam Hospitals untuk ditampilkan pada Mobile Application MySiloam
                            /Hereby give permission to Siloam Hospitals to release my medical record data at all 
                            Siloam Hospitals Unit to be displayed at MySiloam Mobile Application.</p>
                        </td>
                      </tr>
                        <tr>
                          <td colspan="3" style="padding-top: 1.7em">
                            Persetujuan dan otorisasi ini berlaku untuk / This consent and authorization applies to
                          </td>
                        </tr>
                        <tr>
                          <td colspan="3">
                            <div class="row">
                              <div style="margin-left: 0.5em; margin-right: 0.5em; margin-top: 0.3em; float: left;">
                                <img src="../../../../assets/icons/ic_dot.png" width="7px" height="7px">
                              </div>
                              <div>Hasil Laboratorium / Lab Result</div>
                              <div class="clear: left;"></div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="3">
                            <div class="row">
                              <div style="margin-left: 0.5em; margin-right: 0.5em; margin-top: 0.3em; float: left;">
                                <img src="../../../../assets/icons/ic_dot.png" width="7px" height="7px">
                              </div>
                              <div>Hasil Radiologi / Radiology Result</div>
                              <div class="clear: left;"></div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="3" style="padding-top: 1.7em;">
                            Yang bertandatangan / The Undersigned
                          </td>
                        </tr>
                        <tr>
                          <td style="padding-top: 5em;">
                            <hr>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Tanggal / date :
                          </td>
                        </tr>
                        <tr>
                          <td colspan="3" style="padding-top: 8.5em;">
                            <hr style="margin-top: 0.01em; margin-bottom: 0.01em;">
                            <hr style="margin-top: 0.01em; margin-bottom: 0.01em;">
                          </td>
                        </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="row">
                    <div class="col-md-12 mob_valid_2">
                      Name
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 mob_valid_2">
                      Date of Birth
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 mob_valid_2">
                      No. MR Central
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 mob_valid_2">
                      Mobile Number
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 mob_valid_2">
                      Email
                    </div>
                  </div>
                </div>
                <div class="mob_valid_5">
                  <div class="row">
                    <div class="col-md-12 mob_valid_3">
                      :
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 mob_valid_3">
                      :
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 mob_valid_3">
                      :
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 mob_valid_3">
                      :
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 mob_valid_3">
                      :
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row">
                    <div class="col-md-12 mob_valid_4">
                        <input class="form-control mob_valid_6" type="text" [(ngModel)]="dataContact.name" disabled>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 mob_valid_4">
                      <input class="form-control mob_valid_6" type="text" [(ngModel)]="selectedAccount.birth_date" disabled>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 mob_valid_4">
                      <input class="form-control mob_valid_6" type="text" [(ngModel)]="dataPatientHope.mrNo" disabled>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 mob_valid_4">
                      <input class="form-control mob_valid_6" type="text" [(ngModel)]="dataContact.phone_number_1" disabled>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 mob_valid_4">
                      <input class="form-control mob_valid_6" type="text" [(ngModel)]="dataContact.email_address">
                    </div>
                  </div>
                </div>
                <div class="col-md-4" style="padding: 0">
                  <iframe [src]="getKtp" style="width:25em; height:17em;" frameborder="0"></iframe>
                </div>
              </div>
              <form [formGroup] = "uploadForm" (ngSubmit)="onSubmitUpload()" enctype="multipart/form-data">
              <div class="row">
                <div class="col-md-10 mob_valid_1">
                  <div class="image-upload">
                      2. 
                    <label for="file-input">
                      <img style="height: 3rem; width: 4rem; margin-left: 0.5em;margin-right: 0.5rem" src="../../../../assets/icons/ic_folder.png">
                    </label>
                      <input id="file-input" type="file" (change)="uploadDisclaimer($event)" accept="application/pdf"/> UPLOAD DISCLAIMER
                      <img *ngIf="flagFile1" src="../../../../assets/icons/ic_checklist.png" style="width: 3em; height: 3em;">
                      <div style="float: right;">
                      <img *ngIf="flagFile1" src="../../../../assets/icons/ic_delete.svg" (click)="deleteDisclaimer()" style="width: 3em; height: 3em;">
                      </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="tar">
                    <button type="submit" class="fo_btn_registration fo_btn_save">Save</button>
                  </div>
                </div>
              </div>
              </form>
          </div>
          </div>
        </div>
      </div>
    </div>
  
    <ng-template #verify_patient let-modal>
      <div class="modal-header">
        <div class="header-2 modal-padding">Verify Patient Confirmation</div>
      </div>
      <div class="modal-body">
        Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn ms_btn_black" (click)="modal.close()">Cancel</button>
        <button class="btn ms_btn_green" [ngClass]="{'disable': flagConfirm}" (click)="verifyPatient()" (click)="modal.close()">Confirm</button>
      </div>
    </ng-template>
  
    <ng-template #verify_patient_2 let-modal>
      <div class="modal-header">
        <div class="header-2 modal-padding">MR Access For Mobile</div>
      </div>
      <div class="modal-body">
        Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn ms_btn_black" (click)="modal.close()">Cancel</button>
        <button class="btn ms_btn_green" [ngClass]="{'disable': flagConfirm}" (click)="onSubmitUpload()" (click)="modal.close()">Confirm</button>
      </div>
    </ng-template>
  
  </div>
  
  <div class="pagination">
    <button *ngIf="isCanPrevPage" (click)="prevPage()" class="btn ms_btn_blue">
      <img src="{{assetPath}}icons/ic_ArrowRight_White.png"> Prev
    </button>
    <span style="width:10px">&nbsp;</span>
    <button *ngIf="isCanNextPage" (click)="nextPage()" class="btn ms_btn_blue">
      Next <img src="{{assetPath}}icons/ic_ArrowLeft_White.png">
    </button>
  </div>