<div id="tutorial_doctor_schedule" class="ms_tutorial_container">
  <div class="alert alert-danger centering" *ngIf="message1">
    <h5>{{message1.title}}</h5>
    <p>{{message1.message}}</p>
  </div>

  <div class="row" style="margin-top: 1rem; margin-bottom: 1rem;" *ngIf="showScheduleType1 || showScheduleType2">
    <div class="col-md-5"></div>
    <div class="col-md-7">
      <div id="tutorial_week_button" class="btn-box header_right">
        <div>
          <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="datePickerModel"
            (dateChanged)="gotoDate($event)">
          </my-date-picker>
        </div>
        <button class="btn-nav btn-left-right" (click)="gotoPrevWeek()" [disabled]="btnActive.prevWeek == false"
          [ngClass]="btnActive.prevWeek == false ? 'btn-left-right-disabled' : ''">
          <img src="{{assetPath}}icons/ic_ArrowRight_White.png">
        </button>
        <button class="btn-nav btn-green btn-green header-3" (click)="gotoThisWeek()"
          [disabled]="btnActive.thisWeek == false" [ngClass]="btnActive.thisWeek == false ? 'btn-left-right-disabled' : ''">
          <span>This week</span>
        </button>
        <button class="btn-nav btn-left-right" (click)="gotoNextWeek()" [disabled]="btnActive.nextWeek == false"
          [ngClass]="btnActive.nextWeek == false ? 'btn-left-right-disabled' : ''">
          <img src="{{assetPath}}icons/ic_ArrowLeft_White.png">
        </button>
      </div>
    </div>
  </div>

  <div class="content-doctor-schedule-group-2 group-1 shadow-4" *ngIf="showScheduleType1">
    <div class="container-table" *ngFor="let sch of checkUpSchedules">
      <div class="header-2 header-doctor" style="border-bottom: 1px solid black; background-color: #E1E1E1;">
        {{sch.checkup_name}}</div>
      <table border="0">
        <thead>
          <tr>
            <th class="hack" *ngFor="let date of dates"
              [ngStyle]="{'background': date.dateISO == todayDateISO ? '#ccc' : '' }">
              <span *ngIf="holidaysSpecialty.indexOf(sch.checkup_id+'-'+date.dateISO+'-'+sch.hospital_id) != -1"
                class="unavailable">{{date.dateHeader}} * {{holidaysName[holidaysSpecialty.indexOf(sch.checkup_id+'-'+date.dateISO+'-'+sch.hospital_id)]}}</span>
              <span *ngIf="!(holidaysSpecialty.indexOf(sch.checkup_id+'-'+date.dateISO+'-'+sch.hospital_id) != -1)">{{date.dateHeader}}</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td *ngFor="let date of dates">
              <ng-container *ngFor="let itemSch of sch.schedule">
                <span *ngIf="itemSch.day == date.dateDay && date.dateISO >= todayDateISO">
                  <a (click)="gotoCreateApp(itemSch, date.dateISO)">
                    {{itemSch.from_time.substr(0,5)}} - {{itemSch.to_time.substr(0,5)}}
                    <span class="flag-drive-thru" *ngIf="itemSch.is_drive_thru === true">
                      <img style="margin-top: -0.5em;" src="{{assetPath}}icons/car_icon.png">
                    </span>
                  </a>
                  <br>
                </span>
                <span *ngIf="(itemSch.day == date.dateDay && date.dateISO < todayDateISO)" class="unavailable">
                  {{itemSch.from_time.substr(0,5)}} - {{itemSch.to_time.substr(0,5)}}
                  <span class="flag-drive-thru" *ngIf="itemSch.is_drive_thru === true">
                    <img style="margin-top: -0.5em;" src="{{assetPath}}icons/car_icon.png">
                  </span>
                  <br>
                </span>
              </ng-container>
            </td>
          </tr>
          <tr style="height: 12px"></tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="content-doctor-schedule-group-2 group-1 shadow-4" *ngIf="showScheduleType2">
    <div class="header-2 header-doctor" style="border-bottom: 1px solid black; background-color: #E1E1E1;">
      {{checkupName}}</div>
    <div class="container-table">
      <table border="0" *ngFor="let sch of checkUpSchedules">
        <thead>
          <tr>
            <th class="hack" *ngFor="let date of dates"
              [ngStyle]="{'background': date.dateISO == todayDateISO ? '#ccc' : '' }">
              <span *ngIf="holidaysSpecialty.indexOf(sch.checkUpId+'-'+date.dateISO+'-'+sch.hospital_id) != -1"
              class="unavailable">{{date.dateHeader}} * {{holidaysName[holidaysSpecialty.indexOf(sch.checkUpId+'-'+date.dateISO+'-'+sch.hospital_id)]}}</span>
              <span *ngIf="!(holidaysSpecialty.indexOf(sch.checkUpId+'-'+date.dateISO+'-'+sch.hospital_id) != -1)">{{date.dateHeader}}</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td *ngFor="let date of dates">
              <ng-container *ngFor="let itemSch of sch.schedules">
                <span *ngIf="(itemSch.day == date.dateDay && date.dateISO >= todayDateISO)
                  && !(holidaysSpecialty.indexOf(itemSch.checkup_id+'-'+date.dateISO+'-'+itemSch.hospital_id) != -1)">
                  <a (click)="gotoCreateApp(itemSch, date.dateISO)" *ngIf="itemSch.day == date.dateDay && date.dateISO >= todayDateISO && isOriginal">
                    {{itemSch.from_time.substr(0,5)}} - {{itemSch.to_time.substr(0,5)}}
                  </a>
                  <a (click)="gotoCreateApp2(itemSch, date.dateISO)" *ngIf="itemSch.day == date.dateDay && date.dateISO >= todayDateISO && !isOriginal">
                    {{itemSch.from_time.substr(0,5)}} - {{itemSch.to_time.substr(0,5)}}
                  </a>
                  <br>
                </span>
                <span *ngIf="(itemSch.day == date.dateDay && date.dateISO < todayDateISO)
                || (itemSch.day == date.dateDay && date.dateISO >= todayDateISO && holidaysSpecialty.indexOf(itemSch.checkup_id+'-'+date.dateISO+'-'+itemSch.hospital_id) != -1)" class="unavailable">
                  {{itemSch.from_time.substr(0,5)}} - {{itemSch.to_time.substr(0,5)}}
                  <br>
                </span>
              </ng-container>
            </td>
          </tr>
          <tr style="height: 12px"></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>