<div class="modal-content" id="tutorial5" >
    <div class="modal-header create-appointment-modal">
      <div class="header-2 modal-padding">Patient Data
        <br/>
        <div class="body-text">Create Appointment</div></div>
      <button #close_button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-label="Close"
              (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body create-appointment-modal" style="padding: 0.5rem;">
  
      <div class="col-md-12 content-appointment-02-group-col" >
  
        <form name="form" (ngSubmit)="f.form.valid && createAppointment()" #f="ngForm" novalidate>
  
          <div id="tutorial6">
            <div class="form-ca-dob form-group row">
              <label class="col-md-6 col-form-label foot-note">Date of Birth<span class="st-error-text">*</span></label>
              <div class="col-md-6 col-form-label">
                <div class="right-text foot-note unavailable">*Mandatory fields</div>
              </div>
              <div class="col-md-7" >
                <div class="input-group"
                     [ngClass]="{'st-error-border' : (f.submitted && !model.birthDate) || (!f.submitted && model.patientName && !model.birthDate)}">
                  <input 
                    [textMask]="{mask: maskBirth}" 
                    type="text" 
                    class="form-control" 
                    name="birth" 
                    [(ngModel)]="model.birthDate" 
                    (change)="checkDatePickerIsValid()" 
                    (keyup)="searchPatientHOPE($event)" 
                    placeholder="dd-mm-yyyy" 
                    [disabled]="isLock"/>
                </div>
              </div>
            </div>
            <div class="form-ca-patientname form-group row">
              <label class="col-md-6 col-form-label foot-note">Patient Name<span class="st-error-text">*</span></label>
              <div class="col-md-6 col-form-label">
                <div *ngIf="f.submitted && !model.patientName" class="right-text foot-note unavailable">*Name must be filled</div>
              </div>
              <div class="col-md-12 input-group">
                <input 
                  type="text" 
                  class="form-control" 
                  placeholder="Search patient name..." 
                  name="patientName" 
                  [(ngModel)]="model.patientName"
                  (keyup)="searchPatientHOPE($event)" 
                  [disabled]="model.patientName && !model.birthDate || isLock">
                <div class="input-group-append">
                  <button class=" btn-grey " type="button" (click)="searchPatientHOPE()" [disabled]="model.patientName && !model.birthDate || isLock">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
  
          <div class="form-group row">
            <label class="col-md-6 col-form-label foot-note">Local MR No</label>
            <div class="col-md-6 col-form-label">
              <!--<div *ngIf="f.submitted && !model.mr_no" class="right-text foot-note unavailable">MR number must be filled</div>-->
            </div>
            <div class="col-md-6 input-group">
              <input 
                type="text" 
                class="form-control" 
                placeholder="Search MR Number..." 
                name="localMrNo" 
                [(ngModel)]="model.localMrNo"
                (keyup)="searchPatientHOPE($event)"
                [disabled]="isLock">
              <div class="input-group-append">
                <button 
                  class=" btn-grey " 
                  type="button" 
                  (click)="searchPatientHOPE()"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
  
          <div class="form-ca-phoneno form-group row">
            <label class="col-md-6 col-form-label foot-note">Mobile Phone<span class="st-error-text">*</span></label>
            <div class="col-md-6 col-form-label">
              <div *ngIf="f.submitted && !model.phoneNumber" class="right-text foot-note unavailable">*Phone number must be filled</div>
            </div>
            <div class="col-md-6 input-group">
              <input 
                [textMask]="{mask: maskPhone}" 
                type="text" 
                class="form-control" 
                name="phoneNumber" 
                [(ngModel)]="model.phoneNumber">
            </div>
          </div>
  
          <div class="form-group row">
            <div class="col-md-6" style="padding: 0">
              <label class="col-md-6 col-form-label foot-note">Address</label>
              <div class="col-md-12 input-group">
                <textarea 
                  class="form-control" 
                  rows="5" name="address" 
                  [(ngModel)]="model.address" 
                  [disabled]="isLock"></textarea>
              </div>
            </div>
            <div class="col-md-6" style="padding: 0">
              <label class="col-md-6 col-form-label foot-note">Note</label>
              <div class="col-md-12 input-group">
                <textarea 
                  class="form-control" 
                  rows="5" 
                  name="note" 
                  [(ngModel)]="model.note"></textarea>
              </div>
            </div>
  
          </div>
  
          <div  id="tutorial6b" class="form-group" [ngStyle]="{'text-align': 'right'}">
            <button class="btn btn-green" style="background: unset; color: white" [disabled]="isSubmitting">Create Appointment</button>
            <button class="btn" style="border: red 1px solid; background: white;color: red" (click)="resetField()">Reset</button>
          </div>
  
          <div class="form-group" style="width: 37rem">
            <div *ngFor="let alert of alerts">
              <ngb-alert *ngIf="alert && !staticAlertClosed" type="{{cssAlertType(alert)}}" (close)="removeAlert(alert)">{{ alert.message }}</ngb-alert>
            </div>
          </div>
  
        </form>
      </div>
  
    </div>
  </div>