.fo_create_input_panel{
  padding: 1rem 2rem;
}

.fo_create_input{ width: 25%}
.fo_create_input button{ display: none}

.fo_search_specialist {
margin-right: 1rem;
}
.fo_create_input >div {
width: 100%;
}