<div class="modal-header">
  <div class="header-2 modal-padding"><strong>Edit Appointment List</strong></div>
  <button #close_btn_reschedule type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body search-patient-modal">
  <div class="">
    <div class="col-md-12" style="padding: 0">
      <table class="table table-bordered">
        <thead class="fo_color_blue foot-note">
          <th style="min-width: 10em">Kode Unik</th>
          <th style="min-width: 10em">Nama</th>
          <th style="min-width: 10em">Tanggal Lahir</th>
          <th style="min-width: 10em;">No. Telp</th>
          <th style="min-width: 10em">Tgl Perjanjian</th>
          <th style="min-width: 10em">Jam Perjanjian</th>
          <th style="min-width: 10em;">Pre-Regis & Screening</th>
          <th style="min-width: 10em; text-align: center;">Status Pasien</th>
          <th style="min-width: 10em; text-align: center;">Notes</th>
        </thead>
        <tbody>
          <td>{{appointmentSelected.consent_code}}</td>
          <td>
            {{appointmentSelected.name}}
          </td>
          <td>{{appointmentSelected.new_birth_date}}</td>
          <td>{{appointmentSelected.phone_number_1}}</td>
          <td>{{appointmentSelected.app_date}}</td>
          <td>
            <span *ngIf="appointmentSelected.appointment_start_time && appointmentSelected.appointment_end_time">
              {{appointmentSelected.appointment_start_time.substr(0,5)}} - {{appointmentSelected.appointment_end_time.substr(0,5)}}
            </span>
          </td>
          <td style="text-align: center;">
            <span *ngIf="appointmentSelected.consent_id !== null">Yes</span>
            <span *ngIf="appointmentSelected.consent_id === null">No</span>
          </td>
          <td style="text-align: center;">
            <div>
              <div *ngIf="appointmentSelected.participant_status === patientStatus.NOT_REGISTERED">
                <span>Not Registered</span>
              </div>
              <div *ngIf="appointmentSelected.participant_status === patientStatus.REGISTERED">
                <span>Registered</span>
              </div>
              <div *ngIf="appointmentSelected.participant_status === patientStatus.SCREENED">
                <span>Screened</span>
              </div>
              <div *ngIf="appointmentSelected.participant_status === patientStatus.EVALUATED">
                <span>Evaluated</span>
              </div>
              <div *ngIf="appointmentSelected.participant_status === patientStatus.VACCINATED">
                <span>Vaccinated</span>
              </div>
              <div *ngIf="appointmentSelected.participant_status === patientStatus.CANCELLED_VACCINATION">
                <span>Cancelled Vaccination</span>
              </div>
            </div>
          </td>
          <td>{{ appointmentSelected.note }}</td>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-md-3">
        <span style="color: red;" *ngIf="!checkupCategoryVal">*Please find a checkup category first</span>
        <select id="checkupCategory" [disabled]="flagDisable" (change)="searchCheckupCategories()" style="width: 20em;" class="form-control"
          [(ngModel)]="checkupCategoryVal" name="checkupCategory" required>
          <option *ngFor="let category of checkupCategoriesList" [ngValue]="category">
            {{category.checkup_name}}
          </option>
        </select>
      </div>
    </div>
    <div style="height:3vw; clear:both;"></div>

    <div class="col-md-12" style="padding: 0;max-height: 350px;overflow-y: scroll">

      <app-widget-vaccine-schedule (opScheduleSelected)="getScheduleData($event)" *ngIf="showSchedule">
      </app-widget-vaccine-schedule>

      <app-widget-create-app-vaccine *ngIf="opScheduleSelected && openWidgetCreateApp"
        (opSlotSelected)="getSlotData($event)" [appointmentPayloadInput]="createAppInputData">
      </app-widget-create-app-vaccine>

      <div style="height:3vw; clear:both;"></div>
    </div>
    <div class="modal-footer">
      <div class="col-md-3">
        <p>
          <strong>Created By : </strong>
          {{ appointmentSelected.created_name }}
        </p>
        <p>
          <strong>Created Date : </strong>
          {{ createdDate }}
        </p>
      </div>
      <div class="col-md-5">
        <p>
          <strong>Last Modified By : </strong>
          {{ appointmentSelected.modified_name }}
        </p>
        <p>
          <strong>Last Modified Date : </strong>
          {{ modifiedDate }}
        </p>
      </div>
      <div class="col-md-4" style="text-align: right">
        <button class="btn ms_btn_border ms_btn_black" style="padding: 0.3vw 0vw; width: 7vw" #close_btn_reschedule
          aria-label="Close" (click)="close()">Cancel</button>
        <button class="btn ms_btn_border ms_btn_green" [disabled]="flagDisable" style="padding: 0.3vw 0vw; width: 7vw" (click)="updateAppointment()"
          (click)="close()">Save & Close</button>
      </div>
    </div>
  </div>
</div>