<div class="modal-header">
  <div class="header-2 modal-padding">Search Patient Data</div>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body search-patient-modal">
  <div class="">
    <div class="col-md-12" *ngIf="searchLoader" style="margin-bottom:25px">
      <ngb-progressbar value="1000">Loading...</ngb-progressbar>
    </div>
    <div class="col-md-12" style="background: #F4F4F4">
      <div class="col-md-8"></div>
    </div>
    <div class="col-md-12" style="padding: 0">
      <table class="table table-bordered">
        <thead class="foot-note blue">
          <tr class="table-title" style="background-color: white;">
            <th>Patient Name</th>
            <th>Central MR No.</th>
            <th>Local MR No.</th>
            <th>Date of Birth</th>
            <th>Mobile Phone</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody class="body-text">
          <tr *ngFor="let p of patientHope" (click)="choosePatient(p)" (click)="close()">
            <td class="kolom-nama">{{ p.name }}</td>
            <td>{{ p.mrNo }}</td>
            <td>{{ p.mrNoUnit }}</td>
            <td>{{ p.birthDate }}</td>
            <td>{{ p.mobileNo1 }}</td>
            <td class="kolom-nama overflow">{{ p.address }} </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="showCreateNew" class="my-3">
      <p class="my-2 mx-2">Don't find your patient?</p>
      <button type="button" class="btn btn-primary" (click)="createNewPatientFromVaccine()">Create new patient</button>
    </div>
  </div>
</div>