::ng-deep .modal-searchPatient .modal-dialog { max-width: 100%; width: 80%}
::ng-deep .modal-searchPatient .modal-dialog .modal-body { max-height: 60vh; overflow-y: scroll}
.search-patient-modal {
  width: inherit;
  min-height: 40rem!important;
  height: fit-content;
  padding: 0;
}
.search-patient-modal tbody tr:hover {
  background: #4D9B35;
  color: white;
}
.search-patient-modal table td{
  cursor: pointer;
}
.blue{
  color: #1A2269;
}