::ng-deep .modal-searchPatient .modal-dialog { max-width: 100%; width: 60vw}
::ng-deep .modal-searchPatient .modal-dialog .modal-body { max-height:20vh; overflow-y: scroll}

.search-patient-modal {
  width: 100%;
  min-height: 40rem!important;
  height: inherit;
  max-height: 80vh;
  overflow: scroll;
  padding: 0;
}


.search-patient-modal tbody tr:hover {
  background: #4D9B35;
  color: white;
}
.search-patient-modal table td{
  cursor: pointer;
}
.blue{
  color: #1A2269;
}

