<div id="divHiddenTwo unprintable" class="fo_minimizer" data-toggle="collapse" data-target=".fo_minimized">
  <div class="unprintable">
    <img class="icon_minimizer" src="{{assetPath}}icons/ic_Minimize@2x.png">
    <img class="icon_maximizer" src="{{assetPath}}icons/ic_Maximize@2x.png">
  </div>
  <span class="header-3 collapse show width fo_minimized">
    <div class="fo_minimized_text unprintable">MINIMIZE</div>
  </span>
</div>
<div class="container-button shadow-4 unprintable">
  <a class="side_button dropdown" aria-expanded="true" href="/patient-data" target="_parent"
    [routerLink]="['/patient-data']" [routerLinkActive]="['active']">
    <div>
      <img class="icon" src="{{assetPath}}icons/ic_PatientRegistration@2x.png">
      <img class="icon" src="{{assetPath}}icons/ic_PatientRegistration_Yellow@2x.png">
    </div>
    <div class="header-3 collapse show width fo_minimized" popoverTitle="Patient Data"
      ngbPopover="Melakukan pendaftaran pasien baru atau pasien yang datanya tidak ditemukan di sistem"
      triggers="mouseenter:mouseleave" placement="right" container="body">
      <div class="fo_minimized_text">Patient Data</div>
    </div>
  </a>
</div>
<div class="container-button shadow-4 unprintable">
  <a class="side_button shadow-4" aria-expanded="false" href="/base-appointment" target="_parent"
    [routerLink]="['/base-appointment']" [routerLinkActive]="['active']">
    <div>
      <img class="icon" src="{{assetPath}}icons/ic_CreateAppointment@2x.png">
      <img class="icon" src="{{assetPath}}icons/ic_CreateAppointment-1@2x.png">
    </div>
    <div class="header-3 collapse show width fo_minimized" popoverTitle="Create Appointment"
      ngbPopover="Melihat jadwal praktek dokter dan membuat jadwal perjanjian kunjungan pasien untuk dokter dengan kuota dan dokter non kuota"
      triggers="mouseenter:mouseleave" placement="right" container="body">
      <div class="fo_minimized_text">Create Appointment</div>
    </div>
  </a>
</div>
<div class="container-button shadow-4 unprintable">
  <a class="side_button shadow-4" aria-expanded="false" href="/mobile-validation" target="_parent"
    [routerLink]="['/mobile-validation']" routerLinkActive="active">
    <div>
      <img class="icon" src="{{assetPath}}icons/ic_MobileValidation@2x.png">
      <img class="icon" src="{{assetPath}}icons/ic_MobileValidation_Yellow@2x.png">
    </div>
    <div class="header-3 collapse show width fo_minimized" popoverTitle="Patient Validation"
      ngbPopover="Melakukan verifikasi terhadap akun pasien yang mengunduh aplikasi mobile Siloam. Jika pasien tidak ditemukan datanya harus diregistrasi di menu Patient Registration"
      triggers="mouseenter:mouseleave" placement="right" container="body">
      <div class="fo_minimized_text">Medical Data Access</div>
    </div>
  </a>
</div>
<div class="container-button shadow-4 unprintable">
  <a class="side_button shadow-4" aria-expanded="false" href="/appointment-list" target="_parent"
    [routerLink]="['/appointment-list']" [routerLinkActive]="['active']">
    <div>
      <img class="icon" src="{{assetPath}}icons/ic_AppointmentList_Black.png">
      <img class="icon" src="{{assetPath}}icons/ic_AppointmentList_White.png">
    </div>
    <div class="header-3 collapse show width fo_minimized" popoverTitle="Appointment List"
      ngbPopover="Melihat daftar antrian pasien appointment, melakukan check-in pasien, mencetak antrian pasien dan membatalkan perjanjian kunjungan pasien"
      triggers="mouseenter:mouseleave" placement="right" container="body">
      <div class="fo_minimized_text">Appointment List</div>
    </div>
  </a>
</div>
<div *ngIf="hospital.id === yogyaHospitalId" class="container-button shadow-4 unprintable">
  <a class="side_button shadow-4" aria-expanded="false" href="/bpjs" target="_parent"
    [routerLink]="['/bpjs']" [routerLinkActive]="['active']">
    <div>
      <img class="icon" src="{{assetPath}}icons/ic_AppointmentList_Black.png">
      <img class="icon" src="{{assetPath}}icons/ic_AppointmentList_White.png">
    </div>
    <div class="header-3 collapse show width fo_minimized" popoverTitle="BPJS"
      ngbPopover="Melihat daftar pasien dari BPJS"
      triggers="mouseenter:mouseleave" placement="right" container="body">
      <div class="fo_minimized_text">Appointment BPJS</div>
    </div>
  </a>
</div>
<div class="container-button shadow-4 unprintable">
  <a class="side_button shadow-4" aria-expanded="false" href="/send-notification" target="_parent"
    [routerLink]="['/send-notification']" [routerLinkActive]="['active']">
    <div>
      <img class="icon" src="{{assetPath}}icons/ic_SendNotification@2x.png">
      <img class="icon" src="{{assetPath}}icons/ic_SendNotification_Yellow@2x.png">
    </div>
    <div class="header-3 collapse show width fo_minimized" popoverTitle="Send Notification"
      ngbPopover="Mengirimkan notifikasi ke pasien mengenai jadwal kunjungan pasien, dokter telat memulai praktek, dan dokter membatalkan jadwal praktek"
      triggers="mouseenter:mouseleave" placement="right" container="body">
      <div class="fo_minimized_text">Send Notification</div>
    </div>
  </a>
</div>
<div class="container-button shadow-4 unprintable">
  <a class="side_button shadow-4" aria-expanded="false" href="/view-quota" target="_parent"
    [routerLink]="['/view-quota']" [routerLinkActive]="['active']">

    <div>
      <img class="icon" src="{{assetPath}}icons/ic_ViewQuota@2x.png">
      <img class="icon" src="{{assetPath}}icons/ic_ViewQuota_Yellow@2x.png">
    </div>
    <div class="header-3 collapse show width fo_minimized" popoverTitle="View Quota"
      ngbPopover="Melihat quota dokter  per jam. Total quota adalah quota reservasi + quota walk in"
      triggers="mouseenter:mouseleave" placement="right" container="body">
      <div class="fo_minimized_text">View Quota</div>
    </div>
  </a>

</div>
<div class="container-button shadow-4 unprintable">
  <a class="side_button shadow-4" aria-expanded="false" href="/reschedule-worklist" target="_parent"
    [routerLink]="['/reschedule-worklist']" [routerLinkActive]="['active']">

    <div>
      <img class="icon" src="{{assetPath}}icons/ic_RescheduleWorklist@2x.png">
      <img class="icon" src="{{assetPath}}icons/ic_RescheduleWorklist_Yellow@2x.png">
    </div>
    <div class="header-3 collapse show width fo_minimized" popoverTitle="Reschedule Worklist"
      ngbPopover="Melihat daftar pasien yang ada di reschedule list" triggers="mouseenter:mouseleave" placement="right"
      container="body">
      <div class="fo_minimized_text">Reschedule Worklist</div>
    </div>
  </a>

</div>
<div class="container-button shadow-4 unprintable">
  <a class="side_button shadow-4" aria-expanded="false" href="/teleconsultation-worklist" target="_parent"
    [routerLink]="['/teleconsultation-worklist']" [routerLinkActive]="['active']">

    <div>
      <img class="icon" src="{{assetPath}}icons/ic_RescheduleWorklist@2x.png">
      <img class="icon" src="{{assetPath}}icons/ic_RescheduleWorklist_Yellow@2x.png">
    </div>
    <div class="header-3 collapse show width fo_minimized" popoverTitle="TeleConsultation Worklist"
      ngbPopover="Melihat daftar pasien dari Aido" triggers="mouseenter:mouseleave" placement="right"
      container="body">
      <div class="fo_minimized_text">TeleConsult Worklist</div>
    </div>
    <span class="roundNumber">{{countAidoList}}</span>
  </a>

</div>
<div class="container-button shadow-4 unprintable">
  <a class="side_button shadow-4" aria-expanded="false" href="/doctor-notes" target="_parent"
    [routerLink]="['/doctor-notes']" [routerLinkActive]="['active']">

    <div>
      <img class="icon" src="{{assetPath}}icons/ic_DoctorNotes@2x.png">
      <img class="icon" src="{{assetPath}}icons/ic_DoctorNotes_Yellow@2x.png">
    </div>
    <div class="header-3 collapse show width fo_minimized" popoverTitle="Doctor Notes"
      ngbPopover="Membuat catatan untuk dokter" triggers="mouseenter:mouseleave" placement="right" container="body">
      <div class="fo_minimized_text">Doctor Notes</div>
    </div>
  </a>

</div>
<div class="container-button shadow-4 unprintable">
  <a class="side_button shadow-4" aria-expanded="false" href="/doctor-leave" target="_parent"
    [routerLink]="['/doctor-leave']" [routerLinkActive]="['active']">

    <div>
      <img class="icon" src="{{assetPath}}icons/ic_DoctorLeave@2x.png">
      <img class="icon" src="{{assetPath}}icons/ic_DoctorLeave_Yellow@2x.png">
    </div>
    <div class="header-3 collapse show width fo_minimized" popoverTitle="Doctor Leave" ngbPopover="Membuat cuti dokter"
      triggers="mouseenter:mouseleave" placement="right" container="body">
      <div class="fo_minimized_text">Doctor Leave</div>
    </div>
  </a>
</div>
<div *ngIf="isBpjs === true" class="container-button shadow-4 unprintable">
  <a class="side_button shadow-4" aria-expanded="false"
    [routerLink]="['/request-list']" [routerLinkActive]="['active']">

    <div>
      <img class="icon" src="{{assetPath}}icons/bpjs_logo.png">
      <img class="icon" src="{{assetPath}}icons/bpjs_logo.png">
    </div>
    <div class="header-3 collapse show width fo_minimized" popoverTitle="BPJS Reservation Request List" ngbPopover="daftar permintaan appointment dari BPJS"
      triggers="mouseenter:mouseleave" placement="right" container="body">
      <div class="fo_minimized_text_long">BPJS Request List</div>
    </div>
    <span class="roundNumber">{{countReqList}}</span>
  </a>
</div>
<div *ngIf="isBpjs === true" class="container-button shadow-4 unprintable">
  <a class="side_button shadow-4" aria-expanded="false"
    [routerLink]="['/bpjs-registration']" [routerLinkActive]="['active']">

    <div>
      <img class="icon" src="{{assetPath}}icons/bpjs_logo.png">
      <img class="icon" src="{{assetPath}}icons/bpjs_logo.png">
    </div>
    <div class="header-3 collapse show width fo_minimized" popoverTitle="BPJS Reservation & registration" ngbPopover="membuat appointment BPJS"
      triggers="mouseenter:mouseleave" placement="right" container="body">
      <div class="fo_minimized_text_long">BPJS Reservation & Registration</div>
    </div>
  </a>
</div>
<div *ngIf="isBpjs === true" class="container-button shadow-4 unprintable">
  <a class="side_button shadow-4" aria-expanded="false"
    [routerLink]="['/appointment-list-bpjs']" [routerLinkActive]="['active']">

    <div>
      <img class="icon" src="{{assetPath}}icons/bpjs_logo.png">
      <img class="icon" src="{{assetPath}}icons/bpjs_logo.png">
    </div>
    <div class="header-3 collapse show width fo_minimized" popoverTitle="BPJS Appointment List" ngbPopover="daftar appointment BPJS"
      triggers="mouseenter:mouseleave" placement="right" container="body">
      <div class="fo_minimized_text_long">BPJS Appointment List</div>
    </div>
  </a>
</div>