<div class="modal-header">
  <div class="header-2 modal-padding"><strong>Create Appointment BPJS</strong></div>
  <button #close_btn_reschedule type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body search-patient-modal">
  <div class="">
    <div class="col-md-7" style="padding: 0">
      <table class="table table-bordered">
        <thead class="body-text bold">
        <th style="min-width: 1vw">Patient Name</th>
        <th style="white-space: nowrap; min-width:5vw;">Date of Birth</th>
        <th>Mobile No.</th>
        <th>Speciality</th>
        <th>Appointment date</th>
        <th style="text-align: center;width: 1%">Note</th>
        </thead>
        <tbody>
        <tr>
          <td>{{ appointment.name }}</td>
          <td>{{ dateConvert }}</td>
          <td>{{ appointment.phoneNumber1 }}</td>
          <td>{{ appointment.speciality }}</td>
          <td>{{ appointment.appointmentDate }}</td>
          <td>
            <textarea [(ngModel)]="appointment.note">{{ appointment.appointment_note }}</textarea>
          </td>
        </tr>
        </tbody>


      </table>
    </div>
    <div class="col-md-12" style="padding: 0;min-height: 25vw;max-height: min-content !important;overflow-y: scroll">
      <span style="color: red;">*Please find a doctor first</span>
      
      <div class="fo_create_appointment_container shadow-4">
        <ngb-tabset>
            <ngb-tab title="By Doctor">
              <ng-template ngbTabContent>
                  <div class="fo_create_input_panel">
                      <div class="fo_create_input d-flex justify-content-start">
                        <div *ngIf="!searchAutoComplete" class="ng-autocomplete" class="angular-autocomplete">
                          <ng-autocomplete
                            placeHolder="Doctor name ..."
                            [initialValue]="searchAutoComplete"
                            [(ngModel)]="model.doctor"
                            [data]="doctorList"
                            searchKeyword="name"
                            (selected)='searchSchedule1($event)'
                            [itemTemplate]="itemTemplateDoctor"
                            [notFoundTemplate]="notFoundTemplate"> 
                          </ng-autocomplete>
                          
                          <ng-template #itemTemplateDoctor let-item>
                            <a [innerHTML]="item.name"></a>
                          </ng-template>
                          
                          <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                          </ng-template>
                        </div>
    
                        <div *ngIf="searchAutoComplete" class="ng-autocomplete" class="angular-autocomplete">
                            <ng-autocomplete
                              placeHolder="Doctor name ..."
                              [initialValue]="searchAutoComplete"
                              [(ngModel)]="model.doctor"
                              [data]="doctorList"
                              searchKeyword="name"
                              (selected)='searchSchedule1($event)'
                              [itemTemplate]="itemTemplateDoctor"
                              [notFoundTemplate]="notFoundTemplate"> 
                            </ng-autocomplete>
                            
                            <ng-template #itemTemplateDoctor let-item>
                              <a [innerHTML]="item.name"></a>
                            </ng-template>
                            
                            <ng-template #notFoundTemplate let-notFound>
                              <div [innerHTML]="notFound"></div>
                            </ng-template>
                          </div>
                      </div>
                      <div class="">
                        <div class="alert alert-warning alert-msg-wait" *ngIf="showWaitMsg">
                          Please wait...
                        </div>
                        <div class="alert alert-danger" *ngIf="showNotFoundMsg">
                          Schedule not found
                        </div>
                      </div>
                    </div>
              </ng-template>
            </ngb-tab>
    
            <ngb-tab title="By Specialist">
                <ng-template ngbTabContent>
                    <div class="fo_create_input_panel">
                        <div class=" fo_create_input d-flex justify-content-start">
                          <div class=" form-group">
                            <select class="form-control" [(ngModel)]="model.speciality" name="speciality" (change)="searchSchedule2()" >
                              <option>-----</option>
                              <option *ngFor="let sp of specialities" [ngValue]="sp" [selected] = "sp.speciality_id == model.speciality.speciality_id">{{sp.speciality_name}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="">
                          <div class="alert alert-warning alert-msg-wait" *ngIf="showWaitMsg">
                            Please wait...
                          </div>
                          <div class="alert alert-danger" *ngIf="showNotFoundMsg">
                            Schedule not found
                          </div>
                        </div>
                      </div>
                </ng-template>
              </ngb-tab>
          </ngb-tabset>
    </div>

      <app-widget-doctor-schedule
        (opScheduleSelected)="getScheduleData($event)">
      </app-widget-doctor-schedule>
      <div style="height:5vw; clear:both;"></div>
      <app-widget-create-appointment
        *ngIf="opScheduleSelected"
        (opSlotSelected)="getSlotData($event)"
        [appointmentPayloadInput]="createAppInputData">
      </app-widget-create-appointment>
    </div>

  </div>
</div>
<div class="modal-footer">
  <div class="col-md-3">
  </div>
  <div class="col-md-5">
  </div>
  <div class="col-md-4" style="text-align: right">
    <button class="ms_btn_border ms_btn_black" style="padding: 0.3vw 0vw; width: 7vw" #close_btn_reschedule aria-label="Close" (click)="close()">Cancel</button>
    <button class="ms_btn_border ms_btn_green" style="padding: 0.3vw 0vw; width: 7vw" (click)="updateAppointment()" (click)="close()">Save & Close</button>
  </div>