a:hover {
  cursor:pointer;
  text-decoration: underline !important;
}

.content-doctor-schedule-group {
    /*height: 575px;*/
    /*overflow-y: scroll;*/
    position: relative;
  }
  
  .content-doctor-schedule-group-1 h3 {
    color:#717171;
  }
  .content-doctor-schedule-group-2 {
  
  }
  
  .content-doctor-schedule-group-2 table {
    text-align: center;
  }
  
  .content-doctor-schedule-group-2 table td {
    width: 200px;
  }
  
  .content-doctor-schedule-group-2 table td strong {
    font-weight: normal;
  }
  
  .content-doctor-schedule-group-2 table td p a {
    color: #000000;
  }
  
  .content-doctor-schedule-group-2 .notes{
    text-align: left;
  }
  
  .alert-msg-wait {
    /*position: fixed;*/
    /*top: 80px;*/
    /*right: 50px;*/
    /*width: 300px;*/
    /*z-index: 3;*/
  }
  
  .centering{
    position: absolute;
    /*top: 50%;*/
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }
  
  .box {
    text-align: right;
    /*margin-bottom: 25px;*/
  }
  .btn-box {
    width: fit-content;
    margin-left: auto;
    position: relative;
    z-index: 1;
  }
  .btn-nav{
    border-radius: 2px;
    border: none;
    margin: 0px 5px;
    padding: 0px 15px;
    height: 28px;
  }
  .btn-left-right{  background: #808080 !important;}
  .btn-left-right:hover {cursor: pointer}
  .btn-left-right-disabled{  background: #dcdcdc !important;}
  
  .success-light {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: green;
    display: inline-block;
    border: solid 1px #333333;
    margin-left: 5px;
    margin-right: 5px;
  }
  .past-light {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: yellow;
    display: inline-block;
    border: solid 1px #333333;
    margin-left: 5px;
    margin-right: 5px;
  }
  .danger-light {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: red;
    display: inline-block;
    border: solid 1px #333333;
    margin-left: 5px;
    margin-right: 5px;
  }
  .content-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0;
  }
  .header_right{
    display: flex;
    justify-content: flex-end;
  }
  .group-2 .header-doctor{
    margin: 0px 10px;
    padding: 10px 0px;
  }
  ::ng-deep.group-2 .card{
    border: none ;
    box-shadow: 0 2px 4px #cccccc;
    border-radius: 4px;
    margin: 1rem 0rem;
  }
  
  ::ng-deep .first{
    border-top : 1px solid red !important;
  }
  
  th, td{
    border: none;
  }
  .date-format{
    color: #6E6E6E;
  }
  ::ng-deep .card-body {
    padding: 0px;
  }
  
  
  /*HARD CODED FOR BY KEYWORD TABLE (SAME CLASS WITH FIRST TABLE BUT DIFFERENT FORMAT)*/
  .group-1{ background: white; border-radius: 4px}
  ::ng-deep .group-1 .header-doctor{
    padding: 10px !important; background: none;
  }
  ::ng-deep .group-1 .card{ border: none !important;}
  ::ng-deep .group-1 .card-header, .group-2 thead th{
    background-color: #F4F4F4 !important;
  }
  ::ng-deep .group-1 .card-header button,.group-2 thead th{
    font-size: 12px !important;
    /*font-weight: bold !important;*/
    color: #1A2268 !important;
  }
  ::ng-deep .container-table .card-header{
    border-top: #1A2269 solid 0.2px  ;
    padding: 0.75rem 1.25rem !important;
    padding-left: 2rem !important;
  }
  
  /*END*/
  /*HARD CODED FOR BY Second TABLE (SAME CLASS WITH FIRST TABLE BUT DIFFERENT FORMAT)*/
  ::ng-deep .group-2 .card-header{
    background: none !important;
    border-bottom: none;
  }
  ::ng-deep .group-2 .card-header button{
    font-size: 16px !important;
    font-weight: bold !important;
    color: black;
  }
  ::ng-deep .group-2 .card-body thead th{
    background-color: #F4F4F4;
    font-size: 12px;
    color: #1A2269;
  }
  ::ng-deep thead > th{
    text-align: left;
    padding: 0.75rem 0 0.75rem 2rem  !important;
  }
  .group-2 table thead th{
    vertical-align: top;
    border-top: #1A2269 solid 0.2px  ;
  }
  /*END*/
  
  .group-1 thead th, .group-2 tbody tr:first-child{
    border-bottom: #C1C1C1 solid 0.2px;
  }
  
  ::ng-deep p{
    margin: 0;
  }
  
  .showing_result{
    margin-right: 10px;
  }
  ::ng-deep .col{
    padding: 0 !important;
  }
  
  ::ng-deep.card-body div > button{
    color: #1A2268 !important;
    /*color: black !important;*/
    /*@extends .table-header; work for sass*/
    font-size: 12px !important;
    font-weight: bold !important;
    padding: 10px;
    /*background: bl  ack !important;*/
  }
  ::ng-deep .card div > button:hover {
    text-decoration: none;
    color: initial;
  }
  
  
  .notes{
    padding-left: 2rem;
  }
  .notes-header{
    color: #C43D32;
  }
  tr li{
    margin-bottom: 0.2rem;
  }
  tr th, tr td{
    padding: 0.5rem;
  }
  th ul{
    list-style-type: none;
    padding-left: 0.5rem;
    margin: 0;
  }
  .fl-row{
    display: flex; flex-direction: row;
  }
  .doctor-notes-text{
    font-size: 12px;
    font-weight: bold;
  }
  table td{vertical-align: top}
  
  ::ng-deep .card button[aria-expanded="true"]:before{
    content: url("https://gtn-mysiloam-01.siloamhospitals.com/fo-assets/icons/ic_ArrowUp.png");
    color: black;
  }
  ::ng-deep .card button[aria-expanded="false"]:before{
    content: url("https://gtn-mysiloam-01.siloamhospitals.com/fo-assets/icons/ic_ArrowDown.png");
    color: black;
  }
  .p-absolute {
    position: absolute;
  }