<div *ngFor="let alert of alerts" class="alert-fixed-div">
  <ngb-alert *ngIf="alert" type="{{cssAlertType(alert)}}" (close)="removeAlert(alert)">{{ alert.message }}</ngb-alert>
</div>

<div class="fd-column" id="tutorial4">
  <div class="jc-space-between content-appointment-01-group-col">
    <div style="margin-bottom: 1vw; margin-top: 1vw">
      <div class="header-2 center-text">{{checkUpName}}</div>
      <div class="body-text center-text"><span class="bold">Hospital:</span> {{hospitalName}}</div>
    </div>
    <div></div>
  </div>

  <div *ngIf="doctorNotes" class="notes-container d-flex justify-content-start">
    <div>
      <img class="icon" src="{{assetPath}}icons/ic_Warning.png">
    </div>
    <div class="">
      <div class="bold">Important Notes:</div>
      <div>
        <div *ngFor="let note of doctorNotes">
          - {{ note.note }}
        </div>
      </div>
    </div>
  </div>

  <div class="content-appointment-01-group-col-2" *ngFor="let schArray of appList; let i=index;">
    <div>
      <table class="table shadow-4" id="tutorial8">
        <thead *ngFor="let schList of schedule">
          <tr id="{{schList.checkup_schedule_id}}" style="scroll-margin-top: 100px;" *ngIf="schList.checkup_schedule_id === schArray.checkup_schedule_id">
            <th colspan="11" class="header-2 left-text no-padding center-text" style="padding: 1rem 1rem">
              {{ appDateDisplay }} | Floor {{ schList.floor_name }} - Wing {{ schList.wing_name }} - Room
                {{ schList.room_name }} ( {{ schList.from_time }} - {{ schList.to_time }} )
            </th>
          </tr>
          <tr class="column-header foot-note blue table-title" *ngIf="schList.checkup_schedule_id === schArray.checkup_schedule_id">
            <th *ngFor="let header of table1Header">{{header}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let app of schArray.appointment; let i=index">
            <td class="st-kolom-time">{{app.appointment_range_time}}</td>
            <td style="text-align: center;">
              {{app.no}}
            </td>
            <td *ngIf="app.is_can_create && !isOriginal" class="st-kolom-available"
            (click)="openCreateAppModal2(app)"><a>Available</a></td>
            <td *ngIf="!app.is_can_create">
              {{app.patient_name}}
            </td>
            <td>{{app.date_of_birth}}</td>
            <td>{{app.local_mr_no}}</td>
            <td>{{app.phone_no}}</td>
            <td>{{app.patient_visit_number}}</td>
            <td>{{app.appointment_note}}</td>
            <td>
              <a ngbPopover="{{app.modified_name}}" popoverTitle=""
                triggers="mouseenter:mouseleave">{{app.modified_name && app.modified_name.length > 10 ? app.modified_name.substr(0,10)+"..." : app.modified_name}}</a>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="i < schLength - 1">
      <hr class="line-border">
    </div>
    
  </div>
</div>