<div class="fo_container_input_date">
  <label class="foot-note" for="doctor_name">Appointment Date</label>
  <div>
    <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="dateAppointment"
      (dateChanged)="onDateChange($event)"></my-date-picker>
  </div>
  
</div>

<div class="fo_container_list shadow-4">
  <table class="table table-bordered">
    <thead class="fo_color_blue foot-note">
      <th style="width: 1em;">No.</th>
      <th style="width: 9em">Kode Konfirmasi</th>
      <th style="width: 10em">Tgl Submit Form</th>
      <th style="width: 14em">Nama Pasien</th>
      <th style="width: 8em;">No. Telp</th>
      <th style="width: 12em;">Layanan</th>
      <th style="width: 8em">Jam Perjanjian</th>
      <th style="width: 7em">View Detail</th>
      <th style="width: 7em; text-align: center;">Payment Status</th>
    </thead>

    <tbody>
      <tr class="fo_header_grey filter-row">
        <td></td>
        <td>
          <div class="inner-addon right-addon">
            <i class="glyphicon fa fa-search"></i>
            <input type="text" class="form-control" placeholder="Confirmation Code" [(ngModel)]="model.confirmCode"
              (change)="searchOrderList(true)" />
          </div>
        </td>
        <td>
          <div class="inner-addon right-addon">
            <i class="glyphicon fa fa-search"></i>
            <input type="text" [textMask]="{mask: mask_birth}" class="form-control" [(ngModel)]="model.submitDate"
              (change)="searchOrderList(true)"  placeholder="dd-mm-yyyy" />
          </div>
        </td>
        <td>
          <div class="inner-addon right-addon">
            <i class="glyphicon fa fa-search"></i>
            <input type="text" class="form-control" placeholder="Name" [(ngModel)]="model.name"
              (change)="searchOrderList(true)" />
          </div>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
				<td></td>
      </tr>

      <tr *ngFor="let itr of orderList; let i=index">
        <td>{{ i + 1  }}</td>
        <td>{{itr.confirmation_code}}</td>
        <td>{{itr.submit_date}}</td>
        <td>{{itr.name}}</td>
        <td>{{itr.phone_number}}</td>
        <td>{{itr.package_name ? itr.package_name : '' }}</td>
        <td>
          <span *ngIf="itr.appointment_start_time && itr.appointment_end_time">
            {{itr.appointment_start_time.substr(0,5)}} - {{itr.appointment_end_time.substr(0,5)}}
          </span>
        </td>
        <td style="text-align: center;">
					<span class="css-hyperlink" (click)="openDetailList(itr, getDetail)">
						View
					</span>
        </td>

        <td style="text-align: center;">
					<div style="color: white;">
            <div style="background:green; border-radius: 1em; padding: 0.2em" *ngIf="itr.payment_status === paymentStatus.PAID">
              <span>Paid</span>
            </div>
            <div style="background: rgb(170, 167, 167); border-radius: 1em;" *ngIf="itr.payment_status === paymentStatus.NOTPAID">
              <span>Waiting Payment</span>
            </div>
            <div style="background: red; border-radius: 1em;" *ngIf="itr.payment_status === paymentStatus.PAYMENTEXPIRED">
              <span>Payment Expired</span>
            </div>
            <div style="background: cornflowerblue; border-radius: 1em;" *ngIf="itr.payment_status === paymentStatus.PAYLATER">
              <span>Pay Later</span>
            </div>
          </div>
        </td>
      </tr>
      <tr style="text-align: center;">
        <td *ngIf="showNotFoundMsg" colspan="13">Result not found</td>
        <td *ngIf="showWaitMsg" colspan="13">
          <ngb-progressbar value="1000">Loading...</ngb-progressbar>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<section class="full-width" id="group-list-appointment">
  <button *ngIf="isCanPrevPage" (click)="prevPage()" class="btn ms_btn_blue">
    <img src="{{assetPath}}icons/ic_ArrowRight_White.png"> Prev
  </button>
  <span style="width:10px">&nbsp;</span>
  <button *ngIf="isCanNextPage" (click)="nextPage()" class="btn ms_btn_blue">
    Next <img src="{{assetPath}}icons/ic_ArrowLeft_White.png">
  </button>
</section>

<ng-template #getDetail let-modal let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">List Detail</h4>
		<button type="button" #closeOne class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<table *ngIf="flagDetail" class="table table-bordered">
			<thead class="body-text bold">
				<th style="width: 1em;">No.</th>
        <th style="width: 14em">Nama Pasien</th>
        <th style="width: 16em">Tgl Lahir</th>
				<th style="width: 8em;">No. Telp</th>
				<th style="min-width: 9em">Pasien Baru / Pasien Lama</th>
				<th style="min-width: 9em">Action</th>
			</thead>

			<tbody>
        <tr class="fo_header_grey filter-row">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <select id="title" class="form-control" (change)="searchPreRegistration(true)" [(ngModel)]="modelTwo.isNew"
                name="dropDownIsWaitingList">
                <option [ngValue]=undefined [selected]="modelTwo.isNew === undefined">ALL</option>
                <option value=false>Pasien Lama</option>
                <option value=true>Pasien Baru</option>
              </select>
          </td>
          <td></td>
        </tr>

				<tr *ngFor="let itr of appPreList; let i=index">
					<td>{{i+1}}</td>
          <td>{{itr.name}}</td>
          <td>{{itr.new_birth_date}}</td>
					<td>{{itr.phone_number_1}}</td>
					<td *ngIf="itr.is_new === true">Pasien Baru</td>
					<td *ngIf="itr.is_new === false">Pasien Lama</td>
					<td style="text-align: center;">
						<button *ngIf="itr.is_processed === false && itr.is_new === true" 
							class="btn ms_btn_green_lime" [disabled]="flagClose" style="color: black; font-weight: bold;" (click)="createPatient(itr, closeOne)">
							Registrasi
						</button>
						<button *ngIf="itr.is_processed === false && itr.is_new === false" 
							class="btn ms_btn_green_lime" style="color: black; font-weight: bold;" (click)="searchPatient(itr, closeOne)">
							Registrasi
						</button>
					</td>
				</tr>
			</tbody>
		</table>
    <p *ngIf="!flagDetail">Result Not Found</p>
    <button *ngIf="isCanPrevPageTwo" (click)="prevPageTwo()" class="btn ms_btn_blue">
      <img src="{{assetPath}}icons/ic_ArrowRight_White.png"> Prev
    </button>
    <span style="width:10px">&nbsp;</span>
    <button *ngIf="isCanNextPageTwo" (click)="nextPageTwo()" class="btn ms_btn_blue">
      Next <img src="{{assetPath}}icons/ic_ArrowLeft_White.png">
    </button>
  </div>
</ng-template>

<ng-template #payment let-modal let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">payment</h4>
		<button type="button" #closeOne class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
    <div class="row">
      <div class="col-md-6" style="text-align: right; margin-top: 0.4rem;">
        Input Pembayaran : <span style="margin-left: 1rem;">Rp</span>
      </div>
      <div class="col-md-6" style="text-align: left; padding-left: 0;">
        <input type="number" onkeydown="return event.keyCode == 69 ? false : true" 
          type="number" style="width: 9rem;" class="form-control" [(ngModel)]="paymentTotal" />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn ms_btn_black" (click)="modal.close()">Cancel</button>
    <button class="btn ms_btn_green" (click)="openConfirmationModal(direct_payment)">Confirm</button>
  </div>
</ng-template>

<ng-template #direct_payment let-modal>
  <div class="modal-header">
    <div class="header-2 modal-padding">Confirmation</div>
  </div>
  <div class="modal-body">
    Are you sure to proceed?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn ms_btn_black" (click)="modal.close()">Cancel</button>
    <button class="btn ms_btn_green" [ngClass]="{'disable': confirmBut}"
     (click)="paymentProcess()">Confirm</button>
  </div>
</ng-template>