.flag-payment {
  background-color: darkblue; 
  color: white; 
  border-radius: 5px; 
  padding: 0.2em; 
  font-weight: bold; 
  font-size: 12px; 
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.inter-checkbox {
  height: 19px;
  width: 19px;
}

.image-upload>input {
  display: none;
}
.image-upload button
{
    width: 80px;
    cursor: pointer;
}

.inter-checkbox {
  height: 15px;
  width: 15px;
}

::ng-deep .fo_modal_admission_2 .modal-dialog {
  width: 55em;
}

::ng-deep .fo_modal_admission_3 .modal-dialog {
  width: 45em;
}

.ms_btn_blue_module{ 
  background: dodgerblue; 
  color: white;
  border-radius: 5px;
  width: 7em;
}

.space-text {
  margin-bottom: 1.5em;
}

.space-text-two {
  margin-bottom: 2.4em;
}

::ng-deep .modal_bpjs .modal-dialog { 
  max-width: 40%;
  width: 40%;
  margin-top: 7vw;
}

.content-header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.left-text{
  text-align: left;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}

.custom-app-bpjs{
  background-color: white;
  border-radius: 10px;
  padding: 1em;
}

.flag-tele {
  background-color: #6767ff; 
  color: white; 
  border-radius: 5px; 
  padding: 0.2em; 
  font-weight: bold; 
  font-size: 14px; 
  padding-left: 1em; 
  padding-right: 1em;
  margin-left: 2em;
  margin-right: 2em;
}

hr.line-border {
  border-top: 10px solid silver;
  border-radius: 3px;
}

.content-appointment-01-group-row {
  padding: 0 15px;
  /*width: 800px;*/
}

.content-appointment-01-group-col {
  /*margin: 0 0 10px 0;*/
}

.content-appointment-01-group-col .head-title {
  font-size: 22px;
  font-weight: 500;
  color: #717171;
  border-bottom: solid 1px #333333;
}

.content-appointment-01-group-col .head-title2 {
  font-size: 20px;
  /*text-transform: uppercase;*/
}

.content-appointment-01-group-col-2 table td {
  text-align: left;
  vertical-align: middle;
}
 .content-appointment-01-group-col-2 .st-kolom-time {
  white-space: nowrap;
 }

th {
  text-align: center;
}

.content-appointment-01-group-col-2 table{
  background: white;
  margin-bottom: 2rem;
  border-radius: 8px;
}
.content-appointment-01-group-col-2 td{
  height: 2.5rem;
}

.content-appointment-01-group-col-2 a {
  color: #4D9B35;
  cursor:pointer;
  display: block;
}

.content-appointment-01-group-col-2 span {
  cursor:not-allowed;
}

::ng-deep .cc_modal_confirmation .modal-dialog{
  max-width: min-content !important;
}
::ng-deep .cc_modal_confirmation .thead > th {
  padding: 0;
}

tbody td:last-child{
  padding-left: 0;
  text-align: center;
}

.content-appointment-02-group-col {
  /*padding: 15px;*/
  background: white;
  border-radius:4px;
}

.page-title {
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
  border-bottom: solid 1px #717171;
}

.content-appointment-02-group-col h3 {
  color:#717171;
}

.content-appointment-02-group-col h3 small {
  font-size: 22px;
  font-weight: 300;
  color:#333333;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.content-appointment-02-group-col input {
  display: block;
}

.content-appointment-02-group-col button {
  border: 1px solid #ced4da;
}

.search-patient-modal tbody tr:hover {
  background: #4D9B35;
  color: white;
}

.search-patient-modal table td{
  cursor: pointer;
}

.cancel-button-x {

}
.jc-space-between{
  display: flex;
  justify-content: space-between;
  width: inherit;align-items: center;
}
.fd-column{
  display: flex;
  flex-direction: column;

}
/*.btn-back{*/
/*padding: 5px 5px;*/
/*border: none;*/
/*border-radius: 2px ;*/
/*background: white;*/
/*color: #4D9B35;*/
/*}*/
.center-text{
  text-align: center;
  align-items: center;
}
.left-text{
  text-align: left;
  align-items: center;
}
.right-text{
  text-align: right;
}
:host{
  width: 100%;
}
.blue{
  color: #1A2269;
}
.table td, .table th{ border: none}
th , td {
  text-align: left;
  padding: 0.75em 0.75em;
}
td span{
  padding-left: 0;
}
/*tr:last-child{*/
/*border-bottom: 0.5px solid #C1C1C1;*/
/*}*/
table td:first-child {
  width: 1%
}
.table-title{
  background: #F4F4F4;
}
::ng-deep table tbody{ /*garis di atas logo mysiloam*/
  /*border-bottom: 0.5px solid #C1C1C1 !important;*/
}
table td:not(:first-child){
  border-left: 0.5px solid #C1C1C1;
}
::ng-deep .modal-dialog{  width: fit-content; }

.create-appointment-modal {
  width: 40rem;
}

.search-patient-modal {
  width: inherit;
  min-height: 40rem!important;
  height: fit-content;
  padding: 0;
}
.modal-padding{
  padding-left: 1rem;
}

.overflow{
  overflow: hidden;
  max-width: 20rem;
}

.bg_green{
  background: #4D9B35;
}
.filter-input{
  background: url("https://gtn-mysiloam-01.siloamhospitals.com/fo-assets/icons/ic_Search_Black.png");
  background-color: white;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: right;
}

a{ text-decoration: none !important;}

.btn-grey{
  background: #f4f4f4  !important;
  color: black !important;
  border-left: 1px solid black;
}

.st-kolom-no{ padding: 0.75rem 2rem !important}
.st-kolom-button{ text-align: center !important;padding: 0.5vw 1vw !important;}
.st-kolom-button > div {
  display: flex; justify-content: center
}
.st-kolom-available{ background: #F4F4F4 !important;}
.st-kolom-available:hover{ border: #2884B7 0.5px solid !important}
.st-error-text{color: red;}
.st-error-border{border: red 1px solid; border-bottom-left-radius: 4px; border-top-left-radius: 4px}

.cc_selectall_container{
  background: white;
  border-radius: 0.25rem ;
  padding: 4px 8px;
}
.cc_container_btn_topleft > div{
  margin-right: 0.5vw;
}
.jc-space-between > div { width: 100%}
.cc_row_rescheduled{
  background: #f4f4f4;
  color: #c1c1c1;
}
.ms_btn_disabled{
  background: #C1C1C1 !important;
}

::ng-deep .cc_model_confirmation .modal-dialog{
  width: 20%!important;
  margin: 10% auto;
}


::ng-deep .modal-searchPatient .modal-dialog { max-width: 100%; width: 80%}
::ng-deep .modal-searchPatient .modal-dialog .modal-body { max-height: 60vh; overflow-y: scroll}















/*Custom CheckBox*/

/* The container */
.check_box_container{
  display: block;
  position: relative;
  padding-left: 1vw;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check_box_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: #eee;
  border: 0.5px solid;
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.check_box_container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check_box_container input:checked ~ .checkmark {
  background-color: #4D9B35;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check_box_container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check_box_container .checkmark:after {
  left: 4px;
  top: 1px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 1.5px 1.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 4px;
}


.fo_confirmation_button.justify-content-center button{
  margin: 2rem 1rem;
  width: 9rem; height: 2.7rem;
}


.cell-img-nav, .cell-img-nav-single {
 text-align: center;
}
.cell-img-nav > div, .cell-img-nav > div > img {
  width: 2em;
}
.checkin_btn_filler.checkin_btn_filler.checkin_btn_filler  {
  width: 0.5em; opacity: 0;
}
.cell-img-nav-single > div, .cell-img-nav-single > div > img {
  width: 60%;
}


.fo_create_admission_body label{ font-size: 10px}
::ng-deep .fo_modal_admission .modal-dialog {
  margin: 10% auto;
  max-width: 50%;
}

.fo_create_admission_body_two label{ font-size: 10px}
::ng-deep .fo_modal_admission .modal-dialog {
  margin: 10% auto;
  max-width: 50%;
}

.fo_btn_admission{ height: 2.7rem; width: 12rem;
  border: none; border-radius: 2px;
  font-size: 14px;
  margin-left: 1rem;
}

.fo_create_admission_body > div > div > div:not(:last-child) {
  margin-right: 14px;
}
.fo_create_admission_body > div { padding: 9px 0px}
.fo_create_admission_body > div:last-child{
  padding-top: 30px;
}
.fo_create_admission_body .justify-content-between > div:not(:last-child){
  margin-right: 14px;
}

.fo_create_admission_body_two > div > div > div:not(:last-child) {
  margin-right: 14px;
}
.fo_create_admission_body_two > div { padding: 9px 0px}
.fo_create_admission_body_two > div:last-child{
}
.fo_create_admission_body_two .justify-content-between > div:not(:last-child){
  margin-right: 14px;
}

.modal-message {
  padding: 15px 0;
  text-align: right;
}

::ng-deep .modal_queue .modal-dialog { 
  max-width: 40%;
  width: 40%;
  margin-top: 7vw;
}

::ng-deep .modal_verification .modal-dialog { 
  max-width: 40%;
  width: 40%;
  margin-top: 7vw;
}

.modal-body p { text-align: center}
::ng-deep .fo_modal_confirmation .modal-dialog{
  max-width: 30%;
  margin: 10rem auto;
}

::ng-deep .fo_modal_confirmation .modal-body div {
  text-align: center;
}


::ng-deep .cc_modal_block .modal-dialog {
  max-width: 70%;
  min-width: 540px;
}

.select-time {
  width: 55px;
  display: inline;
}

.kolom-nama {
  white-space: nowrap;
}
.block-error-msg {
  color: red;
  min-height: 25px;
  font-weight: bold;
  padding: 0;
}

.kolom-nama-container {
  display: flex;
  justify-content: space-between;
}


table {
  font-size: 1.1em;
}
table th, table td{
  width: 1%;
  white-space: nowrap;
}
table tr:last-child th{
  background: #F4F4F4;
  color: #1A2269;
}
table th, table td{ border: none}
table th:not(:last-child), table td:not(:last-child){
  border-right: 0.5px solid #C1C1C1;
}
table tbody tr:not(:last-child){ border-bottom: 0.5px solid #C1C1C1}

.dateCol {
  white-space: nowrap;
}

.verifyFilter > div {
  margin-right: 1em;
}

.modal-dialog {
  max-width: 100em;
  width: fit-content;
  margin: 10% auto;
}

#confirming .modal-dialog {
  max-width: 100em;
  width: fit-content;
  margin: 15% auto;
}

.newPatientIcon {
  text-align: right;
  min-width: 4em;
  cursor: pointer;
}
.newPatientIcon > span {
  background: black;
  border-radius: 0.2em;
  padding: 0.1em 0.3em;
  color: white;
  position: relative;
}
.newPatientIcon > span > span { display: none}
.newPatientIcon > span:hover > span {
  content: 'Do not play with fire';
  padding: 0.5em 1em;
  border-radius: 0.3em 0.3em 0 0.3em;
  box-shadow: 0.1em 0.3em 0.4em #d9d9d9;
  background: white;
  color: black;
  position: absolute;
  display: block;
  z-index: 9;
  top: -3em;
  right: 0;
}

.verifySearch {
  background: #1A2269;
  border-radius: 0.3em;
  padding: 0.42em 1em;
  margin-bottom: 0.1em;
  margin-top: auto;
}
.verifySearch > img{
  width: 1.5em;
  height: 1.5em;
}

.verifyTable table {
  width: 100%;
}
.verifyTable table tr th {
  background: white;
}
.verifyTable table tbody tr:hover {
  background: #4D9B35;
  color: white;
}

.selectedVerify {
  background: #4D9B35;
  color: white;
}

.warningLength {
  position: relative;
}

.warningLength > input {
  border: #F2C22C 0.2em solid;
  box-shadow: none;
}
.warningLength:after {
  position: absolute;
  top: -5em;
  right: 0;
  content: 'Name length must be more than 3';
  padding: 0.5em 1em;
  background: white;
  box-shadow: 0.1em 0.1em 0.3em #c1c1c1;
  animation: opacity 0.2s ease-in;
}

@keyframes opacity {
  from { opacity: 0}
  to { opacity: 1}
}

tbody tr:last-child {
  border-bottom:  #C1C1C1 0.5px solid;
}

.createContactContainer {
  font-size: 1.4em;
  text-align: center;
  margin: 1em;
}
.createContactContainer > div {
  margin: 1em;
}

.filler-05 {
  width: 0.5em;
}
.bookingSuccess {
  text-align: center;
  font-size: 1.2em;
  color: #4D9B35;
}

#cancelTempModal { text-align: center}
#cancelTempModal .modal-footer { justify-content: center}
.cancelBookConfirmation { padding: 1em 2em}
.cancelBookConfirmation > span{
  font-weight: 600;
}
.scrollTable {
  position: relative;
  overflow-y: auto;
}
.scrollTable tr:first-child th {
  position: sticky;
  top: 0;
  background: white;
}
.scrollTable tr:first-child th:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 0.1em solid #c1c1c1;
}
.scrollTable thead tr:first-child{
  border-bottom: none;
}

.verifyTable {
  max-height: 30em;
}

.column-header > th{
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
  border: none;
  height: 2.5rem;
  font-weight: normal;
  position: sticky;
  top: 4.4em;
  background: #f4f4f4;
}
.column-header > th:not(:first-child) {
  border-left: 0.5px solid #c1c1c1
}

.notes-container {
  border-radius: 0.3em;
  border: 0.2em solid #d9d9d9;
  background: #fcf2cb;
  padding: 0.5em 1em;
  margin: 0.5em;
  color: #c43d32;
  position: sticky;
  top: 90px;
  z-index: 10;  
}
.notes-container img {
  width: 2em;
  height: 2em;
  margin-top: 0.5em;
  margin-left: 0;
  margin-right: 1em;
  -webkit-animation: twinkle 1s infinite;
  -o-animation: twinkle 1s infinite;
  animation: twinkle 1s infinite;
}
.notes-container > div:nth-child(2) {
  width: 100%;
}
.notes-container > div:nth-child(2) > div {
  /*display: flex;*/
  /*justify-content: start;*/
}
.notes-container > div:nth-child(2) > div > div{
  width: 50%;
}
.notes-container > div:nth-child(2) > div > div:nth-child(odd){
  float: left;
}
.notes-container > div:nth-child(2) > div > div:nth-child(even){
  float: right;
}

@-webkit-keyframes twinkle {
  0% { opacity: 1}
  50% { opacity: 0}
  100% { opacity: 1}
}
@-moz-keyframes twinkle {
  0% { opacity: 1}
  50% { opacity: 0}
  100% { opacity: 1}
}
@-o-keyframes twinkle {
  0% { opacity: 1}
  50% { opacity: 0}
  100% { opacity: 1}
}
@keyframes twinkle {
  0% { opacity: 1}
  50% { opacity: 0}
  100% { opacity: 1}
}
