<div class="modal-content" id="tutorial5">
  <div class="modal-header" id="modal-bpjs">
    <div class="header-2 modal-padding">Create Appointment</div>
    <button #close_button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-label="Close"
            (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="padding: 0.5rem;" id="modal-bpjs-2">

    <div class="col-md-12 content-appointment-02-group-col" >

      <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
        <div class="row" *ngIf="fromRegistration == false">
          <label class="col-md-6 col-form-label foot-note"><span style="font-weight: bold; font-size: 14px;">BPJS No.</span></label>
          <div class="col-md-6 col-form-label">
          </div>
          <div class="col-md-6 input-group">
            <input 
              type="text" 
              class="form-control" 
              placeholder="input BPJS number..." 
              name="bpjsNumber" 
              [(ngModel)]="bpjsCardNumber"
              disabled>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-2">
            <button class="btn fo_btn_blue" (click)="searchDataBPJS()">Check</button>
          </div>
          <div class="col-md-2"></div>
        </div>
        <div class="row" *ngIf="fromRegistration === true">
          <label class="col-md-4 col-form-label foot-note">
            <span style="font-weight: bold; font-size: 14px;">BPJS No.</span>
          </label>
          <div class="col-md-1">
          </div>
          <label class="col-md-4 col-form-label foot-note">
            <span style="font-weight: bold; font-size: 14px;">NIK</span>
          </label>
          <div class="col-md-3 col-form-label">
          </div>

          <div class="col-md-4 input-group">
            <input 
              type="text" 
              class="form-control" 
              placeholder="input BPJS number..." 
              name="bpjsNumber" 
              [(ngModel)]="bpjsCardNumber">
          </div>
          <div class="col-md-1 input-group" style="vertical-align: middle;">
            or
          </div>
          <div class="col-md-4 input-group">
            <input 
              type="text" 
              class="form-control" 
              placeholder="input national id no..." 
              name="nationalIdNo" 
              [(ngModel)]="nationalIdNo">
          </div>
          <div class="col-md-3">
            <button class="btn fo_btn_blue" (click)="searchDataBPJS()" 
            [disabled]="(!bpjsCardNumber && !nationalIdNo)">Check</button>
          </div>
        </div>
        <div>
          <span *ngIf="messageBpjs" style="color: red; font-size: 9px;">{{messageBpjs}}</span>
        </div>

        <div class="form-ca-phoneno form-group row" style="font-weight: bold; margin-top: 1em;">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                Status Peserta: 
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                NIK: 
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                Nama Peserta:
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                Tanggal Lahir:
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                Diagnosa:
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                No. Rujukan:
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                Dirujuk ke RS:
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                Dirujuk ke Spesialisasi:
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                Akhir Masa Berlaku Surat Rujukan:
              </div>
            </div>
          </div>

          <div class="col-md-6" *ngIf="!bpjsData?.length">
          </div>

          <div class="col-md-6" *ngIf="bpjsData?.length">
            <div class="row">
              <div class="col-md-12">
                {{bpjsData.statusPeserta.keterangan}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                {{bpjsData.nik}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                {{bpjsData.nama}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                {{bpjsData.tglLahir}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                {{bpjsData.diagnosa.nama}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                {{bpjsData.noKunjungan}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                {{bpjsData.provPerujuk.nama}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                {{bpjsData.poliRujukan.nama}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                {{bpjsData.expiredDate}}
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-1 form-group">
            <input class="form-control inter-checkbox" type="checkbox" name="isRujukanInternal" (change)="rujukanInternalVal()" [(ngModel)]="isRujukanInternal">
          </div>
          <div class="col-md-3" *ngIf="!isRujukanInternal">
            <span style="font-weight: bold;">Rujukan Internal</span>
          </div>
          <div class="col-md-2" *ngIf="isRujukanInternal">
            <span style="font-weight: bold;">Rujukan Internal</span>
          </div>
          <div class="col-md-2" *ngIf="isRujukanInternal">
            <span style="font-weight: bold;">Referred by: </span>
          </div>
          <div class="col-md-3" *ngIf="isRujukanInternal">
            <select id="doctor" class="form-control"  [(ngModel)]="doctorId" name="doctor" required>
              <option *ngFor = "let doctor of doctorList" [ngValue]="doctor.doctor_id">
                {{doctor.name}}
              </option>
            </select>
          </div>
          <div class="col-md-1" *ngIf="isRujukanInternal">
            <span style="font-weight: bold;">Notes: </span>
          </div>
          <div class="col-md-3" *ngIf="isRujukanInternal">
            <textarea class="form-control" rows="1" name="note" [(ngModel)]="note"></textarea>
          </div>
        </div>

        <div  id="tutorial6b" class="form-group" style="margin-top: 4em;" [ngStyle]="{'text-align': 'right'}">
          <button class="btn fo_btn_blue_2" [disabled]="isSubmitting" (click)="close()">Back</button>
          
          <button class="btn fo_btn_blue_2" [disabled]="!bpjsData" (click)="openModal(searchPatient)">Confirm</button>
        </div>
        
        <div class="form-group" style="width: 37rem">
          <div *ngFor="let alert of alerts">
            <ngb-alert *ngIf="alert && !staticAlertClosed" type="{{cssAlertType(alert)}}" (close)="removeAlert(alert)">{{ alert.message }}</ngb-alert>
          </div>
        </div>

      </form>
    </div>

  </div>
</div>

<ng-template #searchPatient let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Search Patient Data</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="verifyFilter modal-body d-flex justify-content-start">
    <div class="body-text">
      <div style="font-weight: bold;">Name</div>
      <div>
        <input class="form-control" [(ngModel)]="patientName">
      </div>
    </div>
    <div class="body-text">
      <div style="font-weight: bold;">Date of birth</div>
      <div class="input-group">
        <input type="text" class="form-control" [textMask]="{mask: mask_birth}" name="birth" [(ngModel)]="dateBirth"
           placeholder="dd-mm-yyyy" />
      </div>
    </div>
    <div class="verifySearch" (click)="getSearchedPatient1()">
      <img src="{{assetPath}}icons/ic_Search_white.png">
    </div>
    <div class="textSpan">
      or
    </div>
    <div class="body-text">
      <div style="font-weight: bold;">Local MR</div>
      <div>
        <input class="form-control" placeholder="Local MR" type="text" [(ngModel)]="mrLocal">
      </div>
    </div>
    <div class="verifySearch" (click)="getSearchedPatient2()">
      <img src="{{assetPath}}icons/ic_Search_white.png">
    </div>
  </div>
  <div>
    <table class="table" style="margin-top: 1em;">
      <thead class="table-bordered">
        <td style="min-width: 10em; text-align: center">Name</td>
        <td style="min-width: 8em; text-align: center">Date of birth</td>
        <td style="white-space: nowrap; text-align: center; min-width: 8em">Central MR</td>
        <td style="min-width: 8em; text-align: center">Hospital</td>
        <td  style="min-width: 8em; text-align: center">Local MR</td>
        <td style="min-width: 10em; text-align: center">Mobile Number</td>
        <td style="min-width: 12em; text-align: center">Address</td>
        <td style="min-width: 8em; text-align: center">Action</td>
      </thead>
      <tbody>
        <tr *ngFor="let itr of patientHope"
        [ngClass]="{'selectedPatient': selectPatient 
        && itr.patientId == selectPatient.patientId 
        && itr.patientOrganizationId == selectPatient.patientOrganizationId}" (click)="choosedSearchPatient(itr)">
          <td>{{itr.name}}</td>
          <td>{{itr.newBirthDate}}</td>
          <td>{{itr.mrNo}}</td>
          <td>{{itr.hospitalAlias}}</td>
          <td>{{itr.mrNoUnit}}</td>
          <td>{{itr.mobileNo1}}</td>
          <td>{{itr.address}}</td>
          <td>
            <button type="button" class="btn-default" (click)="editPatientHopeId(itr, confirmEdit)">
              <i class="fa fa-edit"></i>
            </button>
          </td>
        </tr>
        <tr *ngIf="(!flagSearch && !loadingBar) || patientHope">
          <td colspan="8" style="text-align: center;">
            <div style="margin-top: 3em;"></div>
            <button 
            class="btn fo_btn_green_2"
            type="submit" 
            [disabled]="selectPatient" (click)="openModalCreate(create_app)">Create Appointment & Patient</button>
            <div style="margin-bottom: 3em;"></div>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="loadingBar">
        <tr>
          <td colspan="8">
            <img src="../../../../assets/icons/Logo-Animation---S(FAST).gif" width="200px" height="200px">
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="!patientHope && flagSearch && !loadingBar">
        <tr>
          <td colspan="8" style="text-align: center;">result not found</td>
        </tr>
        <tr>
          <td colspan="8" style="text-align: center;">
            <button 
            class="btn fo_btn_green_2"
            type="submit" 
            [disabled]="selectPatient" (click)="openModalCreate(create_app)">Create Appointment & Patient</button>
          </td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td colspan="3">
            <label style="font-weight: bold;">Notes</label>
            <textarea class="form-control" rows="3" name="note" [(ngModel)]="note"></textarea>
          </td>
          <td colspan="5" style="text-align: right">
            <button 
            class="btn fo_btn_blue_2" 
            type="submit" 
            [disabled]="!selectPatient" (click)="openModalCreate(create_app)">Create Appointment</button>
            <button class="btn fo_btn_red" (click)="d('Cross click')">Cancel</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <div>
    </div>
  </div>
</ng-template>

<ng-template #create_app let-modal>
  <div class="modal-header">
    <div class="header-2 modal-padding">Create Appointment</div>
  </div>
  <div class="modal-body">
    Are you sure?
  </div>
  <div class="modal-footer">
    <div class="form-group" style="width: 37rem">
      <div *ngFor="let alert of alerts">
        <ngb-alert *ngIf="alert && !staticAlertClosed" type="{{cssAlertType(alert)}}" (close)="removeAlert(alert)">{{ alert.message }}</ngb-alert>
      </div>
    </div>
    <button type="button" class="btn ms_btn_black" (click)="modal.close()">Cancel</button>
    <button class="btn ms_btn_green" [ngClass]="{'disable': confirmBut}" (click)="createAppointment()">Confirm</button>
  </div>
</ng-template>

<ng-template #confirmEdit let-modal let-c="close">
  <div class="modal-header">
    <div class="header-2 modal-padding">Update HOPE Data</div>
    <button #cls_btn_confirm type="button" class="close" aria-label="Close" (click)="c('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row spacing-row">
      <div class="col-md-7">
        Name <input [(ngModel)]="nameHope" class="form-control mob_valid_6" disabled>
      </div>
      <div class="col-md-5">
        DOB <input [(ngModel)]="birthDateFormat" class="form-control mob_valid_6" disabled>
      </div>
    </div>
    <div class="row spacing-row">
      <div class="col-md-6">
        Mobile no. (1) <input [textMask]="{mask: maskPhone}" class="form-control mob_valid_6" type="text" (keyup)="checkCountChar()" [(ngModel)]="phoneNumberOne">
        <span *ngIf="!flagCountOne || phoneNumberOne?.length === 0" style="color: red;">* min 9 character</span>
      </div>
      <div class="col-md-6">
        Mobile no. (2) <input [textMask]="{mask: maskPhone}" class="form-control mob_valid_6" type="text" (keyup)="checkCountChar()" [(ngModel)]="phoneNumberTwo">
        <span *ngIf="flagCountOne && (!flagCountTwo && phoneNumberTwo?.length > 0)" style="color: red;">* min 9 character</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        Address <br><textarea [(ngModel)]="addressHope" class="form-control" disabled>testing</textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn ms_btn_black" (click)="c('Cross click')">Cancel</button>
    <button class="btn ms_btn_green" [disabled]="(!flagCountOne || phoneNumberOne?.length === 0) 
    || (flagCountOne && !flagCountTwo && phoneNumberTwo?.length > 0) || loadingBut" (click)="confirmSavePhoneNumber(cls_btn_confirm)">Update HOPE</button>
  </div>
</ng-template>